{% extends template('page-layout-main') %}

{% define data = {
    forms: {
        register: _view.registerForm,
        login: _view.loginForm,
    },
} %}

{% block title %}
    <h3 class="page-info__title">{{ 'customer.registration.title' | trans }}</h3>
{% endblock %}

{% block content %}
    <section class="section section--last">
        <div class="grid">
            <div class="col col--sm-12 col--lg-6 spacing-x spacing-x--inner spacing-x--big">
                {% include molecule('form') with {
                    class: 'box',
                    data: {
                        title: 'customer.registration.title' | trans,
                        form: data.forms.register,
                        shouldRequireMessage: true,
                        options: {
                            action: url('register'),
                        },
                        submit: {
                            enable: true,
                            text: 'forms.submit.register' | trans,
                        },
                    },
                    qa: 'register-form'
                } only %}
            </div>

            <div class="col col--sm-12 col--lg-6 spacing-x spacing-x--inner spacing-x--big">
                {% include molecule('form') with {
                    class: 'box',
                    data: {
                        title: 'customer.login.title' | trans,
                        form: data.forms.login,
                        shouldRequireMessage: true,
                        layout: {
                            email: 'col col--sm-6',
                            password: 'col col--sm-6',
                        },
                        submit: {
                            enable: true,
                            text: 'forms.submit.login' | trans,
                        },
                        cancel: {
                            enable: true,
                            url: url('password/forgotten'),
                            text: 'forms.forgot-password' | trans,
                            icon: null,
                            class: 'link',
                            qa: 'customer-forgot-password-link',
                        },
                    },
                } only %}
            </div>
        </div>
    </section>
{% endblock %}
