@mixin shop-ui-mini-cart-detail($name: '.mini-cart-detail') {
    #{$name} {
        position: relative;
        padding: rem(13) rem(15) rem(15) rem(21);
        width: 100%;
        border-bottom: rem(1) solid $setting-color-gray-6;

        @include helper-breakpoint-media-min($lg) {
            padding-left: rem(24);
            padding-right: rem(24);
            min-width: rem(468);
            max-width: rem(620);
        }

        &:hover {
            background-color: $setting-color-gray-7;

            #{$name}__name {
                text-decoration: underline;
            }
        }

        &__title {
            font-size: $setting-font-size-base;
            color: $setting-color-gray-4;
            line-height: rem(29);
            letter-spacing: rem(0.2);
            background: $setting-color-transparent;
            cursor: pointer;

            &:hover {
                color: $setting-color-gray-4;
            }
        }

        &__name {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            max-width: rem(110);
            white-space: nowrap;
            margin-right: rem(4);

            @include helper-breakpoint-media-min($md) {
                max-width: rem(330);
            }
        }

        &__marker {
            color: $setting-color-gray-2;
            text-transform: lowercase;
        }

        &__price {
            display: block;
            transform: translateY(rem(14));
            font-size: $setting-font-size-base;
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-2;

            &--active {
                color: $setting-color-gray-4;
            }
        }

        &__info {
            font-size: rem(11);
            line-height: rem(22);
            letter-spacing: rem(0.1);
            color: $setting-color-gray-2;

            @include helper-breakpoint-media-min($lg) {
                line-height: rem(29);
            }

            &--main {
                color: $setting-color-main;
            }
        }

        &__quantity {
            display: inline-block;
            font-size: rem(11);
            line-height: rem(22);
            font-weight: fw(bold);
            letter-spacing: rem(0.4);
            color: $setting-color-white;
            background-color: $setting-color-yellow-1;
            padding: 0 rem(9);
            margin-right: rem(4);
            border-radius: $setting-border-radius;
            vertical-align: middle;

            @include helper-breakpoint-media-min($lg) {
                margin-right: rem(9);
            }
        }

        @content;
    }
}

@include shop-ui-mini-cart-detail;
