@mixin shop-ui-table($name: '.table') {
    #{$name} {
        thead {
            background-color: $setting-color-gray-7;
            text-transform: uppercase;
            font-size: map_get($setting-font-size, tiny);
            font-weight: fw(bold);
        }

        th {
            color: $setting-color-gray-5;
            font-weight: fw(bold);
        }

        th,
        td {
            padding: rem(16) rem(32);
            text-align: left;
        }

        tbody {
            font-size: map_get($setting-font-size, small);

            tr:not(:first-child) {
                border-top: 1px solid $setting-color-gray-6;
            }

            th {
                font-weight: fw(medium);
            }

            td {
                color: $setting-color-gray-4;
            }

            strong {
                color: $setting-color-gray-5;
                font-weight: fw(medium);
            }
        }

        &--expand {
            width: 100%;
        }

        &__row {
            &--inactive {
                color: $setting-color-gray-2;
            }
        }

        &__actions {
            white-space: nowrap;

            @include helper-breakpoint-media-min($lg) {
                justify-content: flex-end;
            }

            &--order {
                padding-top: $setting-grid-space;
                padding-bottom: $setting-grid-space-mobile;
                display: flex;
                justify-content: space-between;

                @include helper-breakpoint-media-min($lg) {
                    margin: 0;
                    justify-content: flex-end;
                }
            }

            &--order-item {
                flex-basis: 48%;

                @include helper-breakpoint-media-min($lg) {
                    flex-basis: auto;
                    margin-right: $setting-grid-space-mobile;
                }
            }
        }

        &__icon {
            height: 1em;
        }

        &--grid {

            thead {
                white-space: nowrap;
            }

            th,
            td {
                padding: rem(16) rem(15);
            }
        }

        &--responsive {
            @include helper-breakpoint-media-max($lg) {
                display: block;

                thead, tbody, th, td {
                    display: block;
                    text-transform: capitalize;
                }

                thead tr {
                    display: none;
                }

                tr:not(.order-detail-table__row) {
                    padding-top: $setting-grid-space;
                    padding-bottom: $setting-grid-space;
                }

                tbody tr:not(.is-hidden-sm-md) {
                    display: block;
                }

                td {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                td:before {
                    font-weight: fw(medium);
                    display: inline-block;
                    width: auto;
                    padding-right: 10px;
                }

                .transform-cell {
                    display: flex;
                    position: relative;
                    background-color: $setting-color-gray-7;

                    @include helper-breakpoint-media-min($lg) {
                        display: table-cell;
                    }

                    &::before {
                        content: attr(data-content)':';
                    }

                    &--alt {
                        padding: 0;
                        background-color: $setting-color-transparent;
                    }
                }
            }
        }

        @content;
    }
}

@include shop-ui-table();
