/*
  TODO tables are often ignored when applying BEM
  because they contain so many repetitive elements.
  Find consensus on how to deal with this and either leave
  as-is, or create BEM selectors for every element.
*/

@mixin shop-ui-table($name: '.table') {
    #{$name} {
        thead {
            background-color: $setting-color-gray-11;
            text-transform: uppercase;
            font-size: map_get($setting-font-size, tiny);
            font-weight: map-get($setting-font-weight, bold);
        }

        th, td {
            padding: rem(16) rem(32);
            text-align: left;
        }

        tbody {
            font-size: map_get($setting-font-size, small);

            tr + tr {
                border-top: 1px solid $setting-color-gray-7;
            }

            th {
                font-weight: map_get($setting-font-weight, medium);
            }

            td {
                color: $setting-color-gray-3;

                strong {
                    color: $setting-color-gray-6;
                    font-weight: map_get($setting-font-weight, medium);
                }
            }
        }

        &--expand {
            width: 100%;
        }

        &__row {
            &#{&}--inactive {
                color: $setting-color-gray-2;
            }
        }

        &__actions {
            width: 1px;
            white-space: nowrap;
        }

        &__action {
            color: $setting-color-gray-2;
        }

        &__icon {
            height: 1em;
        }

        @content;
    }
}

@include shop-ui-table();
