@mixin shop-ui-action-card-grid($name: '.action-card-grid') {
    #{$name} {
        display: flex;
        flex-wrap: wrap;
        margin: 3rem -0.5rem -0.5rem;
        width: calc(100% + 1rem);

        &__card {
            width: 50%;
            padding: 0.5rem;
            display: flex;
        }
    }
}

@include shop-ui-action-card-grid();
