.quote-table {
    margin-top: rem(20);

    tr:last-child {
        border-bottom: 1px solid $setting-color-gray-6;
    }

    th:first-child,
    td:first-child {
        padding-left: rem(30);
    }

    &__cart-name {
        color: $setting-color-gray-5;
        font-weight: fw(medium);

        &--active {
            color: $setting-color-main;
        }

        &:hover {
            color: $setting-color-alt;
        }
    }
}
