@mixin product-detail-product-cms($name: '.product-cms') {
    #{$name} {
        background: $setting-color-gray-7;
        text-align: center;
        padding: rem(33) 0 rem(40);

        @include helper-breakpoint-media-min($lg) {
            padding: rem(50) 0 rem(20);
        }

        &__title {
            max-width: 970px;
            margin: 0 auto rem(16);
            color: $setting-color-gray-5;
            font-size: rem(28);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(32);
                margin: 0 auto rem(24);
            }
        }

        &__text {
            max-width: 970px;
            margin: 0 auto;
            font-size: rem(15);
            line-height: rem(26);
            color: $setting-color-gray-2;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(18);
                line-height: rem(29);
            }

            p {
                margin: 0 0 rem(16);

                @include helper-breakpoint-media-min($lg) {
                    margin: 0 0 rem(29);
                }
            }

            a {
                color: $setting-color-gray-3;
                font-weight: fw(bold);

                &:hover {
                    color: $setting-color-alt;
                }
            }
        }

        @content;
    }
}

@include product-detail-product-cms;
