@mixin shop-ui-tile($name: '.tile') {
    #{$name} {
        display: flex;
        flex-flow: row nowrap;
        background-color: $setting-color-gray-7;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: rem(10);

        &__icon {
            flex: none;
            position: absolute;
            top: rem(20);
            right: rem(20);
            width: rem(24);
            height: rem(24);
            color: $setting-color-gray-4;

            @include helper-breakpoint-media-min($md) {
                position: static;
                margin: rem(32) 0 rem(32) rem(32);
                width: rem(32);
                height: rem(32);
            }

            &:only-child {
                margin: rem(32);
            }
        }

        &__main {
            flex: 1;
            padding: rem(23) rem(20);

            @include helper-breakpoint-media-min($md) {
                padding: rem(32);
            }
        }

        &__title {
            color: $setting-color-gray-5;
            font-size: rem(18);
            font-weight: fw(medium);
        }

        &__text {
            color: $setting-color-gray-2;
            font-size: rem(14);
            font-weight: fw(regular);
            margin: 0;

            @include helper-breakpoint-media-min($md) {
                font-size: rem(16);
            }
        }

        &__title + &__text {
            margin-top: rem(5);
        }
    }
}

@include shop-ui-tile();
