{% extends template('widget') %}

{% define data = {
    label: '',
    note: null
} %}

{% block body %}
    {% if data.note is not empty %}
        <div class="cart-item-note">
            <h6 class="cart-item-note__title">{{ data.label | trans }}:</h6>
            <div class="cart-item-note__container">
                <div class="cart-item-note__text-wrap">
                    <div class="cart-item-note__text">{{ data.note | escape | nl2br }}</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
