@mixin shop-ui-header($name: '.header') {
    #{$name} {
        position: relative;
        background-color: helper-color-light($setting-color-main);
        margin-bottom: 1rem;
        z-index: $setting-zi-header;

        &__row {
            padding: 0.5rem;
        }

        &__navigation-top {
            position: relative;
            z-index: $setting-zi-header + 3;
        }

        &__search-form {
            position: relative;
            z-index: $setting-zi-header + 2;
        }

        &__navigation-main {
            position: relative;
            z-index: $setting-zi-header + 1;
        }

        @content;
    }
}
