{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    order: _view.order,
    orderItems: _view.items,

    title: 'customer.account.order_history' | trans,
    activePage: 'order',

    billingAddressId: _view.addresses.billing.idCustomerAddress | default(''),
    shippingAddressId: _view.addresses.shipping.idCustomerAddress | default('')
} %}

{% macro address(label, address) %}
    {% if address is not empty %}
        {% embed molecule('action-card') with {
            data: {
                title: ('customer.account.default_' ~ label) | trans,
                address: address,
            }
        } only %}
            {% block content %}
                {% include molecule('display-address') with {
                    data: {
                        address: data.address
                    }
                } only %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endmacro %}

{% macro note(order) %}
    {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
        data: {
            label: 'cart_note.customer_page.order_note',
            note: order.cartNote
        }
    } only %}
{% endmacro %}

{% block customerContent %}
    {{ widgetBlock('CustomerReorderWidgetPlugin', 'formStart', data.order) }}

    {% include molecule('action-bar', 'ShopUi') with {
        modifiers: ['first'],
        data: {
            title: 'customer.profile.order_details' | trans,
            actions: [
                {
                    title: 'general.back.button' | trans,
                    url: url('customer/order'),
                    modifiers: ['hollow']
                }
            ]
        }
    } only %}

    {% include molecule('order-info', 'CustomerPage') with {
        data: {
            id: _view.order.orderReference,
            date: _view.order.createdAt | formatDateTime
        }
    } only %}

    {% include molecule('order-detail-table', 'CustomerPage') with {
        data: {
            items: data.orderItems,
            order: data.order
        }
    } only %}

    {% include molecule('order-summary', 'CustomerPage') with {
        class: 'text-right',
        data: {
            order: data.order
        }
    } only %}

    {% include molecule('action-card-grid') with {
        data: {
            cards: [
                {
                    content: _self.address('shipping_address', data.order.shippingAddress)
                },
                {
                    content: _self.address('billing_address', data.order.billingAddress)
                },
                {
                    content: data.order.cartNote is not empty ? _self.note(data.order) : ''
                }
            ]
        }
    } only %}

    {{ widgetBlock('CustomerReorderWidgetPlugin', 'formActions', data.order) }}
    {{ widgetBlock('CustomerReorderWidgetPlugin', 'formEnd', data.order) }}

    <div class="box">
        {% widget 'CommentThreadWidget' args [
            data.order.idSalesOrder,
            'sales_order',
            app.request.requestUri,
            data.order.commentThread
        ] only %}
        {% endwidget %}
    </div>
{% endblock %}
