{% extends view('order-detail', '@SprykerShop:CustomerPage') %}

{% define data = {
    products: _view.products,
} %}

{% block customerContent %}
    {% embed molecule('customer-reorder-form', 'CustomerReorderWidget') ignore missing with {
        data: {
            idSalesOrder: data.order.idSalesOrder,
        },
        embed: {
            order: data.order,
            shipmentGroups: data.shipmentGroups,
            orderShipmentExpenses: data.orderShipmentExpenses,
            products: data.products,
        },
    } only %}
        {% block formContent %}
            {% include molecule('order-detail', 'CustomerPage') with {
                data: {
                    order: embed.order,
                    shipmentGroups: embed.shipmentGroups,
                    orderShipmentExpenses: embed.orderShipmentExpenses,
                    products: embed.products,
                },
            } only %}
        {% endblock %}
    {% endembed %}

    <div class="box box--medium">
        {% widget 'CommentThreadWidget' args [
            data.order.idSalesOrder,
            'sales_order',
            app.request.requestUri,
            data.order.commentThread
        ] only %}
        {% endwidget %}
    </div>
{% endblock %}
