{% extends view('order-detail', '@SprykerShop:CustomerPage') %}

{% block customerContent %}

    {% widget 'CartReorderItemsWidget' args [
        data.order,
        data.shipmentGroups,
        data.orderShipmentExpenses,
    ] only %}
    {% endwidget %}

    <div class="box box--medium">
        {% widget 'CommentThreadWidget' args [
            data.order.idSalesOrder,
            'sales_order',
            app.request.requestUri,
            data.order.commentThread
        ] only %}
        {% endwidget %}
    </div>
{% endblock %}
