{% extends molecule('configured-bundle-quantity', '@SprykerShop:ConfigurableBundleWidget') %}

{%- block extraClass %} col col--sm-12 spacing spacing--inner{% endblock -%}

{% block form %}
    <form method="POST" action="{{ path(data.ajaxTriggerAttribute? 'cart/configured-bundle/async/change' : 'cart/configured-bundle/change', {'configuredBundleGroupKey': data.configuredBundle.groupKey }) }}">
        {% include molecule('quantity-counter') with {
            modifiers: ['cart', 'secondary'],
            data: {
                autoUpdate: true,
                numberFormatConfig: data.numberFormatConfig,
                ajaxTriggerAttribute: data.ajaxTriggerAttribute,
            },
            attributes: {
                value: data.configuredBundle.quantity,
            },
        } only %}
        <input type="hidden" name="change_configured_bundle_quantity_form[_token]" value="{{ csrf_token('change_configured_bundle_quantity_form') }}">
    </form>
{% endblock %}
