.active-filter-section {
    margin-bottom: rem(12);
    font-size: rem(14);

    &__item {
        &--title {
            display: none;

            @include helper-breakpoint-media-min($lg) {
                display: block;
            }
        }

        &--filters {
            width: 100%;

            @include helper-breakpoint-media-min($lg) {
                width: auto;
            }
        }
    }

    &__item,
    .active-filter {
        margin-bottom: rem(10);

        &:not(:last-child) {
            margin-right: rem(10);
        }
    }

    &__reset {
        @include helper-effect-transition(color);
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        font-weight: fw(bold);
        color: $setting-color-gray-4;

        @include helper-breakpoint-media-min($lg) {
            justify-content: flex-start;
        }

        &:hover,
        &:focus {
            &,
            .active-filter-section__reset-icon {
                color: $setting-color-gray-3;
            }
        }
    }
}
