$name: '.select';

@include shop-ui-select() {
    &--quick-order-page {
        #{$name}__select {
            cursor: pointer;
            padding: rem(10);
            color: $setting-color-gray-4;
        }
    }

    &__caret {
        right: rem(15);
    }
}
