@include shop-ui-select() {
    &--quick-order-page {
        padding: rem(15) rem(10);
        background-color: $setting-color-gray-7;
        border-radius: $setting-border-radius;
        color: $setting-color-gray-3;

        &:hover {
            cursor: pointer;
        }
    }

    &__caret {
        right: rem(15);
    }
}
