{% extends view('switcher', '@SprykerShop:LanguageSwitcherWidget') %}

{% define data = {
    getSchemeAndHttpHost: app.request.getSchemeAndHttpHost(),
} %}

{% block body %}
    {% if data.languages is not empty %}
        <form method="GET" action="">
            {% include molecule('language-switcher', 'LanguageSwitcherWidget') with {
                data: {
                    languages: data.languages,
                    currentLanguage: data.currentLanguage,
                    getSchemeAndHttpHost: data.getSchemeAndHttpHost,
                },
            } only %}
        </form>
    {% endif %}
{% endblock %}
