@mixin cms-search-page-search-cms-results($name: '.search-cms-results') {
    #{$name} {
        margin: 0 0 rem(50);
        border-top: rem(1) dotted $setting-color-gray-3;

        &__item {
            padding: rem(11) rem(25);
            border-bottom: rem(1) dotted $setting-color-gray-3;
            position: relative;
            display: flex;
            gap: rem(20);
            flex-direction: column;

            @include helper-breakpoint-media-min($xl) {
                @include helper-effect-transition(box-shadow border-bottom-color);
                justify-content: space-between;
                flex-direction: row;

                &::before {
                    @include helper-effect-transition(opacity);
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to bottom, $setting-color-black, $setting-color-alpha-1);
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover {
                    box-shadow: rem(2) rem(10) rem(30) 0 $setting-color-shadow;

                    &::before {
                        opacity: 0.05;
                    }
                }
            }
        }

        &__title {
            @include helper-font-size(default);
            letter-spacing: rem(0.3);
            font-weight: fw(medium);
        }

        &__button {
            white-space: nowrap;
        }

        em {
            font-style: italic;
            font-weight: bold;
        }

        @content;
    }
}

@include cms-search-page-search-cms-results();
