{% extends molecule('order-detail', '@SprykerShop:CustomerPage') %}

{% define data = {
    requestUri: app.request.requestUri,
} %}

{% block body %}
    {% block orderActions %}
        {% embed molecule('action-bar') with {
            modifiers: ['first'],
            data: {
                title: 'customer.profile.order_details' | trans,
                actions: [
                    {
                        title: 'general.back.button' | trans,
                        url: url('customer/order'),
                        modifiers: ['hollow', 'small-space'],
                    },
                ],
            },
            embed: {
                order: data.order,
                requestUri: data.requestUri,
                jsName: 'js-customer-reorder-form',
            },
        } only %}
            {% block actions %}
                {{ parent() }}

                {% embed molecule('return-create-link', 'SalesReturnPage') ignore missing with {
                    class: config.name ~ '__action ' ~ embed.jsName ~ '__target-state-toggler button',
                    data: {
                        orderReference: embed.order.orderReference,
                    },
                } only %}
                    {%- block extraClass %} button--small-space{% endblock -%}
                {% endembed %}

                {% widget 'OrderCancelButtonWidget' args [embed.order, embed.requestUri] with {
                    embed: {
                        configName: config.name,
                    },
                } only %}
                    {% block body %}
                        {% include molecule('remote-form-submit') with {
                            class: embed.configName ~ '__action',
                            data: {
                                label: 'order_cancel_widget.cancel_order' | trans,
                                buttonClass: 'button button--alert button--hollow button--small-space button--expand',
                            },
                            attributes: {
                                'form-name': 'orderCancelForm_' ~ data.order.idSalesOrder,
                                'form-action': path('order/cancel', {'id-sales-order': data.order.idSalesOrder, 'return-url': data.returnUrl}),
                                'field-id': 'orderCancelForm__token' ~ data.order.idSalesOrder,
                                'field-name': 'orderCancelForm[_token]',
                                'field-value': csrf_token('orderCancelForm'),
                            },
                        } only %}
                    {% endblock %}
                {% endwidget %}

                <button class="{{ config.name }}__action button button--small-space {{ embed.jsName }}__trigger" disabled>
                    {{ 'customer.order.reorder_selected' | trans }}
                </button>

                {% widget 'CustomerReorderFormWidget' args [embed.order] with {
                    embed: {
                        configName: config.name,
                    },
                } only %}
                    {% block body %}
                        {% include molecule('remote-form-submit') with {
                            class: embed.configName ~ '__action',
                            data: {
                                label: 'customer.order.reorder_all' | trans,
                                buttonClass: 'button button--small-space button--expand',
                            },
                            attributes: {
                                'form-name': 'customerReorderWidgetForm_' ~ data.order.idSalesOrder,
                                'form-action': path('customer/order/reorder', {'idSalesOrder': data.order.idSalesOrder}),
                                'field-id': 'customerReorderWidgetForm__token_' ~ data.order.idSalesOrder,
                                'field-name': 'customerReorderWidgetForm[_token]',
                                'field-value': csrf_token('customerReorderWidgetForm'),
                            },
                        } only %}
                    {% endblock %}
                {% endwidget %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block orderInfo %}
        {% include molecule('order-info', 'CustomerPage') with {
            data: {
                id: data.order.orderReference,
                date: data.order.createdAt | formatDateTime,
                order: data.order,
            },
        } only %}
    {% endblock %}

    {% block orderDetails %}
        {% include molecule('order-detail-table', 'CustomerPage') with {
            data: {
                shipmentGroups: data.shipmentGroups,
                orderShipmentExpenses: data.orderShipmentExpenses,
                currencyIsoCode: data.order.currencyIsoCode,
                order: data.order,
                reorderSelectionClassName: data.reorderSelectionClassName,
            },
        } only %}
    {% endblock %}

    {% block checkoutSummary %}
        <div class="grid grid--gap">
            <div class="col col--sm-12 col--lg-6">
                {% set paymentMethod = data.order.payments[0].paymentMethod %}

                {% include molecule('summary-item-box', 'CheckoutPage') ignore missing with {
                    modifiers: ['mobile-border-top'],
                    data: {
                        title: 'customer.order.payment' | trans,
                        method: paymentMethod,
                        iconName: paymentMethod | lower,
                    },
                } only %}
            </div>
            <div class="col col--sm-12 col--lg-6">
                {% include molecule('summary-item-box', 'CheckoutPage') ignore missing with {
                    data: {
                        title: 'customer.order.billing_address' | trans,
                        address: data.order.billingAddress,
                    },
                } only %}
            </div>
        </div>
    {% endblock %}

    {% block orderNote %}
        {% if data.order.cartNote %}
            {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                data: {
                    label: 'cart_note.customer_page.order_note',
                    note: data.order.cartNote,
                },
            } only %}
        {% endif %}
    {% endblock %}

    {% block orderSummary %}
        {% include molecule('order-summary', 'CustomerPage') with {
            data: {
                order: data.order,
            },
        } only %}
    {% endblock %}

    {% block buttonsStateHandler %}
        {% include molecule('order-buttons-disable-toggler', 'SalesReturnPage') ignore missing with {
            attributes: {
                'trigger-class-name': 'js-customer-reorder-form__selection',
                'target-class-name': 'js-customer-reorder-form__target-state-toggler',
                'is-disabled-when-checked': 'false',
                'disabled-class-name': 'button--disabled',
            },
        } only %}
    {% endblock %}
{% endblock %}
