{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    shoppingListCollection: _view.shoppingListCollection,
    shoppingListForm: _view.shoppingListForm,
    shoppingListResponse: _view.shoppingListResponse
} %}

{% block customerContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                form: data.shoppingListForm,
                submit: {
                    enable: true,
                    text: 'customer.account.shopping_list.overview.add_new' | trans
                }
            }
        } only %}

        <div class="spacing-y">
            <hr/>
        </div>

        {% if data.shoppingListCollection.shoppingLists | length %}
            <form method="POST" action="{{ path('shopping-list/add-shopping-list-to-cart') }}">
                <button type="submit" class="button button--success" {{qa('submit-button')}}>
                    {{ 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans }}
                    {% include atom('icon') with {
                        data: {
                            name: 'shopping-cart'
                        }
                    } only %}
                </button>

                {% include molecule('shopping-list-overview-table', 'ShoppingListPage') with {
                    data: {
                        shoppingLists: data.shoppingListCollection.shoppingLists,
                        enableTableForm: true,
                        shoppingListResponse: data.shoppingListResponse
                    }
                } only %}
            </form>
        {% else %}
            {{ 'customer.account.shopping_list.overview.empty' | trans }}
        {% endif %}
    </div>
{% endblock %}
