@mixin product-set-widget-product-set-cms($name: '.product-set-cms') {
    #{$name} {
        padding-bottom: rem(80);

        &__container {
            margin-bottom: rem(40);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: 0;
                padding-right: rem(32);
            }
        }

        @content;
    }
}

@include product-set-widget-product-set-cms;
