@include shop-ui-box($name: '.box') {
    background-color: $setting-color-gray-7;
    border: none;
    padding: rem(27) rem(20) rem(30);
    margin: 0;

    @include helper-breakpoint-media-min($lg) {
        &:not(&--spacingless) {
            padding: rem(32);
        }
    }

    .ssp-content & {
        background: none;
        border: rem(1) solid #e7e6e6;

        &--amag {
            background: linear-gradient(to right, #2e2381, #db017b);
            color: $setting-color-white;

            h4 {
                color: currentColor;
            }

            p {
                margin-bottom: rem(20);
            }

            .button {
                @include helper-effect-transition(background-color color border-color);
                background-color: $setting-color-white;
                color: $setting-color-main;
                border-color: $setting-color-transparent;

                &:hover {
                    background: $setting-color-main;
                    color: $setting-color-white;
                    border-color: $setting-color-white;
                }
            }
        }
    }

    &.dashboard-table {
        border: none;
    }

    &--hollow {
        background-color: transparent;
    }

    &--small {
        padding: rem(16) rem(32);
    }

    &--smaller {
        padding: rem(16) rem(20);
    }

    &--medium {
        margin: 0 rem(-15) rem(15);
        padding: rem(15);

        @include helper-breakpoint-media-min($lg) {
            margin: 0 0 rem(30);
            padding: rem(27) rem(30) rem(30);
        }
    }

    &__separator {
        border: none;
        border-bottom: rem(1) solid $setting-color-gray-1;
        margin: rem(15) rem(-20);
    }
}
