.sales-order-threshold-expense {
    &__text {
        color: $setting-color-gray-3;
        font-size: rem(12);
        line-height: rem(13);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(16);
            line-height: normal;
        }

        &--cart {
            color: $setting-color-gray-2;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
                line-height: rem(21);
            }
        }
    }

    &__price {
        font-size: rem(14);
        line-height: rem(21);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(16);
            line-height: normal;
        }

        &--cart {
            font-size: rem(14);
            line-height: rem(21);
        }
    }
}
