$shop-ui-icon-size-big: 1.25rem;

@include shop-ui-icon {
    &--logo {
        width: 195px;
        height: 70px;
        fill: $setting-color-gray-9;
    }

    &--header-check {
        width: 12px;
        height: 9px;
        margin: -2px 9px 0 0;
    }

    &--phone {
        width: 15px;
        height: 15px;
        margin-right: 6px;
    }

    &--search {
        width: 20px;
        height: 20px;
        fill: $setting-color-gray-4;
        stroke: $setting-color-gray-4;
        stroke-width: 0.5px;
    }

    &--user {
        width: 18px;
        height: 21px;
        margin-top: 7px;
    }

    &--quick-order {
        width: 32px;
        height: 19px;
        margin-top: 10px;
    }

    &--shopping-list {
        width: 17px;
        height: 16px;
        margin-top: 10px;
    }

    &--cart {
        width: 30px;
        height: 26px;
        margin-top: 5px;
    }

    &--cross {
        width: rem(10);
        height: rem(10);
    }
    
    &--reverse {
        transform: rotate(180deg);
    }
}
