$shop-ui-icon-size-big: 1.25rem;

@include shop-ui-icon {
    &--logo {
        width: 195px;
        height: 70px;
        fill: $setting-color-gray-9;
    }

    &--header-check {
        width: 12px;
        height: 9px;
        margin: -2px 9px 0 0;
    }

    &--phone {
        width: 15px;
        height: 15px;
        margin-right: 6px;
    }

    &--search {
        width: 20px;
        height: 20px;
        fill: $setting-color-gray-4;
        stroke: $setting-color-gray-4;
        stroke-width: 0.5px;
    }

    &--user {
        width: 18px;
        height: 21px;
        margin-top: 7px;
    }

    &--quick-order {
        width: 32px;
        height: 19px;
        margin-top: 10px;
    }

    &--shopping-list {
        width: 17px;
        height: 16px;
        margin-top: 10px;
    }

    &--cart {
        width: 30px;
        height: 26px;
        margin-top: 5px;
    }

    &--cross {
        width: rem(10);
        height: rem(10);
    }

    &--reverse {
        transform: rotate(180deg);
    }

    &--toggler-cross {
        width: rem(10);
        height: rem(10);

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: $setting-color-gray-6;
        }

        &::before {
            height: rem(3);
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &::after {
            height: 100%;
            width: rem(3);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .active & {
            &::after {
                display: none;
            }
        }
    }

    &--cart-plus {
        display: inline-block;
        width: 26px;
        height: 23px;
        margin: -6px 12px -2px 0
    }

    &--toggler-cross-link {

        &::before,
        &::after {
            background-color: $setting-color-gray-3;
        }
    }

    &--link {
        @include helper-effect-transition(color);
        color: $setting-color-gray-2;
        margin-right: rem(6);
    }
}
