{% extends molecule('address-item-form', '@SprykerShop:CheckoutPage') %}

{% block body %}
    {% block title %}
        <h5 class="title title--second title--underline">{{ 'page.checkout.address.multi_shipment.title' | trans }}</h5>
    {% endblock %}

    {% set items = data.form.vars.data | filter(item => not item.relatedBundleItemIdentifier) %}

    {% if items | length %}
        {% embed molecule('form') with {
            class: 'spacing-x spacing-x--inner spacing-x--reset',
            modifiers: ['container-full-width'],
            data: {
                form: data.form,
                enableStart: false,
                enableEnd: false,
            },
            embed: {
                jsName: config.jsName,
                shippingForm: data.shippingForm,
                addressSelectClassName: addressSelectClassName,
                validatorTriggerClassName: validatorTriggerClassName,
                itemShippingClassName: itemShippingClassName,
                itemDeliveryValidationClassName: itemDeliveryValidationClassName,
                hiddenClassName: data.hiddenClassName,
            },
        } only %}
            {% block fields %}
                <div class="col col--sm-12">
                    {% include molecule('address-item-form-field-list', 'CheckoutPage') with {
                        class: embed.jsName ~ '__items',
                        data: {
                            items: data.form,
                            shippingForm: embed.shippingForm,
                            addressSelectClassName: embed.addressSelectClassName,
                            validatorTriggerClassName: embed.validatorTriggerClassName,
                            itemShippingClassName: embed.itemShippingClassName,
                            validationClassName: embed.itemDeliveryValidationClassName,
                            hiddenClassName: embed.hiddenClassName,
                        },
                    } only %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% if data.formBundle and data.formBundle.vars.data | length %}
        {% embed molecule('form') with {
            class: 'spacing-x spacing-x--inner spacing-x--reset',
            modifiers: ['container-full-width'],
            data: {
                form: data.formBundle,
                enableStart: false,
                enableEnd: false,
            },
            embed: {
                jsName: config.jsName,
                shippingForm: data.shippingForm,
                addressSelectClassName: addressSelectClassName,
                validatorTriggerClassName: validatorTriggerClassName,
                itemShippingClassName: itemShippingClassName,
                itemDeliveryValidationClassName: itemDeliveryValidationClassName,
                hiddenClassName: data.hiddenClassName,
            },
        } only %}
            {% block fields %}
                <div class="col col--sm-12">
                    {% include molecule('address-bundle-item-form-field-list', 'CheckoutPage') with {
                        data: {
                            items: data.form,
                            shippingForm: embed.shippingForm,
                            addressSelectClassName: embed.addressSelectClassName,
                            validatorTriggerClassName: embed.validatorTriggerClassName,
                            itemShippingClassName: embed.itemShippingClassName,
                            validationClassName: embed.itemDeliveryValidationClassName,
                            hiddenClassName: embed.hiddenClassName,
                        },
                    } only %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

    {{ block('stepValidation') }}
{% endblock %}
