@mixin shop-ui-action-bar($name: '.action-bar') {
    #{$name} {
        display: flex;
        flex-flow: row nowrap;

        &:not(:first-child) {
            margin-top: rem(48);
        }

        &:not(:last-child) {
            margin-bottom: rem(16);
        }

        &__icon {
            display: inline-block;
            width: rem(10);
            height: rem(10);
            margin-right: rem(10);
        }

        &__title {
            flex: 1;
            font-size: map_get($setting-font-size, 4);
            font-weight: map_get($setting-font-weight, medium);
            line-height: rem(40);
        }

        &__actions {
            flex: none;
        }
    }
}

@include shop-ui-action-bar();
