@mixin shop-ui-action-bar($name: '.action-bar') {
    #{$name} {
        margin-top: rem(16);
        margin-bottom: rem(16);

        @include helper-breakpoint-media-min($md) {
            display: flex;
            flex-flow: row nowrap;
        }

        &--first {
            margin-top: 0;
        }

        &--big {
            margin-top: rem(48);
        }

        &--small {
            margin-top: rem(16);
            margin-bottom: rem(8);
        }

        &--spaceless {
            margin: 0;
        }

        &--narrow {
            @include helper-breakpoint-media-min($md) {
                max-width: rem(700);
            }

            @include helper-breakpoint-media-min($xl) {
                max-width: rem(500);
            }
        }

        &__title {
            flex: 1;

            &--small {
                @include helper-font-size(4);
                @include helper-font-line-height(4);
            }

            &--middle {
                font-size: rem(22);
            }
        }

        &__actions {
            @include helper-breakpoint-media-min($md) {
                flex: none;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
        }

        &__action {
            margin-top: rem(8);
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            flex: none;
            align-items: center;
            justify-content: center;

            @include helper-breakpoint-media-min($md) {
                margin-top: 0;
                margin-left: rem(8);
                width: auto;
            }
        }

        &__icon {
            display: block;
            width: rem(13);
            height: rem(13);
            margin-right: rem(10);
            flex: none;
        }
    }
}

@include shop-ui-action-bar();
