{% extends model('component') %}

{% define config = {
    name: 'slick-carousel',
    tag: 'slick-carousel'
} %}

{% define data = {
    slides: []
} %}

{% define attributes = {
    'slider-config': '{}'
} %}

{% block body %}
    <div class="{{ config.name }}__container {{ config.jsName }}__container ">
        {% block slides %}
            {% for slide in data.slides %}
                {{ slide }}
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}

