@import '~slick-carousel/slick/slick.scss';

@mixin shop-ui-slick-carousel($name: '.slick-carousel') {
    #{$name} {
        &__container {
            @include helper-effect-transition(opacity, 0.5s);
            max-height: rem(394);
            opacity: 0;

            &--is-inited {
                opacity: 1;
                max-height: none;
            }
        }

        .slick-track,
        .slick-list {
            transition-delay: $setting-effect-default-duration;
        }

        &--full-width {
            margin-left: -$setting-grid-space;
            margin-right: -$setting-grid-space;

            &#{$name}--equal-height {
                margin-left: rem(-9);
                margin-right: rem(-9);

                @include helper-breakpoint-media-min($lg) {
                    margin-left: -$setting-grid-space;
                    margin-right: -$setting-grid-space;
                }
            }
        }

        &--equal-height {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                display: flex;
                height: auto;
                margin: 0 rem(9);

                @include helper-breakpoint-media-min($lg) {
                    margin: 0 $setting-grid-space;
                }

                > div {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }

        &--stretch {
            .slick-slide {
                margin: 0;
            }

            .slick-list {
                padding: 0 $setting-grid-space;
            }
        }

        &--product-set {
            margin: 0 rem(-10);

            .slick-slide {
                margin: 0 rem(10);
            }

            @include helper-breakpoint-media-min($lg) {
                margin: 0;

                .slick-slide {
                    margin: 0;
                }
            }
        }

        &--product-set-widget {
            .slick-slide {
                min-height: rem(400);
                width: rem(280);
                margin: 0 rem(10);

                @include helper-breakpoint-media-min($lg) {
                    margin: 0 $setting-grid-space;
                }
            }
        }

        &--jumbotron {
            display: block;
            min-height: rem(390);

            @include helper-breakpoint-media-min($lg) {
                min-height: rem(505);
            }

            .slick-slide {
                margin: 0 rem(1);

                @include helper-breakpoint-media-min($lg) {
                    margin-left: rem(5);
                    margin-right: rem(5);
                }
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: rem(18);

                @include helper-breakpoint-media-min($lg) {
                    margin-top: rem(24);
                }

                li {
                    display: block;
                    position: relative;
                    margin: 0 rem(6);
                    width: rem(10);
                    height: rem(10);
                    background: $setting-color-transparent;
                    border-radius: 50%;
                    font-size: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: rem(5);
                        height: rem(5);
                        background: $setting-color-light;
                        border-radius: 50%;
                    }

                    @include helper-breakpoint-media-min($lg) {
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.slick-active {
                        &::after {
                            width: rem(10);
                            height: rem(10);
                            background: $setting-color-transparent;
                            border: 2px solid $setting-color-gray-4;
                        }
                    }
                }
            }
        }

        &--non-fixed-height {
            min-height: auto;
        }

        .slick-arrow {
            position: absolute;
            top: rem(95);
            font-size: 0;
            width: rem(30);
            height: rem(30);
            background: url('../images/right-chevron.svg') center center no-repeat;
            background-size: rem(15);
            border-radius: 50%;
            z-index: $setting-zi-element-floating;
            opacity: 0.5;
            transform: translateY(-50%);

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(-30);
                top: 50%;
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .slick-prev {
            left: rem(9);
            transform: rotate(180deg);

            @include helper-breakpoint-media-min($lg) {
                left: rem(15);
            }

            @include helper-breakpoint-media-min($xxxl) {
                left: rem(-30);
            }
        }

        .slick-next {
            right: rem(9);
            margin-top: rem(15);

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(-15);
                right: rem(15);
            }

            @include helper-breakpoint-media-min($xxxl) {
                right: rem(-30);
            }
        }
    }

    @content;
}

@include shop-ui-slick-carousel;
