@mixin shop-ui-slick-carousel {
    .slick-arrow {
        position: absolute;
        top: 50%;
        font-size: 0;
        width: 30px;
        height: 30px;
        background: url("/assets/images/right-chevron.svg") center center no-repeat;
        background-size: 15px;
        border-radius: 50%;
        z-index: 100;
        opacity: .5;
        transform: translateY(-50%);

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .slick-prev {
        left: 20px;
        transform: rotate(180deg);
    }

    .slick-next {
        right: 20px;
    }
}
