@mixin shop-ui-slick-carousel ($name: '.slick-carousel') {
    #{$name} {

        &--full-width {
            margin-left: -$setting-grid-space;
            margin-right: -$setting-grid-space;
        }

        &--equal-height {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                display: flex;
                height: auto;
                margin: 0 $setting-grid-space;
            }
        }

        &--stretch {
            .slick-slide {
                margin: 0;
            }

            .slick-list {
                padding: 0 $setting-grid-space;
            }
        }

        &--products {
            margin-bottom: 110px;
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            font-size: 0;
            width: 30px;
            height: 30px;
            background: url("/assets/images/right-chevron.svg") center center no-repeat;
            background-size: 15px;
            border-radius: 50%;
            z-index: $setting-zi-element-floating;
            opacity: 0.5;
            transform: translateY(-50%);

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .slick-prev {
            left: -30px;
            transform: rotate(180deg);
        }

        .slick-next {
            right: -30px;
            margin-top: rem(15);
        }
    }

    @content;

}

@include shop-ui-slick-carousel
