{% extends model('component') %}

{% define config = {
    name: 'product-item-quantity'
} %}

{% define data = {
    productItem: required,
    isDisabled: false,
    maxQuantity: null,
    minQuantity: 1,
    value: 1,
    quantityInterval: 1,
} %}

{% block body %}
    <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.productItem.sku }) }}">
        {% include molecule('quantity-counter') with {
            modifiers: ['cart'],
            data: {
                isDisabled: data.isDisabled,
                autoUpdate: true,
                maxQuantity: data.maxQuantity,
                minQuantity: data.minQuantity,
                step: data.quantityInterval,
            },
            attributes: {
                max: data.productItem.maxQuantity,
                value: data.productItem.quantity
            }
        } only %}

        <input type="hidden" value="{{ data.productItem.groupKey }}" name="groupKey" />
    </form>
{% endblock %}
