{% extends template('page-layout-main') %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h2>Hello Spryker!</h2>
        </div>
    </div>
{% endblock %}
