.merchant-relationship-filters {
    background: $setting-color-gray-7;
    padding: rem(15);
    margin-bottom: rem(20);
    overflow: hidden;

    @include helper-breakpoint-media-min($lg) {
        padding: rem(20);
    }

    .select2-selection__rendered,
    .custom-select__select {
        background: $setting-color-white;
    }
}
