@mixin sales-return-page-return-product-item($name: '.return-product-item') {
    #{$name} {
        border: rem(2) solid $setting-color-gray-7;
        border-radius: $setting-border-radius;
        padding: rem(12);
        margin-bottom: rem(10);

        @include helper-breakpoint-media-min($lg) {
            border: none;
            border-bottom: rem(1) solid $setting-color-gray-7;
            padding: rem(20) 0;
            margin: 0;
        }

        &__checkbox {
            @include helper-breakpoint-media-min($lg) {
                align-self: center;
            }
        }

        &__image {
            margin: 0 rem(15) 0 0;
            width: rem(60);
            height: rem(75);
            padding: rem(5);
            border-radius: $setting-border-radius;
            background-color: $setting-color-gray-7;
            display: flex;
            align-items: center;
            justify-content: center;

            @include helper-breakpoint-media-min($lg) {
                width: rem(100);
                height: rem(100);
            }
        }

        &__quantity {
            color: $setting-color-gray-3;
        }

        &__reason{
            padding: rem(10) rem(15);
            border-top: rem(2) solid $setting-color-gray-7;

            @include helper-breakpoint-media-min($lg) {
                padding: 0 0 0 rem(152);
                border: none;
            }
        }

        @content;
    }
}

@include sales-return-page-return-product-item();
