.subscription-info {
    &__text {
        font-size: rem(18);
        line-height: rem(23);
        color: $setting-color-gray-3;
        max-width: 382px;

        b {
            color: $setting-color-gray-4;
        }
    }
}
