{% extends model('component') %}

{% define config = {
    name: 'subscription-info'
} %}

{% define data = {
    title: required,
    text: required,
} %}

{% block body %}
    <h5 class="title title--subscription js-subscription__trigger" data-toggle-target=".js-subscription__target">
        {{ data.title }}
        <span class="icon icon--toggler-cross icon--toggler-cross-thin toggler-accordion__icon is-hidden-md-xl"></span>
    </h5>
    <p class="{{ config.name }}__text js-subscription__target is-hidden-sm-only">{{ data.text | raw }}</p>
{% endblock %}
