{% extends molecule('quote-request-information', '@SprykerShop:QuoteRequestPage') %}

{% block status %}
    <p>
        {{ 'quote_request_page.quote_request.labels.status' | trans }}:

        {% if data.quoteRequest.status %}
            {% include molecule('status') with {
                data: {
                    label: ('quote_request.status.' ~ data.quoteRequest.status) | trans,
                    status: data.quoteRequest.status,
                },
            } only %}
        {% else %}
            --
        {% endif %}
    </p>
{% endblock %}
