{% extends template('page-blank') %}

{%- block class -%}js-page-layout-main__side-drawer-container{%- endblock -%}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block outside %}{% endblock %}

    {% block header %}
        {% embed organism('header') only %}
            {% block mobile %}
                <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                    {% include atom('icon') with {
                        modifiers: ['big'],
                        data: {
                            name: 'bars'
                        }
                    } only %}
                </a>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% include organism('jumbotron-slider')%}

    <div class="container">
        {% block pageInfo %}
            <div class="box">
                {% block breadcrumbs %}
                    {% include molecule('breadcrumb') only %}
                {% endblock %}

                <hr />

                {% block title %}
                    <h3>{{data.title}}</h3>
                {% endblock %}
            </div>
        {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

    </div>

    {% block footer %}
        {% include organism('footer') only %}
    {% endblock %}

    {#{% block copyright %}#}
        {#<p class="text-center text-small text-secondary">#}
            {#Lorem ipsum dolor sit amet, consectetuer adipiscing elit.#}
            {#<br>Aenean commodo ligula eget dolor. Aenean massa.#}
            {#<br>&copy; ACME Company#}
        {#</p>#}
    {#{% endblock %}#}

    {% block icons %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
