{% extends template('page-blank') %}

{%- block class -%}js-page-layout-main__side-drawer-container{%- endblock -%}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block sidebar %}
        {% include organism('side-drawer') with {
            class: 'is-hidden-lg-xl',
            attributes: {
                'container-selector': 'js-page-layout-main__side-drawer-container',
                'trigger-selector': 'js-page-layout-main__side-drawer-trigger'
            }
        } only %}
    {% endblock %}

    {% block outside %}{% endblock %}

    {% block header %}
        {% embed organism('header') only %}
            {% block mobile %}
                <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                    {% include atom('icon') with {
                        modifiers: ['big'],
                        data: {
                            name: 'bars'
                        }
                    } only %}
                </a>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% include organism('jumbotron-slider') with {
        class: 'spacing-bottom--big',
        data: {
            slides: [{
                imageUrl: '/assets/images/section-slider-item-image-10@2x.jpg',
                link: 'jumbotron.smart_watches.link',
                cmsBlockName: 'Main slide-1',
                btnTitle: 'main_slider.btn.title'
            },
                {
                    imageUrl: '/assets/images/section-slider-item-image-6@2x.jpg',
                    link: 'jumbotron.smartphones.link',
                    cmsBlockName: 'Main slide-2',
                    btnTitle: 'main_slider.btn.title'
                },
                {
                    imageUrl: '/assets/images/section-slider-item-image-7@2x.jpg',
                    link: 'jumbotron.tablets.link',
                    cmsBlockName: 'Main slide-3',
                    btnTitle: 'main_slider.btn.title'
                }
            ]
        },
        attributes: {
            'data-json': '{
                            "slidesToShow": 1,
                            "dots": true,
                            "autoplay": true,
                            "nextArrow": false,
                            "prevArrow": false,
                            "autoplaySpeed": 4000,
                            "centerMode": true,
                            "centerPadding": "240px",
                            "responsive": [{
                                "breakpoint": 1600,
                                "settings": {
                                    "centerPadding": "130px"
                                }
                            },
                            {
                                "breakpoint": 1200,
                                "settings": {
                                    "centerPadding": "40px"
                                }
                            },
                            {
                                "breakpoint": 770,
                                "settings": {
                                    "centerPadding": "12px",
                                    "autoplay": false
                                }
                            }
            ]}'
        }
    } only %}

    {% block pageInfo %}
        <div class="container">
            <div class="box">
                {% block breadcrumbs %}
                    {% include molecule('breadcrumb') only %}
                {% endblock %}

                <hr />

                {% block title %}
                    <h3>{{data.title}}</h3>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include organism('footer') only %}
    {% endblock %}

    {% block icons %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
