{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,
    isBundle: _view.product.attributes.bundled_product | default(null),
    bundleItems: _view.bundledProducts,

    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default
} %}

{% block breadcrumbs %}
    {% widget 'ProductBreadcrumbsWithCategoriesWidget' args [data.product] only %}{% endwidget %}
{% endblock %}

{% block title %}
    <h3 itemprop="name" class="page-info__title">
        {% widget 'ProductAbstractLabelWidget' args [data.product.idProductAbstract] only %}
            {% block body %}
                {% include molecule('label-group', 'ProductLabelWidget') with {
                    modifiers: ['pdp'],
                    data: {
                        labels: labels
                    }
                } only %}
            {% endblock %}
        {% endwidget %}
        {{ data.product.name }}
    </h3>
    <link itemprop="url" href="{{ data.productUrl }}" />
{% endblock %}

{% block contentClass %}page-layout-main page-layout-main--pdp{% endblock %}

{% block content %}
    <div class="grid grid--gap grid--justify">
        <div class="page-layout-main__pdp-gallery">
            {% include molecule('image-gallery', 'ProductImageWidget') ignore missing with {
                data: {
                    idProductAbstract: data.product.idProductAbstract,
                    images: data.product.images
                }
            } only %}
        </div>

        <div class="col col--sm-12 col--lg-5">
            {% include molecule('product-configurator', 'ProductDetailPage') with {
                data: {
                    product: data.product,
                    isBundle: data.bundleItems,
                    bundleItems: data.bundleItems
                }
            } only %}
        </div>
    </div>

    {% widget 'ProductAlternativeListWidget' args [data.product] only %}{% endwidget %}

    <div class="js-pdp-section">
        {% include molecule('product-detail', 'ProductDetailPage') with {
            data: {
                description: data.product.description,
                attributes: data.product.attributes
            }
        } only %}

        {% widget 'ProductDetailPageReviewWidget' args [data.product.idProductAbstract] only %}{% endwidget %}
    </div>

    {% include molecule('toggler-accordion') with {
        attributes: {
            'wrap-class-name': 'js-pdp-section',
            'trigger-class-name': 'js-pdp-section__trigger',
            'class-to-toggle': 'is-hidden-sm-md',
        },
    } only %}

    {% widget 'ProductReplacementForListWidget' args [data.product.sku] only %}{% endwidget %}

    {% if data.bundleItems != null %}
        {% include molecule('product-bundle', 'ProductDetailPage') with {
            data: {
                bundleItems: data.bundleItems
            }
        } only %}
    {% endif %}

    {% widget 'SimilarProductsWidget' args [data.product] only %}{% endwidget %}

    {% if data.product.productSetIds is not empty %}
        {% widget 'ProductSetIdsWidget' args [data.product.productSetIds] only %}{% endwidget %}
    {% endif %}
{% endblock %}

{% block contentBottom %}
    {% embed molecule('product-cms-block', 'CmsBlockWidget') ignore missing with {
        data: {
            idProductAbstract: data.product.idProductAbstract,
        }
    } only %}
        {% block body %}
            {% cms_slot 'slt-9' required ['idProductAbstract'] with {
                idProductAbstract: data.idProductAbstract,
            } %}
        {% endblock %}
    {% endembed %}
{% endblock %}
