@mixin sales-configurable-bundle-widget-ordered-configured-bundle($name: '.ordered-configured-bundle') {
    #{$name} {
        border: rem(1) solid $setting-color-gray-7;
        margin-bottom: rem(22);
        padding-bottom: rem(32);
        overflow: hidden;

        &__col {
            text-align: right;

            &--displaced {
                margin-left: rem(-8);

                @include helper-breakpoint-media-min($lg) {
                    margin-left: 0;
                }
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            padding: rem(20);
            overflow: hidden;
            background-color: $setting-color-gray-7;
            align-items: center;
        }

        &__actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 rem(30);
        }

        &__info {
            @include helper-breakpoint-media-min($md) {
                justify-content: flex-end;
            }
        }

        &__title {
            margin-bottom: 0;
        }

        &__products {
            padding: rem(20);
        }

        &__title,
        &__text {
            font-size: rem(16);
            font-weight: fw(bold);
        }

        @content;
    }
}

@include sales-configurable-bundle-widget-ordered-configured-bundle();
