{% extends molecule('ordered-configured-bundle', '@SprykerShop:SalesConfigurableBundleWidget') %}

{% define config = {
    name: 'ordered-configured-bundle',
    tag: 'ordered-configured-bundle',
} %}

{% define attributes = {
    'trigger-class-name': 'js-bundle-trigger-checkbox',
    'target-class-name': 'js-bundle-target-checkbox',
} %}

{%- block extraClass %}{% endblock -%}

{% block bundleInner %}
    {% block bundleGeneralInformation %}
        <div class="grid col col--sm-12 col--md-7">
            {% block bundleName %}
                <div class="grid grid--middle">
                    {% embed atom('checkbox') with {
                        class: 'js-customer-reorder-form__selection',
                    } only %}
                        {% block inputClass %}
                            js-bundle-trigger-checkbox
                        {% endblock %}
                    {% endembed %}
                </div>

                <h6 class="{{ config.name }}__title spacing-right spacing-right--big">
                    {%- block bundleNameText -%}
                        {{ parent() }}
                    {%- endblock -%}
                </h6>
            {% endblock %}
        </div>
    {% endblock %}

    <div class="grid grid--right col col--sm-12 col--md-5">
        {% block bundleQuantity %}{% endblock %}

        {% block bundlePriceInformation %}
            <div class="{{ config.name }}__col col col--sm-12">
                {% block bundleTotal %}
                    {{ parent() }}

                    {%- block bundleTotalTitle -%}{%- endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
