@mixin shop-ui-copyright-build-with($name: '.copyright-build-with') {
    #{$name} {
        font: fw(bold) rem(12) / rem(15) $setting-font-family;
        letter-spacing: rem(0.67);
        text-transform: uppercase;
        padding-top: rem(19);
        padding-bottom: rem(21);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__text {
            margin-right: rem(18);
            padding-top: rem(12);
        }

        &__link {
            color: $setting-color-white;

            &:hover,
            &:focus {
                color: $setting-color-white;
            }
        }
    }
}

@include shop-ui-copyright-build-with();
