@mixin shop-ui-logo($name: '.logo') {
    #{$name} {

        padding-right: 58px;
        margin-top: -17px;

        &--checkout {
            padding-right: 0;
            margin-top: -10px;
            margin-bottom: -10px;
        }

        @content;
    }
}

@include shop-ui-logo();
