{% extends model('component') %}

{% define config = {
    name: 'logo',
    tag: 'div'
} %}

{% define data = {
    url: '/'
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{% block attributes %}{% endblock %}

{% block body %}
    <a href="{{data.url}}" class="{{ component.renderClass(config.name ~ '__link', modifiers) }}">
        {% if attributes.src is empty %}
            {% set modifiersForIcon = modifiers | merge(['logo']) %}
            {% include atom('icon') with {
                modifiers: modifiersForIcon,
                data: {
                    name: 'logo'
                }
            } only %}
        {% else %}
            <img {{component.renderAttributes(attributes)}} />
        {% endif %}
    </a>
{% endblock %}
