{% extends molecule('logo', '@SprykerShop:ShopUi') %}
{% import _self as component %}

{% define config = {
    tag: 'div',
} %}

{% block body %}
    <a href="{{data.url}}" class="{{ component.renderClass(config.name ~ '__link', modifiers) }}">
        {% if attributes.src is empty %}
            {% set modifiersForIcon = modifiers | merge(['logo']) %}
            <span class="{{ component.renderClass(config.name ~ '__image', modifiers) }}">
                {% include atom('icon') with {
                    class: 'is-hidden-lg-xxl',
                    modifiers: modifiersForIcon,
                    data: {
                        name: 'logo-mobile'
                    }
                } only %}
                {% include atom('icon') with {
                    class: 'is-hidden-sm-md',
                    modifiers: modifiersForIcon,
                    data: {
                        name: 'logo'
                    }
                } only %}
            </span>
        {% else %}
            <img {{component.renderAttributes(attributes)}} />
        {% endif %}
    </a>
{% endblock %}
