@mixin shop-ui-logo($name: '.logo') {
    #{$name} {

        &__image {
            &--main {
                display: none;

                @include helper-breakpoint-media-min($lg) {
                    display: block;
                }
            }

            &--mobile {
                @include helper-breakpoint-media-min($lg) {
                    display: none;
                }
            }
        }

        &--checkout {
            padding-right: 0;
            margin-top: -10px;
            margin-bottom: -10px;
        }

        @content;
    }
}

@include shop-ui-logo();
