@import '../ordered-configured-bundle-product/ordered-configured-bundle-product';

@mixin sales-configurable-bundle-widget-ordered-configured-bundle-product-secondary(
    $name: '.ordered-configured-bundle-product-secondary'
) {
    @include sales-configurable-bundle-widget-ordered-configured-bundle-product($name) {
        &__container {
            display: flex;

            @include helper-breakpoint-media-min($lg) {
                flex-wrap: nowrap;
            }
        }

        @content;
    }
}

@include sales-configurable-bundle-widget-ordered-configured-bundle-product-secondary();
