.git
.idea
node_modules
/vendor
/data
!/data/import
!/data/export
.git*
.unison*
.docker-sync
/.nvmrc
/.scrutinizer.yml
/.travis.yml
/newrelic.ini

/docker
!/docker/deployment/

src/Orm/Propel/*/Schema
src/Generated
