# IDEs
.idea/
.project/
.vscode/
nbproject/
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
Temporary Items
.apdisk
GPATH
GRTAGS
GTAGS

# OS
.DS_Store

# Y&Z
/config/Shared/config_local*
!/config/Shared/config_local.dist.php
/config/Shared/console_env_local.php
/config/Shared/cubes.*
/config/Zed/behat.local.yml
/config/Zed/phpunit.core.xml
/config/Zed/phpunit.xml
/config/cubes.*
config/accumulated-config.json

/src/Generated/
/vendor/
FOSS.md
/public/*/maintenance/maintenance.marker

/data/*
!/data/import/
!/data/export/

# grunt stuff
.grunt
.sass-cache
/config/Yves/config_assets.php
config/Yves/cache_bust.php
/node_modules/

# public stuff
public/*/assets/
public/Configurator/dist/

# docker stuff
/.docker-sync/
/.unison*
/deploy.local.yml

# profiling
/profiler

# logs
npm-debug.log
/tests/_log/*
!/tests/_log/.gitkeep
/tests/_output/*
!/tests/_output/.gitkeep
/tests/_support/_generated/*
!/tests/_support/_generated/.gitkeep
/codeception.local.yml

/tests/PyzTest/*/*/_output/*
/tests/PyzTest/*/*/_support/_generated/*

/.robot/results
/.cypress

# propel classes
/src/Propel/Base/*
/src/Propel/Map/*

/src/Orm/Zed/*/Persistence/Base
/src/Orm/Zed/*/Persistence/Map

# propel config
/src/Orm/Propel/Schema
/src/Orm/Propel/Sql
/src/Orm/Propel/Migration_pgsql/
/src/Orm/Propel/Migration_mysql/
/src/Orm/Propel/generated-conf/

# tools
composer.phar
c3.php
.phpstorm.meta.php
.githook_local
integrator.lock

# Yarn
.yarn/*
!.yarn/releases/
!.yarn/plugins/

# Docker
docker

# angular
/.angular/cache
/.angular
