{
  "rules-link": "https://stylelint.io/user-guide/rules/",
  "rules": {
    "at-rule-blacklist": [],

    "at-rule-empty-line-before": ["always", {
      "ignore": [
        "inside-block",
        "blockless-after-blockless"]
    }],

    "at-rule-name-case": "lower",

    "at-rule-name-space-after": "always",

    "at-rule-no-unknown": null,

    "at-rule-no-vendor-prefix": true,

    "at-rule-semicolon-newline-after": "always",

    "at-rule-semicolon-space-before": "never",

    "block-closing-brace-empty-line-before": "never",

    "block-closing-brace-newline-after": "always-single-line",

    "block-closing-brace-newline-before": "always",

    "block-closing-brace-space-before": "always-single-line",

    "block-no-empty": true,

    "block-opening-brace-newline-after": "always",

    "block-opening-brace-newline-before": "never-single-line",

    "block-opening-brace-space-before": "always",

    "color-hex-case": "lower",

    "color-hex-length": null,

    "color-named": "never",

    "color-no-invalid-hex": true,

    "comment-empty-line-before": ["always", {
      "except": [
        "first-nested"
      ]
    }],

    "comment-no-empty": true,

    "comment-whitespace-inside": "always",

    "comment-word-blacklist": [],

    "custom-media-pattern": null,

    "custom-property-empty-line-before": "never",

    "custom-property-pattern": null,

    "declaration-bang-space-after": "never",

    "declaration-bang-space-before": "always",

    "declaration-block-no-duplicate-properties": true,

    "declaration-block-no-redundant-longhand-properties": true,

    "declaration-block-semicolon-newline-after": "always",

    "declaration-block-semicolon-newline-before": "never-multi-line",

    "declaration-block-semicolon-space-after": "always-single-line",

    "declaration-block-semicolon-space-before": "never",

    "declaration-block-single-line-max-declarations": 1,

    "declaration-block-trailing-semicolon": "always",

    "declaration-colon-space-after": "always",

    "declaration-colon-space-before": "never",

    "declaration-property-unit-blacklist": {
      "font-size": ["pt"],
      "line-height": ["pt"]
    },

    "font-family-name-quotes": "always-where-recommended",

    "font-family-no-duplicate-names": true,

    "font-family-no-missing-generic-family-keyword": true,

    "font-weight-notation": null,

    "function-blacklist": [],

    "function-calc-no-unspaced-operator": true,

    "function-comma-newline-before": "never-multi-line",

    "function-comma-newline-after": "never-multi-line",

    "function-comma-space-after": "always",

    "function-comma-space-before": "never",

    "function-linear-gradient-no-nonstandard-direction": true,

    "function-max-empty-lines": 0,

    "function-name-case": "lower",

    "function-parentheses-newline-inside": "never-multi-line",

    "function-parentheses-space-inside": "never",

    "function-url-no-scheme-relative": null,

    "function-url-quotes": "always",

    "function-url-scheme-blacklist": ["ftp"],

    "function-whitespace-after": "always",

    "indentation": 4,

    "keyframe-declaration-no-important": true,

    "keyframes-name-pattern": "",

    "length-zero-no-unit": true,

    "max-empty-lines": 1,

    "max-nesting-depth": null,

    "media-feature-colon-space-after": "always",

    "media-feature-colon-space-before": "never",

    "media-feature-name-blacklist": [],

    "media-feature-name-case": "lower",

    "media-feature-name-no-unknown": true,

    "media-feature-name-no-vendor-prefix": true,

    "media-feature-parentheses-space-inside": "never",

    "media-feature-range-operator-space-after": "always",

    "media-feature-range-operator-space-before": "always",

    "media-query-list-comma-newline-after": "never-multi-line",

    "media-query-list-comma-newline-before": "never-multi-line",

    "media-query-list-comma-space-after": "always",

    "media-query-list-comma-space-before": "never",

    "no-descending-specificity": true,

    "no-duplicate-at-import-rules": true,

    "no-duplicate-selectors": true,

    "no-empty-source": true,

    "no-eol-whitespace": true,

    "no-extra-semicolons": true,

    "no-invalid-double-slash-comments": null,

    "no-missing-end-of-source-newline": true,

    "number-leading-zero": "always",

    "number-max-precision": 3,

    "number-no-trailing-zeros": true,

    "property-blacklist": [],

    "property-case": "lower",

    "property-no-unknown": true,

    "property-no-vendor-prefix": [true],

    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["inside-block"]
      }
    ],

    "selector-attribute-brackets-space-inside": "never",

    "selector-attribute-operator-blacklist": [],

    "selector-attribute-operator-space-after": "never",

    "selector-attribute-operator-space-before": "never",

    "selector-attribute-quotes": "always",

    "selector-class-pattern": "",

    "selector-combinator-blacklist": [],

    "selector-combinator-space-after": "always",

    "selector-combinator-space-before": "always",

    "selector-descendant-combinator-no-non-space": true,

    "selector-id-pattern": "",

    "selector-list-comma-newline-after": "always",

    "selector-list-comma-newline-before": "never-multi-line",

    "selector-max-attribute": 1,

    "selector-max-class": 3,

    "selector-max-combinators": 2,

    "selector-max-compound-selectors": 3,

    "selector-max-empty-lines": 0,

    "selector-max-id": 1,

    "selector-max-pseudo-class": 2,

    "selector-max-specificity": "1,3,1",

    "selector-max-type": 2,

    "selector-max-universal": 1,

    "selector-nested-pattern": "",

    "selector-no-qualifying-type": [true, {
      "ignore": ["attribute"]
    }],

    "selector-pseudo-class-blacklist": [],

    "selector-pseudo-class-case": "lower",

    "selector-pseudo-class-no-unknown": true,

    "selector-pseudo-class-parentheses-space-inside": "never",

    "selector-pseudo-element-blacklist": [],

    "selector-pseudo-element-case": "lower",

    "selector-pseudo-element-colon-notation": "double",

    "selector-pseudo-element-no-unknown": true,

    "selector-type-case": "lower",

    "selector-type-no-unknown": [true, {
      "ignore": ["custom-elements"]
    }],

    "shorthand-property-no-redundant-values": true,

    "string-no-newline": true,

    "string-quotes": "single",

    "time-min-milliseconds": 0,

    "unit-blacklist": ["pt"],

    "unit-case": "lower",

    "unit-no-unknown": true,

    "value-keyword-case": "lower",

    "value-list-comma-newline-after": "never-multi-line",

    "value-list-comma-newline-before": "never-multi-line",

    "value-list-comma-space-after": "always",

    "value-list-comma-space-before": "never",

    "value-list-max-empty-lines": 0,

    "value-no-vendor-prefix": true
  }
}