includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../src/Generated/*
        - %rootDir%/../../../src/Orm/*

    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'

    reportUnmatchedIgnoredErrors: false
