includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - src/

    excludePaths:
        - '%rootDir%/../../../src/Generated/*'
        - '%rootDir%/../../../src/Orm/*'

    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'

    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::setDataSetWriter\(\).#'
        - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::addAfterImportHook\(\).#'
        - '#Parameter \#1 \$rawCatalogSearchResultFormatterPlugin of class .+CurrencyAwareSuggestionByTypeResultFormatter constructor expects .+ResultFormatterPluginInterface, .+SuggestionByTypeResultFormatterPlugin given.#'
        - '#Method .+CheckoutPageDependencyProvider::.+\(\) return type has no value type specified in iterable type .+FormInterface.#'
        - '#PHPDoc tag .+with type string is not subtype of native type mixed.#'

    reportUnmatchedIgnoredErrors: false

    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET

    parallel:
    	maximumNumberOfProcesses: 1
