{% extends model('component') %}

{% define config = {
    name: 'cart-quantity-input',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    readOnly: false
} %}

{% block body %}
    <form method="POST" {% if not data.readOnly %} action="{{ path('cart/change/quantity', {'sku': data.cartItem.sku }) }}" {% endif %}>
        {% include molecule('quantity-counter') with {
            data: {
                maxQuantity: data.cartItem.maxQuantity,
                value: data.cartItem.quantity,
                readOnly: data.readOnly,
                autoUpdate: 'true'
            }
        } only %}

        <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey" />
    </form>
{% endblock %}
