{% extends model('component') %}

{% define config = {
    name: 'cart-quantity-input',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    isDisabled: false
} %}

{% block body %}
    <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.cartItem.sku }) }}">
        {% include molecule('quantity-counter') with {
            modifiers: ['cart'],
            data: {
                isDisabled: data.isDisabled,
                autoUpdate: true
            },
            attributes: {
                max: data.cartItem.maxQuantity,
                value: data.cartItem.quantity
            }
        } only %}

        <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey" />
    </form>
{% endblock %}
