{% extends view('availability-subscription', '@SprykerShop:AvailabilityNotificationWidget') %}

{% block body %}
    {% if data.isSubscribed %}
        {% embed molecule('form') with {
            modifiers: ['inline'],
            data: {
                form: data.unsubscribeForm,
                options: {
                    action: url('availability-notification/unsubscribe', [], true),
                },
            },
        } only %}
            {% block fieldset %}
                {{ parent() }}
                <button type="submit" class="button button--secondary button--form button--expand button--md-left-indent spacing-right spacing-right--reset" data-init-single-click>
                    {{ 'availability_notification.do_not_notify_me' | trans }}
                </button>
            {% endblock %}
        {% endembed %}
    {% else %}
        {% include molecule('form') with {
            modifiers: ['inline'],
            data: {
                form: data.subscribeForm,
                options: {
                    action: url('availability-notification/subscribe', [], true),
                },
                submit: {
                    enable: true,
                    class: 'button button--secondary button--form spacing-right spacing-right--reset',
                    icon: 'chevron-right',
                    text: '',
                },
            }
        } only %}
    {% endif %}
{% endblock %}
