@include shop-ui-money-price {
    $name: &;

    &--big {
        margin-top: rem(12);
        margin-bottom: rem(23);

        @include helper-breakpoint-media-min($lg) {
            margin-top: 0;
        }
    }

    &--medium {
        margin: 0 0 $setting-grid-space;
        width: 100%;
    }

    &--margin-bottom-from-tablet {
        margin: 0;

        @include helper-breakpoint-media-min($lg) {
            margin: 0 0 $setting-grid-space;
        }
    }

    &--text-right-from-tablet {
        @include helper-breakpoint-media-min($lg) {
            text-align: right;
        }
    }

    &--secondary {
        margin-top: rem(8);
        padding: rem(14) rem(16);
        background: $setting-color-gray-7;
    }

    &__amount {
        font-size: rem(16);
        font-weight: fw(medium);
        line-height: 1.2;
        color: $setting-color-gray-4;

        @include helper-breakpoint-media-min($lg) {
            @include helper-font-size(big);
        }

        &--big {
            font-size: rem(24);
            font-weight: fw(bold);
            line-height: normal;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(26);
            }
        }

        &--medium {
            font-size: rem(18);
            font-weight: fw(bold);
            line-height: normal;
        }

        &--gray-color {
            color: $setting-color-gray-5;
        }

        &--original {
            font-size: rem(15);
            display: inline-block;
            color: $setting-color-gray-2;
            font-weight: fw(regular);
            margin-left: rem(4);

            @include helper-breakpoint-media-min($lg) {
                @include helper-font-size(big);
            }
        }

        &--block {
            display: block;
        }
    }

    &__mode {
        color: $setting-color-gray-2;
        font-size: rem(12);
        font-weight: fw(regular);
        line-height: rem(14);

        @include helper-breakpoint-media-min($lg) {
            margin-left: rem(5);
            font-size: rem(12);
        }

        &--big {
            font-size: rem(13);
            line-height: normal;
        }

        &--block {
            display: block;
        }
    }
}
