.shopping-list-item {
    background-color: $setting-color-gray-13;
    margin-bottom: rem(5);
    padding-left: rem(30);
    border-left: rem(5) solid $setting-color-main;
    border-radius: $setting-border-radius;

    &__label {
        font-weight: fw(mewdium);
        color: $setting-color-gray-6;
    }

    .select2-selection--single {
        border: none;
        background-color: $setting-color-transparent;
    }
}
