.shopping-list-item {
    background-color: $setting-color-gray-7;
    margin-bottom: rem(5);
    padding-left: rem(30);
    border-radius: $setting-border-radius;

    &__label {
        font-weight: fw(mewdium);
        color: $setting-color-gray-5;
    }

    select,
    .select2-selection__rendered {
        border: none;
        background-color: $setting-color-transparent;
        text-align: right;
        padding-right: rem(50);
    }
}
