{% extends model('component') %}

{% define config = {
    name: 'shopping-list-item',
    tag: 'li'
} %}

{% define data = {
    name: required,
    shareForm: required
} %}

{% block body %}
    <div class="grid grid--middle">
        <div class="col col--sm-6 col--md-10">
            <label class="{{ config.name }}__label">{{ data.name }}</label>
        </div>
        <div class="col col--sm-6 col--md-2">
            {{ form_row(data.shareForm) }}
        </div>
    </div>
{% endblock %}
