.cart-item-note-actions {
    margin-top: rem(15);

    &__item {
        width: 50%;

        @include helper-breakpoint-media-min($lg) {
            width: auto;
            margin-right: rem(27);
        }
    }
}
