.cart-item-note-actions {
    margin-top: rem(15);

    &__item {
        margin: 0 rem(27) rem(5) 0;

        @include helper-breakpoint-media-min($lg) {
            margin-bottom: 0;
        }
    }
}
