{% extends model('component') %}

{% define config = {
    name: 'asset-filter',
} %}

{% define data = {
    assetData: {},
} %}

{% block body %}
    <div class="filter-section box spacing-top--big">
        {% block information %}
            {% block title %}
                <h3 class="title--h6">{{ 'self_service_portal.asset_filter.title' | trans }}</h3>
            {% endblock %}

            {% block description %}
                <small>{{ 'self_service_portal.asset_filter.description' | trans }}</small>
            {% endblock %}

            {% block content %}
                {% set selected = data.assetData is empty
                    ? ''
                    : data.assetData.serial_number ? "#{data.assetData.name}, #{data.assetData.serial_number}" : data.assetData.name %}

                {% include molecule('asset-finder', 'SelfServicePortal') with {
                    modifiers: ['catalog'],
                    data: {
                        label: 'self_service_portal.asset_filter.select_label',
                        formFieldName: 'ssp-asset-reference',
                        selected: selected,
                        clearable: true,
                    }
                } only %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}


