.filter-enumeration {
    margin-bottom: -0.5rem;

    &__list-item {
        line-height: rem(18);
        margin-bottom: rem(10);
    }

    &__item {
        width: 100%;
        font-size: rem(14);
        line-height: rem(18);
    }

    &__text {
        padding-right: 0.5rem;
    }
}