{% extends model('component') %}

{% define config = {
    name: 'filter-enumeration'
} %}

{% define data = {
    filter: null,
    isMultiSelect: null
} %}

{% set isMultiSelect = data.isMultiSelect is null ? (data.filter.config.isMultiValued | default(false)) : false %}
{% set activeValues = isMultiSelect ? data.filter.activeValue : [data.filter.activeValue] %}
{% set inputComponent = isMultiSelect ? 'checkbox' : 'radio' %}

{% block body %}
    <ul class="menu">
        {% for filterValue in data.filter.values %}
            <li class="menu__item menu__item--filter-enumeration">
                {% include atom(inputComponent) with {
                    modifiers: ['filter'],
                    attributes: {
                        name: data.filter.config.parameterName ~ (isMultiSelect ? '[]' : ''),
                        value: filterValue.value,
                        checked: (filterValue.value in activeValues)
                    },
                    data: {
                        label: filterValue.value ~ ' <span class="' ~ inputComponent ~ '__counter">' ~ filterValue.docCount | executeFilterIfExists('formatInt', app.locale) ~ '</span>'
                    }
                } only %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
