@mixin product-detail-page-product-configurator($name: '.product-detail') {
    #{$name} {
        padding: rem(43) 0 rem(100);

        &__title {
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-6;
            margin-bottom: 17px;
        }

        &__description {
            font-size: rem(16);
            font-weight: fw(regular);
            line-height: rem(29);
            color: $setting-color-gray-3;
        }

        &__detail-list {
            border-radius: $setting-border-radius;
            background-color: $setting-color-gray-13;
            padding: rem(4) rem(40) rem(36);

            &-item {
                &:nth-child(odd){
                    padding-right: 5px;
                }
                &:nth-child(even){
                    padding-left: 5px;
                }
            }

            &-key {
                font-size: rem(16);
                font-weight: fw(bold);
                line-height: normal;
                color: $setting-color-gray-6;
                padding-top: rem(31);
            }

            &-value {
                font-size: rem(15);
                font-weight: fw(regular);
                line-height: normal;
                color: $setting-color-gray-3;
            }
        }

        @content;
    }
}

@include product-detail-page-product-configurator;
