@mixin product-detail-page-product-configurator($name: '.product-detail') {
    #{$name} {
        padding: rem(47) 0 0;

        @include helper-breakpoint-media-min($lg) {
            padding: rem(43) 0 rem(100);
        }

        &__title {
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-5;
            margin-bottom: 17px;
        }

        &__description {
            font-size: rem(16);
            font-weight: fw(regular);
            line-height: rem(29);
            color: $setting-color-gray-3;
            padding-bottom: rem(35);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: 0;
            }
        }

        &__detail-list {
            border-radius: $setting-border-radius;
            background-color: $setting-color-gray-7;
            padding: 0 rem(10) rem(23) rem(20);
            margin-bottom: rem(40);

            @include helper-breakpoint-media-min($xl) {
                padding: rem(4) rem(40) rem(36);
                margin-bottom: 0;
            }

            &-item {
                &:nth-child(odd) {
                    padding-right: 5px;
                }

                &:nth-child(even) {
                    padding-left: 5px;
                }
            }

            &-key {
                font-size: rem(14);
                font-weight: fw(bold);
                line-height: normal;
                color: $setting-color-gray-5;
                padding-top: rem(23);

                @include helper-breakpoint-media-min($xl) {
                    font-size: rem(16);
                    padding-top: rem(31);
                }
            }

            &-value {
                font-size: rem(13);
                font-weight: fw(regular);
                line-height: normal;
                color: $setting-color-gray-3;

                @include helper-breakpoint-media-min($xl) {
                    font-size: rem(15);
                }
            }
        }

        @content;
    }
}

@include product-detail-page-product-configurator;
