.cart-title {
    margin-bottom: rem(20);

    &__text {
        font-size: rem(32);
        line-height: normal;
        font-weight: fw(medium);
    }

    &__link {
        padding-bottom: 0;
        margin-left: rem(10);
    }

    &__quantity {
        font-weight: fw(medium);
    }
}