{% extends model('component') %}

{% define config = {
    name: 'variant-configurator',
    tag: 'section'
} %}

{% define data = {
    superAttributes: [],
    selectedAttributes: [],
    availableAttributes: [],
    useExternalForm: false
} %}

{% block component %}
    {% if data.superAttributes is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    {% if not data.useExternalForm %}
        <form method="GET">
    {% endif %}

    {% for name, values in data.superAttributes %}
        {% set selectedValue = data.selectedAttributes[name] | default %}
        {% set selectedValue = selectedValue in values ? selectedValue : null %}
        {% set isAvailable = true %}
        {% set optionResetUrl = '' %}

        {% for selectedAttributeName, selectedAttributeValue in data.selectedAttributes | filter((value, key) => key != name) %}
            {% set selectedUrlParameter = ('attribute[' ~ selectedAttributeName ~ ']') | url_encode ~ '=' ~ selectedAttributeValue %}
            {% set optionResetUrl = optionResetUrl ~ '&' ~ selectedUrlParameter %}
        {% endfor %}

        {% if name in data.availableAttributes | keys %}
            {% set values = data.availableAttributes[name] %}
        {% else %}
            {% set isAvailable = selectedValue is empty %}
        {% endif %}

        <div class="{{ config.name }}__list {{ config.jsName }}">
            {% block variant %}
                <div class="{{ config.name }}__item">
                    {% include molecule('variant', 'ProductDetailPage') with {
                        data: {
                            name: name,
                            formName: 'attribute[' ~ name ~ ']',
                            values: values,
                            selectedValue: selectedValue,
                            label: ('product.attribute.' ~ name) | trans,
                            isAvailable: isAvailable,
                            optionResetUrl: optionResetUrl,
                        },
                    } only %}
                </div>
            {% endblock %}
        </div>
    {% endfor %}

    {% if not data.useExternalForm %}
        </form>
    {% endif %}

{% endblock %}
