.view-mode-switch {
    width: 100%;
    display: flex;
    border: 1px solid $setting-color-gray-1;
    border-radius: $setting-border-radius;

    &__link {
        @include helper-effect-transition(color);
        display: flex;
        width: 50%;
        flex-shrink: 0;
        padding: rem(12) 20px rem(10);
        font-size: rem(14);
        color: $setting-color-gray-2;
        line-height: rem(18);

        & + #{&} {
            border-left: 1px solid $setting-color-gray-1;
        }

        &:first-child {
            padding-left: 21px;
        }

        &:hover,
        &:focus {
            color: $setting-color-gray-4;
        }
    }

    &__link--active {
        background-color: $setting-color-gray-11;
        font-weight: fw(bold);
        color: $setting-color-gray-4;
    }

    &__icon {
        margin-right: 9px;
    }
}