{% extends model('component') %}

{% define config = {
    name: 'product-quick-add-fields'
} %}

{% define data = {
    form: required,
    verticalLayout: false
} %}

{% block body %}
    {% do data.form.sku.setRendered %}

    <div class="col col--sm-12 spacing-bottom spacing-bottom--big {{ data.verticalLayout ? '' : 'col--md-8 spacing-right spacing-right--inner' }}">
        {% widget 'ProductConcreteSearchWidget' args [
            'ajax-provider' ~ config.name,
            data.form.sku.vars.full_name,
        ] only %}
        {% endwidget %}
    </div>

    <div class="col col--sm-12 spacing-bottom spacing-bottom--big {{ data.verticalLayout ? '' : 'col--md-4 spacing-right spacing-right--inner' }}">
        {{ form_widget(data.form.children.quantity, {
            attr: {
                class: config.jsName ~ '__quantity ' ~ 'product-search-autocomplete-form__input product-search-autocomplete-form__input--no-icon js-product-search-autocomplete-form__quantity-field',
                min: 1,
                step: 1,
                placeholder: 'product_quick_add_widget.form.quantity' | trans
            }}
        ) }}
    </div>
{% endblock %}
