{% extends model('component') %}

{% define config = {
    name: 'delete-account',
    tag: 'div'
} %}

{% block body %}
    <div class="grid grid--middle grid--justify spacing-top spacing-top--biggest">
        <div class="col">
            <h5>{{ "customer.profile.delete" | trans }}</h5>
            {{ "customer.profile.delete.description" | trans }}
        </div>
        <div class="col">
            <a href="{{url('customer/delete')}}" class="button button--alert button--hollow">{{ "customer.profile.delete" | trans }}</a>
        </div>
    </div>
{% endblock %}
