@mixin shop-ui-navigation-top($name: '.navigation-top') {
    #{$name} {

        &__benefit {
            font-size: rem(11);
            font-weight: fw(medium);
            line-height: rem(40);
            opacity: 0.5;
            text-transform: uppercase;
        }

        &__action-item {
            border-right: solid 1px $setting-color-gray-2;
            position: relative;
            z-index: $setting-zi-element + 4;

            &:hover #{$name}__sub-nav {
                transform: scale(1);
            }
        }

        &__tel {
            font-size: rem(12);
            font-weight: fw(bold);
            line-height: rem(40);
            padding-right: rem(31);
        }

        &__company {
            font-size: rem(11);
            font-weight: fw(bold);
            letter-spacing: rem(0.6);
            line-height: rem(40);
            color: $setting-color-gray-4;
            padding: 0 18px;
            height: 100%;
            text-transform: uppercase;
            @include helper-effect-transition(color);
            &:hover {
                color: helper-color-light($setting-color-gray-4, 25);
            }

            &-icon {
                width: 7px;
                height: 4px;
                margin: 0 -5px 0 5px;
            }
        }

        &__sub-nav {
            position: absolute;
            top: 100%;
            left: 0;
            font-size: rem(15);
            font-weight: fw(regular);
            line-height: 1.93;
            letter-spacing: rem(0.2);
            border-radius: 0 0 $setting-border-radius $setting-border-radius;
            background-color: $setting-color-white;
            box-shadow: 0 18px 18px 0 $setting-color-alpha-2, 0 3px 3px 0 $setting-color-alpha-2;
            padding: rem(21) rem(38) rem(21) rem(29);
            transform-origin: top left;
            transform: scale(0);
            @include helper-effect-transition(transform);
        }

        &__sub-nav-link {
            color: $setting-color-gray-3;
            white-space: nowrap;
            @include helper-effect-transition(color);
        }

        @content;
    }
}

@include shop-ui-navigation-top();
