.shipment-list {

    &__item {
        display: block;
        position: relative;

        &:not(:first-child) {
            .radio__box::before {
                border-top: none;
            }
        }

        &:first-child {
            .radio__box::before {
                border-top-left-radius: $setting-border-radius;
                border-top-right-radius: $setting-border-radius;
            }
        }

        &:last-child {
            .radio__box::before {
                border-bottom-left-radius: $setting-border-radius;
                border-bottom-right-radius: $setting-border-radius;
            }
        }
    }

    .radio {
        &__container {
            padding: rem(30) rem(30) rem(22);
            display: flex;
            align-items: center;
        }

        &__box::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $setting-color-gray-7;
        }

        &__label {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            margin-bottom: 0;
        }

        &__input:checked ~ .radio__box::before {
            border-color: $setting-color-gray-18;
            box-shadow: 0 10px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
        }
    }
}