@mixin product-detail-page-bundle($name: '.product-bundle') {
    #{$name} {
        max-width: 870px;
        margin: 0 auto 90px;

        &--configurator {
            max-width: 100%;
            margin: 0;
            padding-bottom: 11px;
        }

        &--cart {
            max-width: none;
            margin: 0;
        }

        &__title {
            text-align: center;
            font-size: rem(32);
            font-weight: fw(middle);
            color: $setting-color-gray-6;
            margin-bottom: 22px;

            &--cart {
                font-size: rem(14);
                font-weight: fw(medium);
                color: $setting-color-gray-6;
                text-align: left;
                margin: 10px 0 3px;
            }
        }

        &__list {

            &--cart {
                padding: 0 0 0 rem(20);
                font-size: rem(13);
                font-weight: fw(regular);
                color: $setting-color-gray-6;
            }
        }

        &__item {

            &--configurator {
                padding-bottom: 10px;
                display: flex;
            }

            &--cart {
                padding: 3px 0;
            }
        }

        &__img-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 320px;
            position: relative;
            margin-bottom: 16px;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $setting-color-alpha-1;
            }

            &--configurator {
                padding: 5px;
                min-width: 70px;
                width: 70px;
                height: 70px;
                margin: 0 20px 0 0;
            }
        }

        &__img {
            max-width: 100%;
            max-height: 100%;
        }

        &__info {
            min-height: 95px;
            padding-bottom: 5px;

            &--configurator {
                display: flex;
                padding: 0;
                min-height: 0;
                flex-direction: column;
                justify-content: center;
            }
        }

        &__name {
            font-size: rem(15);
            font-weight: fw(medium);
            line-height: rem(19);
            color: $setting-color-gray-6;
        }

        &__quantity {
            font-size: rem(15);
            font-weight: fw(regular);
            line-height: rem(19);
            color: $setting-color-gray-3;

            &--cart {
                font-size: rem(13);
                line-height: normal;
                color: $setting-color-gray-3;
            }
        }
    }
}

@include product-detail-page-bundle;
