@mixin shop-ui-icon-tooltip($name: '.icon-tooltip') {
    #{$name} {
        display: inline-block;
        position: relative;

        $spacing-under-tooltip: rem(10);

        &__tooltip {
            @include helper-effect-transition(transform);
            background: $setting-color-alpha-7;
            color: $setting-color-white;
            text-transform: uppercase;
            font: fw(medium) rem(10) $setting-font-family;
            white-space: nowrap;
            padding: rem(7) rem(14);
            border-radius: $setting-border-radius;
            position: absolute;
            left: 50%;
            bottom: calc(100% + #{$spacing-under-tooltip});
            transform-origin: bottom center;
            transform: translateX(-50%) scale(0);

            $border-angle-size: rem(3);

            &::before {
                content: '';
                border-top: solid $border-angle-size $setting-color-alpha-7;
                border-left: solid $border-angle-size $setting-color-transparent;
                border-right: solid $border-angle-size $setting-color-transparent;
                position: absolute;
                top: 100%;
                left: calc(50% - #{$border-angle-size});
            }

            #{$name}:hover & {
                transform: translateX(-50%) scale(1);
            }
        }

        @content;
    }
}

@include shop-ui-icon-tooltip;
