.sales-order-threshold-expense-list {
    &--cart {
        margin: rem(8) rem(-15) 0;
        padding: 0 rem(15) rem(17);
        border-bottom: 1px solid $setting-color-gray-1;

        @include helper-breakpoint-media-min($lg) {
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding-left: rem(20);
            padding-right: rem(20);
        }
    }
}
