{% extends template('widget') %}

{% define data = {
    cartItem: _widget.itemTransfer,
    isBaseUnit: _widget.isBaseUnit ?? true,
    minQuantity: _widget.minQuantity,
    maxQuantity: _widget.maxQuantity,
    quantityInterval: _widget.quantityInterval,
} %}

{%- block hasSalesUnit -%}
    {{- _widget.itemTransfer.quantitySalesUnit.idProductMeasurementSalesUnit | default(false) -}}
{%- endblock -%}

{% block body %}
    {% set hasQuantitySalesUnit = data.cartItem.quantitySalesUnit is not empty %}
    <div class="grid grid--middle grid--gap">
        <div class="col">
            {% include molecule('product-item-quantity') with {
                data: {
                    productItem: data.cartItem,
                    isDisabled: hasQuantitySalesUnit,
                    minQuantity: data.minQuantity,
                    maxQuantity: data.maxQuantity,
                    quantityInterval: data.quantityInterval,
                },
            } only %}
        </div>
        {% if hasQuantitySalesUnit %}
            <div class="col col--sm-12 col--md-auto">
                {% set value = data.cartItem.quantitySalesUnit.value %}
                {% set precision = data.cartItem.quantitySalesUnit.precision %}
                {% set salesUnitName = data.cartItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}

                {% include atom('quantity-option') with {
                    data: {
                        value: value,
                        precision: precision,
                        optionName: salesUnitName | trans
                    }
                } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}
