{% extends template('widget') %}

{% define data = {
    cartItem: _widget.itemTransfer,
    isBaseUnit: _widget.isBaseUnit ?? true
} %}

{%- block hasSalesUnit -%}
    {{- _widget.itemTransfer.quantitySalesUnit.idProductMeasurementSalesUnit | default(false) -}}
{%- endblock -%}

{% block body %}
    {% set hasQuantitySalesUnit = data.cartItem.quantitySalesUnit is not empty %}

    <div class="grid">
        <div class="col spacing-left spacing-left--small">{{ data.cartItem.quantity | executeFilterIfExists('formatInt', app.locale) }}</div>

        {% if hasQuantitySalesUnit %}
            <div class="col spacing-left spacing-left--big">
                {% set value = data.cartItem.quantitySalesUnit.value %}
                {% set precision = data.cartItem.quantitySalesUnit.precision %}
                {% set salesUnitName = data.cartItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}

                {% include atom('quantity-option') with {
                    data: {
                        value: value,
                        precision: precision,
                        optionName: salesUnitName | trans
                    }
                } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}
