@mixin product-review-average-review($name: '.review-average-display') {
    #{$name} {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include helper-breakpoint-media-min($md) {
            display: block;
            max-width: rem(110);
        }

        @include helper-breakpoint-media-min($xl) {
            max-width: rem(140);
        }

        &__average-rating {
            text-align: center;
            font-size: rem(42);
            font-weight: fw(bold);
            color: $setting-color-gray-5;
        }

        &__rating-selector {
            display: flex;
            justify-content: center;
        }

        &__total-review {
            text-align: center;
            font-size: rem(13);
            font-weight: fw(regular);
            line-height: 1.1;
            color: $setting-color-gray-3;
            white-space: nowrap;

            @include helper-breakpoint-media-min($md) {
                white-space: normal;
            }
        }
    }
}

@include product-review-average-review;
