{% extends model('component') %}

{% define config = {
    name: 'review-average-display',
    tag: 'section'
} %}

{% define data = {
    summary: required,
    ratingMaxValue: required
} %}

{% block body %}
    <div class="review-average-display__average-rating">
        {{ data.summary.averageRating }}
    </div>

    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        modifiers: ['pdp'],
        class: config.name ~ '__rating-selector',
        data: {
            value: data.summary.averageRating,
            maxValue: data.ratingMaxValue,
            useHalfSteps: true
        },
        attributes: {
            readonly: true
        }
    } only %}

    {% if data.summary.totalReview > 0 %}
        <div class="review-average-display__total-review">
            {{- data.summary.totalReview }}
            {% transchoice data.summary.totalReview %}
                product_review.summary.review|product_review.summary.reviews
            {% endtranschoice -%}
        </div>
    {% else %}
        <div class="review-average-display__total-review is-hidden-sm-only">
            {{ 'product_review.no_reviews' | trans }}
        </div>
    {% endif %}

{% endblock %}
