@mixin shop-ui-product-item-variant-selector($name: '.product-item-variant-selector') {
    #{$name} {
        &__label {
            font-size: rem(13);
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-5;
            margin-right: rem(6);

            @include helper-breakpoint-media-min($lg) {
                margin-right: rem(24);
                font-size: rem(14);
            }
        }

        &__select {
            @include helper-breakpoint-media-min($md) {
                flex-grow: 0;
            }
        }

        @content;
    }
}

@include shop-ui-product-item-variant-selector();
