@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        border: rem(2) solid $setting-color-gray-7;
        border-radius: $setting-border-radius;
        padding: rem(12);
        margin-bottom: rem(10);
        position: relative;

        @include helper-breakpoint-media-min($md) {
            padding-right: rem(22);
        }

        @include helper-breakpoint-media-min($lg) {
            padding: 0;
            margin-bottom: rem(20);
        }

        &__col {
            padding-top: rem(8);
            padding-bottom: rem(12);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(36);
                padding-bottom: rem(28);
            }

            &--image {
                border-radius: $setting-border-radius 0 0 $setting-border-radius;
                padding-top: 0;
                padding-bottom: 0;
                width: rem(78);
                min-width: rem(78);

                @include helper-breakpoint-media-min($md) {
                    width: 22%;
                    min-width: 22%;
                }
            }

            &--description {
                padding-top: 0;
                padding-bottom: 0;
                width: calc(100% - 4.875rem);
                min-width: calc(100% - 4.875rem);

                @include helper-breakpoint-media-min($md) {
                    width: 78%;
                    min-width: 78%;
                }
            }

            &--total {
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                min-width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    padding-top: rem(36);
                    padding-bottom: rem(28);
                    width: 28%;
                    min-width: 28%;
                    text-align: right;
                }

                #{$name} & {
                    @include helper-breakpoint-media-min($lg) {
                        padding-left: 0;
                        padding-right: calc(#{$setting-grid-space*2} + #{$setting-grid-space});
                    }
                }
            }

            &--content {
                width: 100%;
                min-width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 72%;
                    min-width: 72%;
                }
            }

            &--summary:not(&--image),
            &--shopping-list:not(&--image) {
                padding-top: rem(28);
                padding-bottom: rem(20);
            }

            &--shopping-list-alternative {
                &:not(#{$name}__col--content) {
                    width: 27%;
                    max-width: 27%;
                }

                &:not(#{$name}__col--image):not(#{$name}__col--total) {
                    width: 46%;
                    min-width: 46%;
                }
            }

            &--hidden {
                &:not(#{$name}__col--content) {
                    opacity: 0.5;
                }
            }
        }

        &__inner {
            &--full-height {
                height: 100%;
            }

            &--total {
                flex-direction: column-reverse;

                @include helper-breakpoint-media-min($lg) {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            &--actions {
                @include helper-breakpoint-media-min($lg) {
                    align-items: flex-end;
                }
            }
        }

        &__title {
            font-size: rem(14);
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-5;
            margin-bottom: 0;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(20);
                margin-bottom: rem(8);
            }

            &--shopping-list-alternative {
                font-size: rem(16);
                margin-bottom: 0;
            }

            &--hidden {
                opacity: 0.5;
            }
        }

        &__color {
            display: inline-block;
            width: rem(14);
            height: rem(14);
            border-radius: 50%;
            margin-left: rem(4);
            text-indent: -9999px;
            vertical-align: middle;
        }

        &__color-preview {
            display: inline-block;
            margin-top: rem(15);
            position: relative;
            font-size: rem(13);
            font-weight: fw(medium);
            color: $setting-color-gray-5;
            padding-right: rem(21);
            line-height: rem(21);

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(10);
                font-size: rem(14);
            }
        }

        &__color-preview-decoration {
            position: absolute;
            right: 0;
            top: rem(3);
            width: rem(15);
            height: rem(15);
            border-radius: 50%;
        }

        &__available {
            display: inline-block;
            color: $setting-color-main;
            font-weight: fw(medium);
            line-height: normal;
            margin-bottom: rem(8);
        }

        &--fixed-input {
            max-width: rem(138);
            margin-bottom: rem(30);
            text-align: right;
        }

        &--shopping-list-alternative {
            margin-bottom: 10px;
        }

        &__checkbox {
            height: 100%;

            &-col {
                background-color: $setting-color-alpha-2;
                padding-left: rem(12);
            }
        }

        &__quantity-holder {
            padding-bottom: rem(16);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: 0;
            }
        }

        &__quantity {
            margin-top: rem(13);
            font-size: rem(14);
            color: $setting-color-gray-4;

            &-title {
                color: $setting-color-gray-5;
                font-weight: fw(medium);
            }
        }

        @content;
    }
}

@include shop-ui-product-item();
