{% extends template('widget') %}

{% define data = {
    cartQuantity: _widget.cartQuantity | default,
    activeCart: _widget.activeCart,
    carts: _widget.cartList,
    isMultiCartAllowed: _widget.isMultiCartAllowed,
} %}

{% set cartAmount = data.carts | length + 1 %}

{% block body %}
    {% block cartItems %}
        {% if data.isMultiCartAllowed %}
            <ul class="menu menu--wide">
                {% if data.activeCart %}
                    <li class="menu__item">
                        {% include molecule('mini-cart-detail', 'MultiCartWidget') with {
                            data: {
                                cart: data.activeCart,
                            },
                        } only %}
                    </li>
                {% endif %}

                {% if data.carts %}
                    {% for cart in data.carts %}
                        <li class="menu__item">
                            {% include molecule('mini-cart-detail', 'MultiCartWidget') with {
                                data: {
                                    cart: cart,
                                },
                            } only %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}
    {% endblock %}

    {% block cartActions %}
        {% if data.isMultiCartAllowed %}
            <div class="grid grid--gap grid--justify grid--nowrap-lg-only">
                <div class="col col--bottom-indent col--mobile-expand">
                    <a class="button button--mobile-tight button--expand button--hollow spacing-right spacing-right--big" href="{{ path('multi-cart') }}">
                        {{ 'multi_cart_widget.cart.view_all' | trans }}
                    </a>
                </div>
                <div class="col col--bottom-indent col--mobile-expand">
                    <a class="button button--mobile-tight button--expand" href="{{ url('multi-cart/create') }}">
                        {% include atom('icon') with {
                            modifiers: ['create-new-cart'],
                            data: {
                                name: 'create-new-cart',
                            },
                        } only %}
                        {{ 'multi_cart_widget.cart.add' | trans }}
                    </a>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% if not data.isMultiCartAllowed%}
        {% include molecule('cart-counter') with {
            data: {
                quantity: data.cartQuantity,
            },
        } only %}
    {% endif %}
{% endblock %}
