@mixin shop-ui-shopping-list-overview-table ($name: '.shopping-list-overview-table') {
    #{$name} {
        &__title {
            color: $setting-color-gray-5;
            font-weight: fw(medium);
        }

        &__owner {
            width: 20%;
        }

        &__actions {
            width: 20%;
        }

        &--update-head {
            padding: rem(20);
            background-color: $setting-color-gray-7;
            border-radius: $setting-border-radius;
            margin: rem(10) 0 rem(20);
            color: $setting-color-gray-3;
            font-size: rem(14);

            strong {
                color: $setting-color-gray-5;
                font-size: rem(12);
                text-transform: uppercase;
            }
        }

        td,
        th {
            padding: rem(16);
            min-width: 120px;
        }

        tr:last-child {
            border-bottom: 1px solid $setting-color-gray-6;
        }

        @content;
    }
}

@include shop-ui-shopping-list-overview-table;
