$color-selector-size: 18px;
$color-selector-size-big: 24px;
$name: '.color-selector';

@include helper-color-selector($name) {
    @include helper-effect-transition(opacity);
    position: absolute;
    bottom: -9px;
    z-index: $setting-zi-element + 1;
    opacity: 0;

    &__colors-title {
        display: none;
    }

    .product-list-item__content & {
        opacity: 1;
        position: relative;
        bottom: 0;
        margin: rem(10) 0;

        @include helper-breakpoint-media-min($lg-min) {
            position: absolute;
            left: 20px;
            bottom: 45px;
            margin: 0;
        }

        &__colors-title {
            font-size: rem(13);
            color: $setting-color-gray-3;
            margin-right: rem(9);
            display: inline;
            flex-shrink: 0;
        }
    }

    &__colors {
        display: flex;
        flex-wrap: wrap;
    }

    &__color {
        width: $color-selector-size;
        height: $color-selector-size;
        margin-right: 2px;
        padding: 4px;
        display: block;

        &--active {
            padding: 3px;
            border-width: 1px;
            border-style: solid;
        }
    }
}

