.common-section {
    padding: rem(32) 0 rem(30);

    @include helper-breakpoint-media-min($lg) {
        padding: rem(50) 0 rem(16);
    }

    @include helper-breakpoint-media-min($xl) {
        padding-top: rem(70);
    }

    &--no-mob-bottom-indent {
        padding-bottom: 0;

        @include helper-breakpoint-media-min($lg) {
            padding-bottom: rem(16);
        }
    }

    &--bg-dark {
        padding: rem(22) 0 rem(19);
        background-color: $setting-color-gray-7;

        .product-card__image-wrap {
            background-color: $setting-color-white;
        }

        .product-card__overlay::before {
            background-color: $setting-color-transparent;
        }

        @include helper-breakpoint-media-min($lg) {
            padding: rem(50) 0 rem(80);

            .product-card__container {
                background-color: $setting-color-white;
            }
        }
    }

    &--full-width {
        margin-left: -$setting-grid-space;
        margin-right: -$setting-grid-space;
    }

    &__mobile-partly-hidden {
        max-height: rem(215);
        margin-bottom: rem(26);
        overflow: hidden;
    }

    &__title {
        color: $setting-color-gray-8;
        text-align: center;
        font-size: rem(28);
        margin-bottom: rem(16);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(30);
        }

        @include helper-breakpoint-media-min($xl) {
            font-size: rem(32);
            margin-bottom: rem(24);
        }
    }

    &__sub-title {
        font-size: map_get($setting-font-size, default);
        line-height: normal;
        color: $setting-color-gray-2;
        text-align: center;
        margin-bottom: rem(26);

        @include helper-breakpoint-media-min($lg) {
            font-size: map_get($setting-font-size, big);
            margin-bottom: rem(40);
        }
    }

    &__text {
        text-align: center;
        font-size: rem(15);
        color: $setting-color-gray-2;
        line-height: 1.61;
        max-width: rem(970);
        margin: 0 auto rem(26);

        @include helper-breakpoint-media-min($lg) {
            font-size: map_get($setting-font-size, big);
            line-height: 1.61;
            margin-bottom: rem(40);
        }
    }

    &__link {
        color: $setting-color-gray-3;

        &:hover {
            color: helper-color-dark($setting-color-gray-3);
        }
    }
}
