@import '~slick-carousel/slick/slick.scss';

@mixin product-image-widget-image-gallery($name: '.image-gallery') {
    #{$name} {
        position: relative;

        &__container {
            display: block;
            height: rem(289);
            position: relative;
            z-index: $setting-zi-element;
            background: $setting-color-white;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $setting-color-alpha-2;
                z-index: $setting-zi-element;
            }

            @include helper-breakpoint-media-min($lg) {
                height: rem(420);
            }

            @include helper-breakpoint-media-min($xl) {
                height: rem(570);
            }
        }

        &__item {
            @include helper-effect-transition(opacity);
            position: absolute;
            left: 0;
            top: 0;
            padding: rem(10);
            width: 100%;
            height: rem(289);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: $setting-zi-element - 1;

            &--left-indent {
                padding-left: rem(73);
            }

            &--active,
            &--color-active {
                opacity: 1;
            }

            @include helper-breakpoint-media-min($lg) {
                padding: rem(37);
                height: rem(420);
            }

            @include helper-breakpoint-media-min($xl) {
                height: rem(570);
            }
        }

        &__image {
            max-width: 100%;
            max-height: 100%;
        }

        // Thumbnail slider

        &__thumbnail {
            @include helper-breakpoint-media-max($lg - 1) {
                ~ #{$name}__container {
                    display: none;
                }
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: rem(18);

                li {
                    display: block;
                    margin: 0 0.5rem;
                    width: rem(5);
                    height: rem(5);
                    background: $setting-color-light;
                    border-radius: 50%;
                    font-size: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    &.slick-active {
                        width: rem(10);
                        height: rem(10);
                        background: $setting-color-transparent;
                        border: 2px solid $setting-color-gray-4;
                    }
                }
            }

            @include helper-breakpoint-media-min($lg) {
                position: absolute;
                top: rem(20);
                left: rem(20);
                z-index: $setting-zi-element + 1;
                width: rem(40);
                max-height: rem(424);
                overflow: hidden;

                .thumb-prev,
                .thumb-next {
                    padding: rem(5) 0 0;
                    text-align: center;
                    cursor: pointer;
                    display: block;

                    svg {
                        display: block;
                        width: 100%;
                        height: rem(7);
                        color: $setting-color-gray-2;
                    }

                    &[aria-disabled='true'] {
                        cursor: default;
                        pointer-events: none;

                        svg {
                            color: $setting-color-transparent;
                        }
                    }
                }

                .thumb-prev {
                    padding: 0 0 rem(5);

                    svg {
                        transform: rotate(180deg);
                    }
                }

                .slick-slide {
                    border: none;
                }

                .slick-current #{$name}__thumbnail-item::before {
                    background: $setting-color-transparent;
                }
            }

            @include helper-breakpoint-media-min($xl) {
                left: rem(30);
                width: rem(70);
            }
        }

        &__thumbnail-item {
            background: $setting-color-white;
            position: relative;
            height: rem(255);
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: $setting-zi-element;
                background: $setting-color-alpha-2;
            }

            @include helper-breakpoint-media-min($lg) {
                width: rem(40);
                height: rem(40);
                position: relative;
                margin: rem(10) 0;
                cursor: pointer;
            }

            @include helper-breakpoint-media-min($xl) {
                width: rem(70);
                height: rem(70);
            }
        }

        &__thumbnail-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include helper-breakpoint-media-min($lg) {
                max-width: calc(100% - 10px);
                max-height: calc(100% - 10px);
            }
        }

        @content;
    }
}

@include product-image-widget-image-gallery;
