{% extends view('sales-order-threshold-checkout-expenses', '@SprykerShop:SalesOrderThresholdWidget') %}

{% block body %}
    <li class="summary-overview__item">
        {{ 'checkout.sales-order-threshold' | trans }}
        <ul class="sales-order-threshold-expense-list">
            {% for expense in data.expenses %}
                {% include molecule('sales-order-threshold-expense', 'SalesOrderThresholdWidget') with {
                    class: 'spacing-top',
                    data: {
                        'expense': expense,
                    },
                } only %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}
