{% extends molecule('customer-reorder-form', '@SprykerShop:CustomerReorderWidget') %}

{% define data = {
    order: required,
    idSalesOrder: '',
} %}

{% block body %}
    {% block reorderAllForm %}
        {% widget 'CustomerReorderFormWidget' args [data.order] only %}
            {% block body %}
                {% set formClass = 'text-right' %}

                {{ parent() }}
            {% endblock %}

            {% block embeddedData %}
                <button class="button spacing-bottom">{{ 'customer.order.reorder_all' | trans }}</button>
            {% endblock %}
        {% endwidget %}
    {% endblock %}

    {% widget 'CustomerReorderItemsFormWidget'  args [data.order, config] with {
        embed: {
            formContent: block('formContent'),
            jsName: config.jsName,
        },
    } only %}
        {% block embeddedData %}
            <input type="hidden" name="id" value="{{ data.order.idSalesOrder }}">
            {{ embed.formContent | raw }}

            {% block formActions %}{% endblock %}
        {% endblock %}
    {% endwidget %}
{% endblock %}
