@mixin customer-page-order-detail-table($name: '.order-detail-table') {
    #{$name} {
        text-align: left;

        &__head {
            background-color: $setting-color-gray-7;
            text-transform: uppercase;
            font-size: map_get($setting-font-size, tiny);
            font-weight: fw(bold);
        }

        &__row {
            &:not(:first-child) {
                border-top: 1px solid $setting-color-gray-6;
            }

            &--detail {
                &:not(:first-child) {
                    border-top: none;
                }
            }
        }

        &__cell {
            padding: rem(16) rem(32);
            vertical-align: top;

            &--head {
                vertical-align: middle;
            }

            &--detail {
                padding-top: rem(8);
                padding-bottom: rem(8);
                line-height: initial;
            }

            &--float {
                position: absolute;
                right: rem(-17);
                top: rem(8);
                z-index: $setting-zi-element;

                @include helper-breakpoint-media-min($lg) {
                    position: static;
                }
            }
        }

        &__title {
            display: block;
            width: 100%;
            font-size: rem(14);
            font-weight: fw(bold);
            text-transform: uppercase;
        }

        &__inner {
            display: block;

            &--lg-inline {
                @include helper-breakpoint-media-min($lg) {
                    display: inline;
                }
            }
        }
    }
}

@include customer-page-order-detail-table();
