@include configurable-bundle-page-configured-bundle-total {
    padding: rem(23) rem(20);
    margin: rem(34) 0 0;

    &__title {
        font-weight: fw(bold);
        margin-bottom: rem(15);
    }
}
