.page-layout-main {

    &--catalog-page {
        padding-top: rem(20);
    }

    &--catalog-page-content {
        padding-bottom: rem(70);
    }

    &--cart-page {
        padding-top: rem(32);
        padding-bottom: rem(116);
    }

    &--pdp {
        padding: 30px 0 0;
    }
}