@mixin shop-ui-page-layout($name: '.page-layout') {
    #{$name} {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 360px;

        &--preload * {
            transition: none !important;
        }

        .content-wrap {
            flex: 1;
        }
    }

    #{$name}-main {
        &--catalog-page,
        &--cms-search-page {
            position: relative;
            padding-top: rem(16);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(20);
            }
        }

        &__catalog-page-content {
            padding-bottom: rem(60);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: rem(70);
            }
        }

        &--pdp {
            @include helper-breakpoint-media-min($lg) {
                padding: rem(30) 0 0;
            }
        }

        &--quick-order-page {
            padding: rem(14) 0 rem(60);

            @include helper-breakpoint-media-min($lg) {
                padding: rem(50) 0 rem(54);
            }
        }

        &--cart-page,
        &--request-for-quote {
            padding-top: rem(14);
            padding-bottom: rem(30);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(32);
                padding-bottom: rem(60);
            }

            @include helper-breakpoint-media-min($xl) {
                padding-bottom: rem(120);
            }
        }

        &--checkout-page {
            padding-top: rem(24);
            padding-bottom: rem(80);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(32);
            }

            @include helper-breakpoint-media-min($xl) {
                padding-bottom: rem(120);
            }
        }

        &--cms-page {
            padding-top: rem(32);
            padding-bottom: rem(70);
        }

        &--success {
            padding-top: 0;
            padding-bottom: rem(50);

            @include helper-breakpoint-media-min($xl) {
                padding-bottom: rem(110);
            }
        }

        &--error-page {
            background: url('../images/error-page-img.svg') center no-repeat;
            background-size: cover;
            min-height: rem(760);
            padding-top: rem(35);
        }

        $setting-pdp-gallery-max-width: 660;
        $setting-site-max-width: 1200;

        &__pdp-gallery {
            background: $setting-color-alpha-2;
            padding: 0 rem(15) rem(15);
            margin: 0 rem(-15);
            width: calc(100% + #{rem(30)});
            min-width: 100%;

            @include helper-breakpoint-media-min($lg) {
                background: $setting-color-transparent;
                width: calc(#{$setting-pdp-gallery-max-width} / #{$setting-site-max-width} * 100%);
                min-width: calc(#{$setting-pdp-gallery-max-width} / #{$setting-site-max-width} * 100%);
                margin: 0 rem(15) 0 0;
                padding-bottom: 0;
            }
        }
    }
}

@include shop-ui-page-layout();
