@mixin shop-ui-label($name: '.label') {
    #{$name} {
        display: block;
        font-size: map_get($setting-font-size, tiny);
        font-weight: map_get($setting-font-weight, bold);
        margin-bottom: 0.4rem;
        text-transform: uppercase;

        &--required {
            &::after {
                content: '*';
                margin-left: 0.2rem;
                color: $setting-color-main;
            }
        }

        @content;
    }
}

@include shop-ui-label();
