@mixin shop-ui-label($name: '.label') {
    #{$name} {
        display: block;
        font-size: map_get($setting-font-size, tiny);
        font-weight: map_get($setting-font-weight, bold);
        margin-bottom: 0.4rem;
        text-transform: uppercase;
        color: $setting-color-gray-5;

        &--required {
            &::after {
                content: '*';
                margin-left: 0.2rem;
                color: $setting-color-main;
            }
        }

        &--title {
            &::after {
                display: none;
            }
        }

        &--browse-file {
            @include helper-effect-transition(border-color);
            display: flex;
            align-items: center;
            width: 100%;
            min-height: rem(120);
            padding: rem(10);
            border: rem(2) dashed $setting-color-gray-2;
            border-radius: rem(2);
            background-color: $setting-color-white;
            color: $setting-color-gray-3;
            text-transform: initial;
            font-weight: fw(regular);
            cursor: pointer;

            &:hover {
                border-color: $setting-color-main;
            }
        }

        &--browse-file-cursor-default {
            cursor: default;
        }

        &--small {
            text-transform: none;
            font-weight: fw(medium);
        }

        @content;
    }
}

@include shop-ui-label();
