{% extends template('page-layout-main') %}

{% block pageInfo %}
    <div class="page-info">
        <div class="container">
            {% block breadcrumbs %}
                {% include molecule('breadcrumb') with {
                    data: {
                        steps: [{
                            label: 'customer.login' | trans
                        }],
                    },
                } only %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% embed organism('section') with {
        data: {
            title: 'customer.login.title' | trans,
            innerClass: 'col col--sm-12 col--md-9 col--lg-8 col--xl-6',
        },
        modifiers: ['center', 'last', 'mobile-center'],
    } only %}
        {% block inner %}
            {% include molecule('form') with {
                class: 'box',
                data: {
                    form: _view.loginForm,
                    shouldRequireMessage: true,
                    submit: {
                        enable: true,
                        class: 'button button--big form__action--primary',
                        text: 'forms.submit.login' | trans,
                    },
                    cancel: {
                        enable: true,
                        url: url('password/forgotten'),
                        text: 'forms.forgot-password' | trans,
                        icon: null,
                        class: 'link link--action form__action--link',
                        qa: 'customer-forgot-password-link',
                    },
                },
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
