.display-address {

    &__name {
        font-weight: fw(medium);
        color: $setting-color-gray-5;
    }

    &__bottom {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &--summary {
            margin: rem(14) 0 0;
        }
    }
}
