@mixin cart-page-cart-summary($name: '.cart-summary') {
    #{$name} {
        &__wrapper {
            background-color: $setting-color-gray-7;
            margin: 0 rem(-15);
            padding: 0 rem(15) rem(17);
            font-size: rem(14);
            font-weight: fw(medium);
            border-radius: 0 0 $setting-border-radius $setting-border-radius;

            @include helper-breakpoint-media-min($lg) {
                margin: 0;
                padding-left: rem(20);
                padding-right: rem(20);
            }
        }

        &__item {
            color: $setting-color-gray-2;
            line-height: rem(24);
            font-size: rem(16);
            font-weight: fw(bold);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
                font-weight: fw(regular);
            }

            &--top-space {
                padding-top: rem(23);
            }
        }

        &__approve-request {
            background-color: $setting-color-gray-7;
            margin-top: rem(5);
            margin-bottom: rem(20);
            padding: rem(17) rem(20);
            font-size: rem(14);
            font-weight: fw(medium);
            border-radius: $setting-border-radius;

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(10);
            }
        }

        &__total {
            color: $setting-color-gray-5;
            padding-bottom: rem(7);
        }

        &__button {
            margin-top: rem(20);
        }

        @content;
    }
}

@include cart-page-cart-summary();
