.cart-summary {

    &__item {
        color: $setting-color-gray-2;
        line-height: rem(24);
    }

    &__total {
        color: $setting-color-gray-6;
        padding-bottom: rem(7);
    }

    &__button {
        margin-top: rem(20);
    }
}