{% extends model('component') %}

{% define config = {
    name: 'customer-reorder-link',
    tag: 'customer-reorder-link',
} %}

{% define data = {
    targetFormClass: required,
} %}

{% define attributes = {
    'form-target-class': data.targetFormClass,
} %}

{% block class %}{{ parent() }} menu__item{% endblock %}

{% block body %}
    <button type="button" class="{{ config.jsName }}__trigger button">{{ 'customer.order.reorder_all' | trans }}</button>
{% endblock %}
