@include shop-ui-card {
    &__container--category-card {
        background-color: $setting-color-gray-7;
    }

    &__actions-container--category-card {
        left: 0;
        right: 0;
        bottom: 0;
    }
}
