.custom-select {
    position: relative;

    &__select {
        border: none;
        background: none;
        font-size: rem(11);
        line-height: rem(40);
        font-weight: fw(bold);
        letter-spacing: rem(0.6);
        padding: 0 rem(30) 0 rem(18);
        text-transform: uppercase;
        appearance: none;
    }

    &__caret {
        position: absolute;
        top: 50%;
        right: 21px;
        width: 8px;
        height: 5px;
        transform: translateY(-3px);
        pointer-events: none;
    }

    .select2-selection--single {
        border-color: $setting-color-input-border;
        height: auto;
        .select2-selection__rendered {
            font-size: rem(14);
            line-height: rem(38);
            font-weight: fw(medium);
            padding: 0 rem(45) 0 rem(20);
        }
        .select2-selection__arrow {
            display: none;
        }
    }

    .select2-dropdown {
        border: none;
        margin: 0;
        padding: rem(21) rem(29) rem(11) rem(16);
        border-radius: $setting-border-radius;
        background-color: $setting-color-white;
        box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
    }

    .select2-results__option {
        color: $setting-color-gray-3;
        font-size: rem(15);
        font-weight: fw(regular);
        line-height: 1.93;
        letter-spacing: rem(0.2);
        padding: 0 0 0 19px;
        white-space: nowrap;
        &[aria-selected=true] {
            background: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                border-left: 2px solid $setting-color-gray-3;
                border-bottom: 2px solid $setting-color-gray-3;
                width: 10px;
                height: 6px;
                top: rem(9);
                left: rem(3);
                transform: rotate(-45deg);
            }
        }

        &--highlighted[aria-selected] {
            background: none;
            color: $setting-color-gray-3;
            &:hover {
                background: none;
                color: $setting-color-gray-4;
                &::before {
                    border-color: $setting-color-gray-4;
                }
            }
        }
    }

    // Alternative select

    &--alternative {
        text-transform: uppercase;

        .custom-select__caret {
            right: 13px;
            width: 7px;
            height: 4px;
            transform: translateY(-2px);
        }

        .select2-selection--single {
            background: none;
            border: none;
            .select2-selection__rendered {
                font-size: rem(11);
                line-height: rem(40);
                font-weight: fw(bold);
                letter-spacing: rem(0.6);
                padding: 0 rem(30) 0 rem(18);
            }
        }

        .select2-dropdown {
            padding: rem(11) 0 rem(12) rem(19);
            border-radius: 0 0 $setting-border-radius $setting-border-radius;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
        }

        .select2-results__option {
            padding: 0;
            font-size: rem(13);
            &[aria-selected=true] {
                &::before {
                    display: none;
                }
            }
        }
    }

    &--flexible-width {
        display: inline-block;

        .select2 {
            padding: 0 rem(22);
            box-sizing: content-box;
            border-radius: $setting-border-radius;
            border: 1px solid $setting-color-input-border;
        }

        .select2-selection--single .select2-selection__rendered {
            padding-right: 2rem;
        }

        .select2-selection {
            border: none;
            margin: 0 rem(-22);
        }

        .select2-dropdown {
            padding-right: 1rem;
        }

        .select2-results__option {
            white-space: normal;
        }
    }

    &--pdp-option {
        width: 100%;
        margin-bottom: 21px;

        .select2-selection--single {
            background: $setting-color-gray-13;

            .select2-selection__rendered {
                font-size: rem(15);
                line-height: rem(46);
                font-weight: fw(regular);
                padding: 0 rem(45) 0 rem(20);
            }
        }

        .custom-select__caret {
            width: 12px;
            height: 7px;
        }
    }

    &--gap-before {
        margin-top: rem(12);
    }

}

