@mixin checkout-page-summary-voucher-form($name: '.summary-voucher-form') {
    #{$name} {
        &__item {
            background-color: $setting-color-gray-7;
            margin-top: rem(10);
            padding: rem(17) rem(20);
            font-size: rem(16);
            font-weight: fw(medium);
            border-radius: $setting-border-radius;
        }

        &__title {
            font-size: rem(14);
            font-weight: fw(medium);
            line-height: rem(16);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(16);
                line-height: rem(18);
            }
        }

        &__content {
            margin-top: rem(18);
        }

        @content;
    }
}

@include checkout-page-summary-voucher-form();
