{% extends template('page-layout-confirmation', '@SprykerShop:QuoteRequestPage') %}

{% block content %}
    <div class="spacing-y spacing-y--biggest">
        {{ block('message') }}
        {{ block('form') }}
    </div>
{% endblock %}
