{% extends model('component') %}

{% define config = {
    name: 'cart-to-shopping-list'
} %}

{% define data = {
    quote: required,
} %}

{% block body %}
    <a class="link link--alt link--action" href="{{ url('shopping-list/create-from-exist-cart', {'idQuote': (data.quote.idQuote)}) }}">
        {% include atom('icon') with {
            modifiers: ['create-list'],
            data: {
                name: 'create-list'
            },
            attributes: {
                title: 'widget.shopping_list.multi_cart.to_shopping_list' | trans
            }
        } only %}
    </a>
{% endblock %}
