$color-selector-size: 18px;
$color-selector-size-big: 24px;
$name: '.color-selector-pdp';

@include helper-color-selector($name) {
    margin: rem(24) 0 rem(15);

    @include helper-breakpoint-media-min($lg) {
        margin: 0 0 rem(28);
    }

    &__colors {
        display: flex;
    }

    &__colors-title {
        display: none;
    }

    &__color {
        width: $color-selector-size-big;
        height: $color-selector-size-big;
        border: solid 12px $setting-color-transparent;
        display: block;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--active::before {
            background: $setting-color-white;
        }
    }

    &__color-inner {
        display: none;
    }

    &__tooltip {
        top: -54px;
        left: -22px;
    }

    &__active-color-name {
        font-size: rem(14);
        color: $setting-color-gray-3;

        @include helper-breakpoint-media-min($lg) {
            display: none;
        }
    }
}
