{% extends model('component') %}

{% define config = {
    name: 'return-reason',
} %}

{% define data = {
    returnReason: required,
    returnReasonTitle: 'return_page.return_reasons.title' | trans,
} %}

{% block body %}
    <p><strong>{{ data.returnReasonTitle }}</strong> {{ data.returnReason }}</p>
{% endblock %}
