@mixin shop-ui-checkbox($name: '.checkbox') {
    #{$name} {
        display: inline-block;
        position: relative;

        &__container {
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &__box {
            @include helper-effect-transition(border-color background-color);
            display: block;
            width: rem(26);
            height: rem(26);
            line-height: rem(26);
            border: rem(1) solid $setting-color-input-border;
            background-color: $setting-color-white;
            margin-right: rem(10);
            text-align: center;
            border-radius: $setting-border-radius;
            flex: none;

            @include helper-breakpoint-media-min($lg) {
                margin-right: rem(14);
                width: rem(20);
                height: rem(20);
                line-height: rem(20);
            }

            &--filter {
                width: rem(24);
                height: rem(24);
                line-height: rem(24);

                @include helper-breakpoint-media-min($lg) {
                    width: 1.125rem;
                    height: 1.125rem;
                    line-height: 1.125rem;
                }
            }

            &--shopping-list {
                position: absolute;
                top: rem(-10);
                right: rem(15);
                margin-right: 0;
                z-index: $setting-zi-element;

                @include helper-breakpoint-media-min($lg) {
                    position: static;
                    margin-right: rem(10);
                }
            }

            &--alternative {
                border: solid rem(2) $setting-color-gray-2;
            }
        }

        &__input {
            @include helper-visibility-invisible;
            position: absolute;

            &:checked ~ {
                #{$name}__box {
                    background-color: $setting-color-main;
                    border-color: $setting-color-main;

                    #{$name}__check {
                        @include helper-visibility-visible;
                    }

                    &--alternative {
                        background-color: $setting-color-white;
                        border-color: $setting-color-gray-2;
                    }
                }

                #{$name}__label {
                    font-weight: fw(bold);

                    &--alternative {
                        font-weight: fw(regular);
                    }
                }
            }

            &[disabled],
            &--disabled {
                & ~ #{$name}__box,
                & ~ #{$name}__box:hover {
                    background-color: $setting-color-white;
                    border-color: $setting-color-gray-1;
                    cursor: not-allowed;
                }

                &:checked ~ #{$name}__box {
                    background-color: $setting-color-gray-1;
                }

                & ~ #{$name}__label {
                    color: $setting-color-gray-2;
                    cursor: not-allowed;
                }
            }
        }

        &__check {
            @include helper-visibility-invisible;
            @include helper-effect-transition;
            color: $setting-color-white;
            vertical-align: baseline;

            &--alternative {
                color: $setting-color-gray-2;
                margin-bottom: rem(2);
            }
        }

        &__label {
            display: inline-block;
            vertical-align: middle;
            text-transform: none;
            font-size: rem(14);
            font-weight: fw(regular);
            margin: 0;
            user-select: none;
            flex: 1;

            &--filter {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: rem(14);
                font-weight: fw(regular);
                text-transform: none;
                margin-bottom: 0;
            }

            &--alternative {
                margin-bottom: 0;
                font-size: rem(15);
                font-weight: fw(regular);
                line-height: rem(20);
                color: $setting-color-gray-2;
                text-transform: none;
            }
        }

        &__counter {
            padding-left: rem(8);
        }

        &--expand {
            display: block;
        }

        &--filter {
            width: 100%;
            font-size: rem(15);
            line-height: rem(18);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }
        }

        &--alternative {
            margin-bottom: rem(15);

            &:hover {
                #{$name}__box--alternative {
                    border-color: $setting-color-gray-2;
                }
            }
        }

        &--pdp {
            @include helper-breakpoint-media-min($lg) {
                margin-left: rem(132);
            }

            &:hover {
                #{$name}__box--alternative {
                    border-color: $setting-color-gray-2;
                }
            }
        }

        &--error &__box {
            border-color: $setting-color-alt;
        }

        &:hover {
            #{$name}__box {
                border-color: $setting-color-main;
            }

            #{$name}__input[disabled] ~ #{$name}__box,
            #{$name}__input--disabled ~ #{$name}__box {
                border-color: $setting-color-gray-1;
            }
        }

        @content;
    }
}

@include shop-ui-checkbox;
