@mixin shop-ui-checkbox($name: '.checkbox') {
    #{$name} {
        display: inline-block;

        &#{&}--expand {
            display: block;
        }

        + label {
            display: none;

            + #{$name} {
                margin-top: rem(4);
            }
        }

        &__container {
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &__box {
            @include helper-effect-transition(border-color background-color);
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
            border: 1px solid $setting-color-input-border;
            background-color: $setting-color-white;
            margin-right: 0.865rem;
            text-align: center;
            border-radius: $setting-border-radius;
            flex: none;

            &--filter {
                width: 1.125rem;
                height: 1.125rem;
                line-height: 1.125rem;
            }
        }

        &__input {
            @include helper-visibility-invisible;
            position: absolute;
        }

        &__check {
            @include helper-visibility-invisible;
            @include helper-effect-transition;
            color: $setting-color-white;
            vertical-align: baseline;
        }

        &__input:checked ~ {
            #{$name}__box {
                background-color: $setting-color-main;
                border-color: $setting-color-main;

                #{$name}__check {
                    @include helper-visibility-visible;
                }
            }

            #{$name}__label {
                font-weight: fw(bold);
            }
        }

        &__label {
            flex: 1;
            margin: 0;
            user-select: none;

            &--filter {
                display: flex;
                justify-content: space-between;
                font-size: rem(14);
                font-weight: fw(regular);
                text-transform: none;
                margin-bottom: 0;
            }
        }

        &--error &__box {
            border-color: map-get($setting-color-actions, alert);
        }

        &[disabled] &__box,
        &--disabled &__box {
            background-color: $setting-color-lighter;
            cursor: not-allowed;
        }

        &:hover {
            #{$name}__box {
                border-color: $setting-color-main;
            }
        }

        &--alternative {
            margin-left: 132px;
            margin-bottom: rem(15);
            &:hover {
                #{$name}__box--alternative {
                    border-color: $setting-color-gray-2;
                }
            }
        }

        &__box--alternative {
            border: solid 2px $setting-color-gray-2;
        }

        &__container--alternative {
            display: flex;
        }

        &__check--alternative {
            color: $setting-color-gray-2;

            &--filter {
                top: rem(3);
                left: rem(3);
            }
        }

        &__label--alternative {
            margin-bottom: 0;
            font-size: rem(15);
            font-weight: fw(regular);
            line-height: rem(20);
            color: $setting-color-gray-2;
            text-transform: none;
        }

        &__input--alternative:checked ~ {

            #{$name}__box--alternative {
                background-color: $setting-color-white;
                border-color: $setting-color-gray-2;
            }

            #{$name}__label--alternative {
                font-weight: fw(regular);
            }
        }

        @content;
    }
}
@include shop-ui-checkbox;
