.filter-section {
    margin-top: rem(35);

    &__item {
        border: 1px solid $setting-color-gray-1;
        border-bottom: none;
        padding: rem(18) 20px;

        &:last-of-type {
            border-bottom: 1px solid $setting-color-gray-1;
        }

        &--hollow {
            @include helper-breakpoint-media-min($lg) {
                border: none;
                padding: 0;
            }
        }
    }

    &__item-title {
        color: $setting-color-gray-5;
        font: fw(bold) rem(12)/rem(15) $setting-font-family;
        text-transform: uppercase;
        letter-spacing: rem(0.37);

        &--desktop-hidden {
            @include helper-breakpoint-media-min($lg) {
                display: none;
            }
        }
    }

    &__item--hollow {
        @include helper-breakpoint-media-min($lg) {
            margin-bottom: rem(40);
        }
    }

    &__item-content,
    &__button {
        margin-top: rem(20);
    }
}
