{% extends model('component') %}

{% define config = {
    name: 'product-cms-block',
} %}

{% define data = {
    idProductAbstract: required,
} %}

{% set cmsContent = spyCmsBlock({ product: data.idProductAbstract }) %}

{% block body %}
    <div class="container">
        {% if cmsContent is not empty %}
            {% embed molecule('content-collapser') with {
                modifiers: ['with-background'],
                embed: {
                    idProductAbstract: data.idProductAbstract,
                },
            } only %}
                {% block content %}
                    {{ spyCmsBlock({ product: embed.idProductAbstract }) }}
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}
