.agent-control-item {

    &__info {
        margin-top: rem(8);
        margin-bottom: rem(8);
        font-size: 14px;
        line-height: normal;
    }

    &__button-wrap {
        margin-top: rem(8);
        margin-bottom: rem(8);
    }

    &__name {
        font-weight: 500;
    }
}
