@mixin agent-widget-agent-control-item($name: '.agent-control-item') {
    #{$name} {
        display: flex;
        align-items: center;

        &__col {
            flex-grow: 0;
            flex-basis: auto;
        }

        &__icon {
            padding-right: rem(10);

            @include helper-breakpoint-media-min($xl) {
                padding-right: rem(15);
            }
        }

        &__info {
            @include helper-font-size(tiny);
            line-height: normal;
            color: $setting-color-gray-3;
            overflow: hidden;
        }

        &__title {
            margin-bottom: rem(4);
        }

        &__name {
            @include helper-effect-transition(color);
            font-size: rem(10);
            font-weight: fw(bold);
            color: $setting-color-gray-4;
            text-transform: uppercase;
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover,
            &:focus {
                color: $setting-color-gray-3;
            }
        }

        &__button-wrapper {
            align-self: stretch;
            display: flex;
            align-items: flex-end;
            padding-left: rem(8);
        }

        &__button {
            @include helper-effect-transition(color);
            color: $setting-color-gray-4;
            display: inline-block;
            font-size: 0;
            line-height: 0;
            padding: rem(5) rem(5) rem(3);

            &:hover,
            &:focus {
                color: $setting-color-gray-3;
            }
        }

        @content;
    }
}

@include agent-widget-agent-control-item();
