.navigation-top1 {
    &-navigation {
        &__item {
            position: relative;
            margin: 0;
            padding: 0.8rem;
            z-index: 12;

            .icon {
                color: $setting-color-gray-4;
            }
        }
    }
}