@mixin shop-ui-navigation-sidebar-item($name: '.navigation-sidebar-item') {
    #{$name} {
        &--active {
            background-color: $setting-color-gray-7;

            #{$name}__icon {
                color: $setting-color-alt;
            }

            #{$name}__label {
                color: $setting-color-gray-5;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            padding: rem(10) rem(13);
            line-height: 1.3em;
            font-size: rem(17);
            font-weight: fw(medium);
            color: $setting-color-gray-2;

            &--account {
                margin: 0 rem(-20);
                padding: 0 0 0 rem(19);
                color: $setting-color-gray-5;
            }
        }

        &__icon-wrapper {
            padding: 0 rem(15) 0 0;
            min-width: rem(50);
            display: flex;
            justify-content: center;

            &--account {
                min-width: rem(45);
                color: $setting-color-gray-2;
            }
        }

        &__label {
            text-transform: capitalize;

            &--account {
                padding: rem(15) rem(13) rem(15) rem(10);
                border-bottom: rem(1) solid $setting-color-gray-1;
                flex-grow: 1;
            }
        }
    }
}

@include shop-ui-navigation-sidebar-item();
