.ssp-service-point-selector {
    &__location-container {
        display: flex;
        align-items: flex-start;
        padding: rem(8) rem(16);
        background-color: $setting-color-alpha-9;
        border-radius: rem(2);
        border: rem(1) solid $setting-color-main;
        gap: rem(20);
        color: $setting-color-gray-4;
        font-size: rem(14);
        margin-bottom: rem(20);
    }

    &__location {
        flex-grow: 1;
    }
}
