@mixin checkout-page-summary-sidebar($name: '.summary-sidebar') {
    #{$name} {
        &__item {
            background-color: $setting-color-gray-7;
            padding: rem(20) rem(15);
            margin: 0 rem(-15) rem(20);

            @include helper-breakpoint-media-min($lg) {
                margin: 0 0 rem(20);
                padding: rem(20);
            }

            &--secondary {
                font-size: rem(15);
                color: $setting-color-gray-3;
            }
        }

        &__title {
            margin-bottom: rem(10);
            font-weight: fw(medium);
        }

        &__content {
            font-size: rem(14);
            line-height: rem(20);
            color: $setting-color-gray-3;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(15);
                line-height: rem(22);
            }
        }

        @content;
    }
}

@include checkout-page-summary-sidebar();
