@include shop-ui-list {
    &--checkout {
        & > .list__item {
            margin-left: rem(10);
            margin-right: rem(10);
        }
    }

    &__item {
        &--inline {
            display: inline-block;
        }
    }
}
