@include shop-ui-list {
    &--checkout {
        & > .list__item {
            margin-left: rem(10);
            margin-right: rem(10);
        }
    }

    &__item {
        &--inline {
            display: inline-block;
        }
    }

    &--company-user {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: rem(15);
        font-weight: fw(regular);
        line-height: 1.93;
        letter-spacing: rem(0.2);
        border-radius: 0 0 $setting-border-radius $setting-border-radius;
        background-color: $setting-color-white;
        box-shadow: 0 18px 18px 0 $setting-color-alpha-2, 0 3px 3px 0 $setting-color-alpha-2;
        padding: rem(21) rem(38) rem(21) rem(29);
        transform-origin: top left;
        transform: scale(0);
        @include helper-effect-transition(transform);
    }
}
