@mixin configurable-bundle-widget-configured-bundle($name: '.configured-bundle') {
    #{$name} {
        border: 0.125rem solid $setting-color-gray-7;
        margin-bottom: rem(22);
        overflow: hidden;

        &__col {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: 0;
            align-items: center;

            &--right {
                justify-content: flex-end;
            }
        }

        &__content {
            display: flex;
            padding: rem(18) rem(30);
            overflow: hidden;
            background: $setting-color-gray-8;
            align-items: center;
        }

        &__title {
            font-size: rem(14);
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-5;
            margin-bottom: 0;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(20);
            }
        }

        &__products {
            padding: rem(18) rem(30);
        }

        &__delete-cart {
            float: right;
            margin: 0 rem(20) rem(32);
        }

        &__text {
            font-size: rem(18);
        }

        @content;
    }
}

@include configurable-bundle-widget-configured-bundle;
