@mixin product-packaging-unit-measurement-unit($name: '.measurement-unit, .packaging-unit') { // Must be refactored
    #{$name} {
        display: flex;
        align-items: center;
        margin-bottom: rem(17);

        &__label {
            min-width: rem(92);
            padding-right: rem(15);
            font-size: rem(14);
            font-weight: fw(regular);
            line-height: normal;
            color: $setting-color-gray-4;

            @include helper-breakpoint-media-min($md) {
                min-width: 0;
            }

            @include helper-breakpoint-media-min($lg) {
                min-width: rem(75);
            }
        }

        &-choice {
            border-radius: $setting-border-radius;
            background-color: $setting-color-gray-7;
            padding: rem(17) rem(16) rem(21);
            margin-bottom: rem(17);
            font-size: rem(15);
            font-weight: fw(regular);
            line-height: 1.47;
            color: $setting-color-gray-3;

            @include helper-breakpoint-media-min($lg) {
                background-color: $setting-color-white;
                box-shadow: 0 18px 18px 0 $setting-color-alpha-2, 0 3px 3px 0 $setting-color-alpha-2;
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
                padding-top: rem(7);

                .link {
                    border-radius: $setting-border-radius;
                    background: $setting-color-white;
                    color: $setting-color-gray-4;
                    padding: rem(3) rem(13);
                    margin-top: rem(7);
                    margin-right: rem(10);
                    display: inline-block;
                    box-shadow: 0 18px 18px 0 $setting-color-alpha-2, 0 3px 3px 0 $setting-color-alpha-2;

                    @include helper-breakpoint-media-min($lg) {
                        background: $setting-color-alpha-5;
                        color: $setting-color-alt;
                    }

                    &:hover {
                        background: $setting-color-alt;
                        color: $setting-color-white;
                        text-decoration: none;
                    }
                }
            }
        }

        @content;
    }
}

@include product-packaging-unit-measurement-unit;
