{% extends model('component') %}

{% define config = {
    name: 'shopping-list-action-navigation',
    tag: 'nav'
} %}

{% define data = {
    idShoppingList: required,
    hasWritePermission: required
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <a class="link link--alt link--action" href="{{ url('shopping-list/update', { idShoppingList: data.idShoppingList }) }}">
            {% include atom('icon') with {
                data: {
                    name: 'edit'
                }
            } only %}
        </a>
        <a class="link link--alt link--action" class="spacing-left spacing-left--small" href="{{ url('shopping-list/share', { idShoppingList: data.idShoppingList }) }}">
            {% include atom('icon') with {
                data: {
                    name: 'share'
                }
            } only %}
        </a>
    {% endif %}

    <a class="link link--alt link--action" class="spacing-left spacing-left--small" href="{{ url('shopping-list/print', { idShoppingList: data.idShoppingList }) }}" target="_blank">
        {% include atom('icon') with {
            data: {
                name: 'print'
            }
        } only %}
    </a>

    {% if data.hasWritePermission %}
        <a class="link link--alt link--action" class="spacing-left spacing-left--small" href="{{ url('shopping-list/delete/confirm', { idShoppingList: data.idShoppingList }) }}">
            {% include atom('icon') with {
                data: {
                    name: 'delete'
                }
            } only %}
        </a>
    {% endif %}
{% endblock %}
