@mixin shopping-list-action-navigation ($name: '.shopping-list-action-navigation') {
    #{$name} {
        padding-top: $setting-grid-space;
        padding-bottom: $setting-grid-space-mobile;
        margin: 0 rem(-15);

        &__item {
            flex-basis: 20%;
            padding: rem(4) 0;
            border: 1px solid $setting-color-gray-2;
            border-radius: $setting-border-radius;
            text-align: center;
        }

        &__text {
            display: block;
            font-size: rem(11);
        }

        @include helper-breakpoint-media-min($lg) {
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;

            &__item {
                padding: 0;
                flex-basis: auto;
                line-height: normal;
                border: none;
            }

            &__text {
                display: none;
            }
        }

        @content;
    }
}

@include shopping-list-action-navigation;
