@include configurable-bundle-page-configurator-product {
    margin: 0 0 rem(10);
    border-radius: $setting-border-radius;
    flex-direction: column;

    @include helper-breakpoint-media-min($md) {
        padding-right: rem(20);
        background-color: $setting-color-gray-7;
        flex-direction: row;
    }

    @include helper-breakpoint-media-min($xl) {
        @include helper-effect-transition(background-color box-shadow);

        &:hover {
            box-shadow: 0 rem(3) rem(3) $setting-color-shadow-1, 0 rem(18) rem(18) $setting-color-shadow-1;
            background-color: $setting-color-transparent;
        }
    }

    &__container {
        width: 100%;
    }

    &__col {
        padding: rem(24) 0;

        &:last-child {
            margin: 0 rem(30);

            @include helper-breakpoint-media-min($md) {
                margin: 0;
            }
        }

        &--image-container {
            position: relative;
            background-color: $setting-color-white;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: $setting-color-alpha-2;
                z-index: $setting-zi-element;
            }
        }

        &--description {
            padding-left: rem(30);
            padding-right: rem(30);

            @include helper-breakpoint-media-min($xl) {
                padding-right: rem(150);
            }
        }
    }

    &__overlay {
        width: 100%;
    }

    &__sku {
        display: block;
        color: $setting-color-gray-3;
        font-size: map_get($setting-font-size, small);
        line-height: rem(18);
        text-transform: uppercase;
    }

    &--selected {
        border: rem(2) solid $setting-color-main;
    }
}
