{% extends template('page-layout-catalog', 'CatalogPage') %}

{% define data = {
    products: [],
    facets: _view.facets,
    filteredFacets: _view.filteredFacets | default([]),
    category: _view.category | default,
    categories: categories | default([]),
    isEmptyCategoryFilterValueVisible: _view.isEmptyCategoryFilterValueVisible | default,
    viewMode: _view.viewMode | default,
    children: _view.category.children | default([]),

    title: _view.category.name | default,
    metaTitle: _view.pageTitle | default(_view.category.name | default),
    metaDescription: _view.pageDescription | default,
    metaKeywords: _view.pageKeywords | default,

    pagination: null
} %}

{% set categoryTemplate = molecule('category-card', 'CatalogPage') %}
{% set cardClass = 'col col--sm-12 col--md-6 col--lg-6 col--xl-4' %}

{% if data.viewMode == 'list' %}
    {% set categoryTemplate = molecule('category-list-item', 'CatalogPage') %}
    {% set cardClass = 'col col--sm-12' %}
{% endif %}

{% block form %}
    <div class="col col--sm-12 col--lg-4 col--xl-3">
        {% block filterBar %}
            {% include molecule('view-mode-switch', 'CatalogPage') with {
                data: {
                    viewMode: data.viewMode
                }
            } only %}

            {% embed organism('filter-section', 'CatalogPage') with {
                modifiers: ['sub-categories-grid'],
                class: 'js-catalog__filters-toggle',
                data: {
                    facets: data.facets,
                    categories: data.categories,
                    isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible,
                    parentJsName: 'js-catalog',
                },
            } only %}
                {% block body %}
                    {% for filter in data.facets %}
                        {% set filterHasValues = filter.values is not defined or filter.values | length > 0 %}
                        {% set filterIsVisible = filter.name == 'category' %}

                        {% if filterHasValues and filterIsVisible %}
                            {% block filters %}
                                <div class="{{ config.jsName }}__holder">
                                    {{ parent() }}
                                </div>
                            {% endblock %}
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    </div>

    <div class="col col--sm-12 col--lg-8 col--xl-9">
        <div class="grid grid--stretch">
            {% for childCategory in data.children %}
                {% include categoryTemplate with {
                    class: cardClass,
                    data: {
                        id: childCategory.id_category,
                        name: childCategory.name,
                        url: childCategory.url
                    }
                } only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
