{% extends template('widget') %}

{% define data = {
    shoppingListOptions: _widget.shoppingListOptions,
    isVisible: _widget.isVisible,
} %}

{% block template %}
    {% if data.isVisible %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if data.shoppingListOptions | length %}
        {% include atom('select') with {
            attributes: {
                name: 'idShoppingList',
            },
            data: {
                options: data.shoppingListOptions,
            },
        } only %}
    {% endif %}

    <button name="addToShoppingList" class="button button--small button--hollow">
        {{ 'shopping_list_add_items_widget.add_to_shopping_list' | trans }}
    </button>
{% endblock %}
