:root {
    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #f1f1f1;
    --gray-4: #ebebeb;
    --gray-5: #e4e4e4;
    --gray-6: #dddddd;
    --gray-7: #d4d4d4;
    --gray-8: #bbbbbb;
    --gray-9: #8d8d8d;
    --gray-10: #808080;
    --gray-11: #646464;
    --gray-12: #202020;
}
