:root {
    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #f1f1f1;
    --gray-4: #ebebeb;
    --gray-5: #e4e4e4;
    --gray-6: #dddddd;
    --gray-7: #d4d4d4;
    --gray-8: #bbbbbb;
    --gray-9: #8d8d8d;
    --gray-10: #808080;
    --gray-11: #646464;
    --gray-12: #202020;
    --spryker-1: color-mix(in srgb, var(--spryker-9), #ffffff 97%);
    --spryker-2: color-mix(in srgb, var(--spryker-9), #ffffff 95%);
    --spryker-3: color-mix(in srgb, var(--spryker-9), #ffffff 90%);
    --spryker-4: color-mix(in srgb, var(--spryker-9), #ffffff 85%);
    --spryker-5: color-mix(in srgb, var(--spryker-9), #ffffff 60%);
    --spryker-6: color-mix(in srgb, var(--spryker-9), #ffffff 40%);
    --spryker-7: color-mix(in srgb, var(--spryker-9), #ffffff 30%);
    --spryker-8: color-mix(in srgb, var(--spryker-9), #ffffff 21%);
    --spryker-9: var(--themeMainColor, #0f856f);
    --spryker-10: color-mix(in srgb, var(--spryker-9), #000000 45%);
    --spryker-11: color-mix(in srgb, var(--spryker-9), #000000 55%);
    --spryker-12: color-mix(in srgb, var(--spryker-9), #000000 68%);
}
