{% extends model('component') %}

{% define config = {
    name: 'label-group',
    tag: 'div'
} %}

{% define data = {
    labels: []
}  %}

{% block body %}
    {% set leftColumnComponents = [] %}
    {% set rightColumnComponents = [] %}

    {% for label in data.labels %}
        {% set componentName = 'tag' %}
        {% set componentModifiers = [] %}

        {% set component = include(
            [
                molecule(componentName, 'ProductLabelWidget')
            ],
            {
                modifiers: componentModifiers,
                data: {
                    text: label.text
                }
            },
            with_context = false
        ) %}

        {% set component = '<div>' ~ component ~ '</div>' %}
        {% if label.type == 'template:tag' %}
            {% set rightColumnComponents = rightColumnComponents | merge([component]) %}
        {% else %}
            {% set leftColumnComponents = leftColumnComponents | merge([component]) %}
        {% endif %}
    {% endfor %}

    <div class="grid grid--justify">
        {% if leftColumnComponents is not empty %}
            <div class="col col--expand">{{leftColumnComponents | join | raw}}</div>
        {% endif %}
        {% if rightColumnComponents is not empty %}
            <div class="col col--expand text-right">{{rightColumnComponents | join | raw}}</div>
        {% endif %}
    </div>
{% endblock %}
