@include product-label-widget-label-group {
    padding: 20px 0;

    &__text {
        display: inline-block;
        font-size: rem(10);
        line-height: rem(24);
        background-color: $setting-color-alt;
        color: $setting-color-white;
        padding: 0 rem(10);
    }
}
