{% extends model('component') %}

{% define config = {
    name: 'label-group',
    tag: 'div'
} %}

{% define data = {
    labels: []
}  %}

{% block body %}

    {% for label in data.labels %}
        {% set labelType = label.type %}
        {% if 'Alternatives' in label.text %}
            {% set labelType = 'alternative' %}
        {% elseif 'Discontinued' in label.text  %}
            {% set labelType = 'discontinued' %}
        {% endif %}
        <span class="{{ config.name }}__text {{ config.name }}__text--{{ labelType }}">{{ label.text }}</span>
    {% endfor %}

{% endblock %}
