{% extends model('component') %}

{% define config = {
    name: 'label-group',
    tag: 'div'
} %}

{% define data = {
    labels: []
}  %}

{% block body %}

    {% for label in data.labels %}
        <span class="{{ config.name }}__text {{ config.name }}__text--{{ label.type }}">{{ label.text }}</span>
    {% endfor %}

{% endblock %}
