@mixin product-search-widget-product-quick-add-form($name: '.product-quick-add-form') {
    #{$name} {
        &--row {
            padding: rem(20);
            background-color: $setting-color-lighter;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(20) rem(20) rem(4);
            }
        }

        &__title {
            &--row {
                @include helper-font-size(default);
                font-weight: fw(bold);
            }
        }

        &__button.button {
            padding: rem(15);
        }
    }
}

@include product-search-widget-product-quick-add-form();
