@include self-service-management-assets-preview($name: '.assets-preview') {
    &.spacing-x {
        margin-left: 0;
        margin-right: 0;
    }

    &__content.box {
        padding-bottom: rem(15);
    }
}
