{% extends model('component') %}

{% define config = {
    name: 'jumbotron-slider-item',
    tag: 'section'
} %}

{% define data = {
    imageUrl: null,
    link: null,
    cmsBlockName: null
} %}

{% set backgroundImage = data.imageUrl is empty ?: 'background-image: url(' ~ data.imageUrl ~ '); ' %}


{% block body %}
    <div class="{{config.name}}__container grid grid--left grid--middle" style="display: none; {{backgroundImage}}">
        <div class="col col--sm-12">
            {{ spyCmsBlock({name: data.cmsBlockName}) }}
            <a href="{{ data.link | trans }}" class="jumbotron-slider-item__button button">Shop Now</a>
        </div>
    </div>
{% endblock %}
