@mixin configurable-bundle-note-widget-cart-configured-bundle-item-note($name: '.cart-configured-bundle-item-note') {
    #{$name} {
        &__container {
            background-color: $setting-color-gray-7;
            padding: rem(13) rem(20);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(17);
                padding-bottom: rem(17);
            }
        }

        &__title {
            font-size: rem(13);
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-5;
            margin-bottom: rem(7);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }
        }

        &__label {
            font-size: rem(12);
            line-height: rem(18);
            color: $setting-color-gray-3;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }
        }

        &__content {
            margin-top: rem(17);
        }

        &__text {
            color: $setting-color-gray-3;
            font-size: rem(13);
            line-height: 1.38;
        }

        @content;
    }
}

@include configurable-bundle-note-widget-cart-configured-bundle-item-note;
