{% extends view('product-offer-price-widget', '@SprykerFeature:SelfServicePortal') %}

{% block defaultProductPrice %}
    <div data-product-price-offer {% if data.product.productOfferReference %}data-product-price-offer="{{ data.product.productOfferReference }}"{% endif %}>
        {% widget 'CurrentProductPriceVolumeWidget' args [data.product.currentProductPrice] only %}{% endwidget %}
    </div>
{% endblock %}
