$cart-locked-info-padding: rem(52);

@mixin cart-page-cart-locked($name: '.cart-locked') {
    #{$name} {
        margin-bottom: rem(20);
        padding: rem(10) rem(18);
        background-color: $setting-color-gray-7;

        &__form {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__info {
            width: calc(100% - #{$cart-locked-info-padding});
        }

        &__reset-link {
            color: $setting-color-alt;

            @include helper-breakpoint-media-min($xl) {
                @include helper-effect-transition(color);
            }

            &:focus,
            &:hover {
                text-decoration: none;
                color: $setting-color-main;
            }
        }

        @content;
    }
}

@include cart-page-cart-locked();
