{% extends '@Application/Layout/layout.twig' %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Processes' } %}

        {% block widget_content %}

            <form action="/oms/index/submitProcess" method="post">
            <div class="row" style="padding: 10px">
                <label class="control-label">Default process for invoice payment type</label>
                <select class="form-control" name="inprocesses" id="inprocesses">
                    {% for key, process in inprocesses %}
                        <option value="{{ key }}">{{ process }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="row" style="padding: 10px">
                <label class="control-label">Default process for credit card payment type</label>
                <select class="form-control" name="ccprocesses" id="ccprocesses">
                    {% for key, process in ccprocesses %}
                        <option value="{{ key }}">{{ process }}</option>
                    {% endfor %}
                </select>
            </div>

            <input class="btn btn-create safe-submit" type="submit" value="save"/>
            </form>

        {% endblock %}

    {% endembed %}

{% endblock %}
