@mixin shop-ui-table-action-list ($name: '.table-action-list') {
    #{$name} {
        display: flex;
        padding-top: $setting-grid-space;
        padding-bottom: $setting-grid-space-mobile;
        margin: 0 rem(-4);
        justify-content: space-between;

        @include helper-breakpoint-media-min($lg) {
            width: 100%;
            margin: 0;
            padding: 0;
            justify-content: flex-end;
        }

        &--shopping-list {
            display: block;
            background-color: $setting-color-gray-7;
            padding: rem(9) rem(20);
            margin: rem(8) 0 0;

            @include helper-breakpoint-media-min($lg) {
                padding: 0;
                background-color: $setting-color-transparent;
            }
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            margin: 0 rem(-4);
        }

        &__item {
            flex-grow: 1;
            padding: 0 rem(4);

            @include helper-breakpoint-media-min($lg) {
                flex-grow: 0;
            }
        }

        @content;
    }
}

@include shop-ui-table-action-list();
