@mixin shop-ui-table-action-list($name: '.table-action-list') {
    #{$name} {
        display: flex;
        flex-wrap: wrap;
        padding-top: $setting-grid-space;
        padding-bottom: $setting-grid-space-mobile;

        &--align-right {
            justify-content: flex-end;
        }

        @include helper-breakpoint-media-min($lg) {
            width: 100%;
            padding: 0 rem(10) 0 0;
            flex-wrap: nowrap;
        }

        &__item {
            flex-grow: 1;
            min-width: calc(100% / 3);
            padding: rem(2) rem(4);

            @include helper-breakpoint-media-min($md) {
                min-width: 20%;
            }

            @include helper-breakpoint-media-min($lg) {
                flex-grow: 0;
                min-width: rem(30);
                padding: 0 rem(4);
                text-align: center;
            }
        }

        @content;
    }
}

@include shop-ui-table-action-list();
