{% extends model('component') %}

{% define config = {
    name: 'table-action-list',
} %}

{% define data = {
    items: [],
    linkModifiers: [],
} %}

{% block body %}
    {% for item in data.items %}
        {% set itemQa = item.qa is defined ? item.qa : '' %}
        {% set available = item.available is defined ? item.available : true %}
        {% set isCustomAction = available and item.customAction is defined and (item.customAction | trim) is not empty and item.url is not defined %}
        {% set isAction = available and (item.customAction is not defined or (item.customAction | trim) is empty) and item.url is defined %}

        {% if isCustomAction %}
            <div class="{{ config.name }}__item">
                {{ item.customAction | raw }}
            </div>
        {% endif %}
        {% if isAction %}
            <div class="{{ config.name }}__item">
                {% include molecule('table-action-link') with {
                    qa: itemQa,
                    class: 'link link--alt link--action',
                    modifiers: data.linkModifiers,
                    data: item,
                } only %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
