@include shop-ui-input {
    border-radius: $setting-border-radius;
    color: $setting-color-gray-6;
    font: fw(regular) rem(15)/rem(19) $setting-font-family;
    padding: rem(14) rem(20) rem(13);

    &--small {
        font-size: rem(14);
        line-height: rem(18);
        padding: rem(10) rem(16);
    }

    &--measurement-unit {
        max-width: 90px;
        appearance: none;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }
}
