.search-form {
    position: relative;

    &__submit {
        position: absolute;
        top: 0;
        left: 0;
        width: 56px;
        height: 100%;
        background: transparent;
    }

    &__input {
        padding: 15px 15px 15px 56px;
        border: none;
        font-size: rem(15);
        font-weight: fw(regular);
        border-radius: $setting-border-radius;
        box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
    }
}
