@mixin product-detail-page-product-configurator($name: '.product-bundle-detail') {
    #{$name} {

        &__title {
            font-size: rem(14);
            font-weight: fw(regular);
            line-height: normal;
            color: $setting-color-gray-6;
            padding: rem(18) rem(20);
            margin-top: -1px;
            border-top: solid 1px $setting-color-gray-7;
            border-bottom: solid 1px $setting-color-gray-7;
            cursor: pointer;
            position: relative;

            &:before,
            &:after {
                content: "";
                position: absolute;
                background: $setting-color-gray-6;
                top: 50%;
                transform: translateY(-50%);
            }

            &:before {
                width: 10px;
                height: 2px;
                right: 19px;
            }

            &:after {
                width: 2px;
                height: 10px;
                right: 23px;
            }
        }

        &__description {
            font-size: rem(13);
            font-weight: fw(regular);
            color: $setting-color-gray-6;
            padding: rem(18) 0 rem(26);
            border-bottom: solid 1px $setting-color-gray-7;
        }

        &__detail-list {
            padding: rem(18) 0;
            border-bottom: solid 1px $setting-color-gray-7;


            &-key {
                font-size: rem(14);
                font-weight: fw(bold);
                color: $setting-color-gray-6;
            }

            &-value {
                font-size: rem(13);
                font-weight: fw(regular);
                color: $setting-color-gray-3;
                padding-bottom: 8px;
            }
        }

        @content;
    }
}

@include product-detail-page-product-configurator;
