@mixin shop-ui-panel-info-item($name: '.panel-info-item') {
    #{$name} {
        display: none;

        @include helper-breakpoint-media-min($xl) {
            display: block;
            font-size: rem(11);
            font-weight: fw(medium);
            line-height: rem(40);
            opacity: 0.5;
            text-transform: uppercase;
        }

        @content;
    }
}

@include shop-ui-panel-info-item;
