{% extends view('sales-order-threshold-cart-expenses', '@SprykerShop:SalesOrderThresholdWidget') %}

{% block body %}
    {% if data.expenses is not empty %}
        <li class="list__item spacing-top spacing-top--inner spacing-top--bigger">
            <span>{{ 'cart.sales-order-threshold' | trans }}</span>
            <ul class="sales-order-threshold-expense-list sales-order-threshold-expense-list--cart">
                {% for expense in data.expenses %}
                    {% include molecule('sales-order-threshold-expense', 'SalesOrderThresholdWidget') with {
                        modifiers: ['cart'],
                        data: {
                            'expense': expense,
                        },
                    } only %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endblock %}
