{% extends molecule('quote-request-summary-shipment', '@SprykerShop:QuoteRequestPage') %}

{% block component %}
    {% if data.shipmentTotal and data.currencyCode %}
        <hr class="box__separator">

        {{ block('body') }}
    {% endif %}
{% endblock %}

{% block body %}
    {% set shipmentClass = 'grid grid--justify grid--nowrap ' ~ config.name ~ '__row' %}
    {% set shipmentTitleClass = 'col ' ~ config.name ~ '__key' %}
    {% set shipmentValueClass = 'col ' ~ config.name ~ '__value' %}

    {{ parent() }}
{% endblock %}

{% block title %}
    <div class="grid grid--justify grid--nowrap {{ config.name }}__title">
        <strong class="col">{{ 'quote_request_page.quote_request.shipments' | trans }}</strong>
    </div>
{% endblock %}
