@mixin b2b-shop-ui-form($name: '.form') {
    @include shop-ui-form($name);

    #{$name} {
        &__field {
            + #{&} {
                margin-top: 0.5rem;
            }

            &#{&}--section {
                margin-top: rem(48);
                width: 100%;
            }
        }

        &__actions {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-top: 1rem;
        }

        &__action {
            flex: none;
            margin: 0 1rem 0 0;

            &#{&}--primary {
                order: -1;
            }
        }
    }
}

@include b2b-shop-ui-form();
