@mixin product-detail-page-variant-configurator($name: '.variant') {
    #{$name} {
        border-top: solid rem(1) $setting-color-gray-6;

        &:last-child {
            border-bottom: solid rem(1) $setting-color-gray-6;
            margin-bottom: rem(-1);
        }

        &--promotion {
            position: relative;
            z-index: $setting-zi-element + 1;
            border: none;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
        }

        &--product-set {
            border: none;
            margin-bottom: rem(8);

            &:last-child {
                border: none;
                margin-bottom: 0;
            }
        }

        &__title {
            font-size: rem(16);
            font-weight: fw(medium);
            line-height: rem(54);
            color: $setting-color-gray-5;
            position: relative;

            &--product-set {
                font-size: rem(14);
                line-height: rem(28);

                @include helper-breakpoint-media-min($lg) {
                    font-size: rem(16);
                    line-height: rem(32);
                }
            }
        }

        &__selected-value {
            font-size: rem(14);
            font-weight: fw(regular);
            line-height: normal;
            color: $setting-color-gray-3;
            margin: rem(-5) 0 rem(15);
        }
    }
}

@include product-detail-page-variant-configurator;
