@mixin product-detail-page-variant-configurator($name: '.variant') {
    #{$name} {
        border-top: solid 1px $setting-color-gray-6;

        &:last-child {
            border-bottom: solid 1px $setting-color-gray-6;
            margin-bottom: -1px;
        }

        &--promotion {
            position: relative;
            z-index: $setting-zi-element + 1;
            border: none;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
        }

        &--product-set,
        &--product-set:last-child {
            border: none;
            margin-bottom: 0;
        }

        &--product-set:not(:first-child) {
            margin-top: rem(8);
        }

        &__title {
            font-size: rem(16);
            font-weight: fw(medium);
            line-height: rem(54);
            color: $setting-color-gray-5;
            position: relative;

            &--product-set {
                line-height: rem(32);
            }
        }

        &__selected-value {
            font-size: rem(14);
            font-weight: fw(regular);
            line-height: normal;
            color: $setting-color-gray-3;
            margin: -5px 0 15px;
        }
    }
}

@include product-detail-page-variant-configurator;
