{% extends template('page-layout-main') %}

{% define data = {
    activePage: 'overview',
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            }],
        },
    } only %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    {% set customerNavigation %}
        {% block customerNavigation %}
            {% widget 'CustomerNavigationWidget' args [data.activePage] only %}
            {% endwidget %}
        {% endblock %}
    {% endset %}
    {% set customerContent %}
        {% block customerContent %}{% endblock %}
    {% endset %}

    {% embed organism('section') with {
        modifiers: ['last'],
        embed: {
            customerNavigation: customerNavigation,
            customerContent: customerContent,
        },
    } only %}
        {% block body %}
            <div class="{{ config.name }}__inner {{ data.innerClass }}">
                {% block inner %}
                    <div class="grid grid--gap">
                        <div class="is-hidden-sm-lg col col--xl-3">
                            {{ embed.customerNavigation }}
                        </div>

                        <div class="col col--sm-12 col--xl-9">
                            {{ embed.customerContent }}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
