@mixin shop-ui-quantity-counter($name: '.quantity-counter') {
    #{$name} {
        padding: rem(8) rem(10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $setting-color-gray-7;

        &--secondary {
            background-color: $setting-color-gray-6;
        }

        &__input {
            margin: 0;
            padding: 0;
            font-size: rem(16);
            font-weight: fw(500);
            line-height: normal;
            width: rem(46);
            text-align: center;
            border: none;
            background: none;

            &::-webkit-inner-spin-button {
                appearance: none;
            }

            &--medium-width {
                width: rem(75);
            }
        }

        &__button {
            @include helper-effect-transition(background);
            width: rem(28);
            height: rem(28);
            border-radius: $setting-border-radius;
            background-color: $setting-color-white;
            box-shadow: 0 rem(10) rem(10) 0 $setting-color-shadow, 0 rem(3) rem(3) 0 $setting-color-shadow;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            position: relative;

            &--decrement::before,
            &--increment::before,
            &--increment::after {
                @include helper-effect-transition(background);
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: rem(9);
                height: rem(2);
                background: $setting-color-gray-3;
            }

            &--increment::after {
                width: rem(2);
                height: rem(9);
            }

            &:hover {
                background: $setting-color-main;

                &::before,
                &::after {
                    background: $setting-color-white;
                }
            }

            &--disabled {
                background: $setting-color-white;
                cursor: not-allowed;
                box-shadow: 0 rem(3) rem(3) 0 $setting-color-shadow;

                &::before,
                &::after {
                    background: $setting-color-gray-6;
                }

                &:hover,
                &:focus {
                    background: $setting-color-white;

                    &::before,
                    &::after {
                        background: $setting-color-gray-6;
                    }
                }
            }
        }

        &--right-space {
            margin-right: rem(10);
        }

        &--cart {
            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(10);
                padding-bottom: rem(12);
            }
        }

        &--shopping-list {
            padding-top: rem(10);
            padding-bottom: rem(12);
            margin-bottom: rem(20);
        }
    }
}

@include shop-ui-quantity-counter();
