{% extends model('component') %}

{% define config = {
    name: 'flag',
    tag: 'span'
} %}

{% define data = {
    text: ''
} %}

{% block body %}
    <span class="{{config.name}}__text">
        {{data.text}}
    </span>
{% endblock %}
