$address-form-width: rem(710);
$address-form-background-width: calc(100% + #{rem(40)});

@mixin checkout-page-address-wrapper($name: '.address-wrapper') {
    #{$name} {
        width: 100%;

        @include helper-breakpoint-media-min($lg) {
            border-radius: $setting-border-radius;
            border: rem(1) solid $setting-color-gray-6;
        }

        &__header {
            background-color: $setting-color-alpha-2;
            width: 100%;
            position: relative;
            padding: rem(15) rem(15) rem(8);
            margin-bottom: rem(20);

            @include helper-breakpoint-media-min($lg) {
                padding: rem(25) rem(40) rem(20);
                margin: 0;
            }

            .select2-selection__rendered,
            .custom-select__select {
                background-color: $setting-color-white;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: rem(-1);
                width: 100%;
                height: rem(1);
                background-color: $setting-color-gray-6;
            }
        }

        &__content {
            padding: rem(10) 0;
            margin: auto;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(20) rem(40) rem(25);
                width: 100%;
            }

            #{$name}__inner-content {
                max-width: $address-form-width;
                margin: 0 auto;
            }

            &--mobile-background {
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: rem(-20);
                    right: rem(-20);
                    width: $address-form-background-width;
                    background-color: $setting-color-alpha-2;
                    z-index: $setting-zi-substrate;
                    border-top: rem(1) solid $setting-color-gray-6;
                    border-bottom: rem(1) solid $setting-color-gray-6;

                    @include helper-breakpoint-media-min($lg) {
                        display: none;
                    }
                }
            }
        }

        @content;
    }
}

@include checkout-page-address-wrapper();
