.cart-update {
    margin-top: rem(42);
    margin-bottom: rem(42);

    &__title {
        font-size: rem(24);
        font-weight: fw(medium);
        line-height: normal;
        color: $setting-color-gray-6;
        margin-bottom: rem(10);
    }

    .label {
        display: inline-block;
        text-transform: uppercase;
        color: $setting-color-gray-6;
        font-size: rem(12);
        font-weight: fw(bold);
        margin-bottom: rem(7);

        &::after {
            color: $setting-color-gray-6;
        }
    }

    .form__actions {
        text-align: left;
        margin-top: rem(20);
    }

    .form__action {
        margin-left: 0;
        margin-right: rem(20);
    }
}