.cart-update {
    margin-top: rem(18);
    margin-bottom: rem(42);

    @include helper-breakpoint-media-min($lg) {
        margin-top: rem(42);
    }

    .label {
        display: inline-block;
        text-transform: uppercase;
        color: $setting-color-gray-5;
        font-size: rem(12);
        font-weight: fw(bold);
        margin-bottom: rem(7);

        &::after {
            color: $setting-color-gray-5;
        }
    }

    .form__actions {
        text-align: left;

        @include helper-breakpoint-media-min($lg) {
            margin-top: rem(20);
        }
    }

    .form__action {
        @include helper-breakpoint-media-min($lg) {
            margin-left: 0;
            margin-right: rem(20);
        }
    }
}
