.summary-sidebar-item {
    padding: rem(17) rem(20) rem(20);
    background-color: $setting-color-gray-7;
    margin-bottom: rem(15);

    @include helper-breakpoint-media-min($lg) {
        padding: rem(27) rem(30) rem(30);
        margin-bottom: rem(20);
    }

    &__title {
        font-size: rem(16);
        font-weight: fw(medium);
        line-height: normal;
        color: $setting-color-gray-5;

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(18);
        }
    }

    &__method {
        font-size: rem(12);
        line-height: rem(15);
        font-weight: fw(menium);
        color: $setting-color-gray-5;

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(14);
            line-height: rem(25);
            font-weight: fw(regular);
        }
    }

    &__list {
        font-size: rem(15);
        line-height: rem(22);
        color: $setting-color-gray-3;
    }
}
