.summary-sidebar-item {
    padding: rem(27) rem(30) rem(30);
    background-color: $setting-color-gray-13;
    margin-bottom: 20px;

    &__title {
        font-size: rem(18);
        font-weight: fw(medium);
        line-height: normal;
        color: $setting-color-gray-6;
    }

    &__method {
        font-size: rem(14);
        line-height: rem(25);
        color: $setting-color-gray-6;
    }

    &__list {
        font-size: rem(15);
        line-height: rem(22);
        color: $setting-color-gray-3;
    }
}
