@mixin shop-ui-product-set ($name: '.product-set') {
    #{$name} {
        &__banner {
            color: $setting-color-white;
            font-size: rem(38);
            line-height: rem(52);
        }

        &__add-to-cart {
            position: relative;
            z-index: $setting-zi-element + 1;
        }

        &__variant-configurator {
            position: relative;
            z-index: $setting-zi-element + 2;
        }

        &__variant,
        &__variant:first-child {
            border: none;

            .custom-select--pdp-option {
                margin-bottom: 0;
            }
        }
        
        @content;
    }
}

@include shop-ui-product-set;
