@mixin customer-page-order-info($name: '.order-info') {
    #{$name} {
        background-color: $setting-color-gray-7;
        margin-bottom: rem(20);
        padding: rem(15);

        @include helper-breakpoint-media-min($lg) {
            margin-bottom: rem(30);
            padding: rem(17) rem(20);
        }

        &__item {
            font-size: rem(12);
            color: $setting-color-gray-3;

            &:first-child {
                margin-bottom: rem(10);
            }
        }

        &__name {
            text-transform: uppercase;
            font-weight: fw(bold);
            color: $setting-color-gray-5;
            max-width: rem(90);
            width: 100%;
            display: inline-block;
        }
    }
}

@include customer-page-order-info();
