@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        @include helper-font-size(small);
        text-align: center;
        margin-top: rem(7);

        @include helper-breakpoint-media-min($lg) {
            margin-top: rem(40);
        }

        &__list {
            display: flex;
            justify-content: center;
        }

        &__item {
            &--pages-before-ellipsis-index-2,
            &--pages-after-ellipsis-index-2 {
                display: none;

                @include helper-breakpoint-media-min($md) {
                    display: block;
                }
            }
        }

        &__step {
            @include helper-effect-transition(color);
            display: inline-block;
            padding: rem(4) rem(4);
            color: $setting-color-gray-4;
            min-width: rem(34);
            line-height: rem(24);

            @include helper-breakpoint-media-min($md) {
                min-width: rem(40);
                line-height: rem(30);
                padding-left: rem(8);
                padding-right: rem(8);
            }

            &--button {
                border: rem(1) solid $setting-color-gray-1;
                border-radius: $setting-border-radius;
                color: $setting-color-gray-2;
                margin-left: rem(2);
                margin-right: rem(2);

                @include helper-breakpoint-media-min($md) {
                    margin-left: rem(5);
                    margin-right: rem(5);
                }

                &:hover,
                &:focus {
                    color: $setting-color-gray-5;
                }
            }

            &--current {
                background-color: $setting-color-gray-7;
                color: $setting-color-gray-5;
                font-weight: fw(bold);
            }

            &--previous,
            &--next {
                min-width: rem(20);

                &:hover,
                &:focus {
                    color: $setting-color-gray-5;
                }
            }

            &--disabled {
                &,
                &:hover,
                &:focus {
                    color: $setting-color-dark;
                }
            }
        }

        &--search-cms-results {
            margin-bottom: rem(60);

            @include helper-breakpoint-media-min($xl) {
                margin-bottom: rem(110);
            }
        }

        @content;
    }
}

@include shop-ui-pagination();
