@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        @include helper-font-size(small);
        text-align: center;
        margin-top: rem(40);

        &__item {
            display: inline-block;
        }

        &__step {
            @include helper-effect-transition(color);
            display: inline-block;
            padding: 0.25rem 0.5rem;
            color: $setting-color-gray-4;
            min-width: rem(40);
            line-height: rem(30);

            &--button {
                border: 1px solid $setting-color-gray-1;
                border-radius: $setting-border-radius;
                color: $setting-color-gray-2;
                margin-left: rem(4);
                margin-right: rem(4);

                &:hover,
                &:focus {
                    color: $setting-color-gray-16;
                }
            }

            &--current {
                background-color: $setting-color-gray-11;
                color: $setting-color-gray-16;
                font-weight: fw(bold);
            }

            &--previous,
            &--next {
                min-width: rem(20);

                &:hover,
                &:focus {
                    color: $setting-color-gray-16;
                }
            }

            &--disabled {
                &,
                &:hover,
                &:focus {
                    color: $setting-color-dark;
                }
            }
        }

        @content;
    }
}

@include shop-ui-pagination();
