@mixin catalog-page-suggestion-product($name: '.suggestion-product') {
    #{$name} {
        &__link {
            color: $setting-color-black;
        }

        &__thumbnail {
            margin: 0;
        }

        @content;
    }
}

@include catalog-page-suggestion-product();