{% extends model('component') %}

{% define config = {
    name: 'suggestion-product'
} %}

{% define data = {
    product: required,
    price: required,
    url: '',
    image: null,
    alt: '',
    title: '',
    originalPrice: null
} %}

{% block body %}
    <a class="grid js-suggest-search__item--navigable js-suggest-search__product-item--navigable {{ config.name }}__link" href="{{ data.url }}">
        <span class="col col--sm-3">
            {% if data.image %}
                {% include atom('thumbnail') with {
                    modifiers: ['smaller', 'has-border'],
                    attributes: {
                        alt: data.alt,
                        src: data.image.external_url_small,
                        title: data.title
                    },
                    class: config.name ~ '__thumbnail'
                } only %}
            {% endif %}
        </span>

        <span class="col col--sm-9 spacing spacing--inner">
            {{ data.title }}

            {% include molecule('price') with {
                data: {
                amount: data.price | money,
                    originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                }
            } only %}
        </span>
    </a>
{% endblock %}