{% extends view('product-abstract-review-display', '@SprykerShop:ProductReviewWidget') %}

{% define data = {
    reviewCount: _widget.productReviewStorageTransfer.reviewCount | default,
    parentJsName: '',
} %}

{% block body %}
    <section itemscope itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating">
        <meta itemprop="ratingValue" content="{{ data.value }}">
        <meta itemprop="bestRating" content="{{ data.maxValue }}">

        {% include molecule('rating-selector', 'ProductReviewWidget') with {
            modifiers: ['expand'],
            data: {
                value: data.value,
                maxValue: data.maxValue,
                useHalfSteps: true,
                reviewCount: data.reviewCount,
                parentJsName: data.parentJsName,
            },
            attributes: {
                readonly: true,
            },
        } only %}
    </section>
{% endblock %}
