$shop-ui-side-drawer-width: rem(375);

@mixin shop-ui-side-drawer($name: '.side-drawer') {
    #{$name} {
        position: relative;
        z-index: $setting-zi-side-drawer;

        &__overlay {
            @include helper-visibility-invisible;
            @include helper-effect-transition(opacity visibility);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $setting-color-overlay;
        }

        &__drawer {
            @include helper-ui-shadow;
            @include helper-visibility-invisible;
            @include helper-effect-transition(opacity visibility left);
            position: fixed;
            top: 0;
            bottom: 0;
            left: - $shop-ui-side-drawer-width;
            width: $shop-ui-side-drawer-width;
            background-color: $setting-color-bg;
            overflow-y: auto;
        }

        &__close {
            padding: 0.5rem 1rem;
            background-color: $setting-color-lighter;
            text-align: right;
        }

        &__navigation {
            padding: 1rem;
        }

        &--show &__overlay {
            @include helper-visibility-visible;
        }

        &--show &__drawer {
            @include helper-visibility-visible;
            left: 0;
        }

        @content;
    }
}

@include shop-ui-side-drawer();
