@include shop-ui-thumbnail {
    &--smaller {
        height: rem(52);

        @include helper-breakpoint-media-min($lg) {
            height: rem(42);
        }
    }

    &--item {
        margin: rem(8) rem(16) rem(8) 0;
        padding: rem(8);
        flex-grow: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $setting-color-alpha-2;
            border-radius: $setting-border-radius 0 0 $setting-border-radius;
            z-index: $setting-zi-element;
        }
    }

    &--reset-indents {
        margin: 0;
    }

    &--category-list {
        height: rem(313);

        @include helper-breakpoint-media-min($md) {
            height: 10rem;
        }
    }

    &--catalog {
        height: rem(180);

        @include helper-breakpoint-media-min($lg) {
            height: 15rem;
        }
    }

    &--category {
        height: rem(124);

        @include helper-breakpoint-media-min($lg) {
            height: 15rem;
        }
    }

    &--shopping-list {
        height: rem(75);

        @include helper-breakpoint-media-min($lg) {
            height: 10rem;
        }
    }

    &--cart {
        height: rem(75);
        margin: 0;

        @include helper-breakpoint-media-min($lg) {
            height: rem(160);
            margin: rem(8);
        }
    }

    &--summary {
        height: rem(75);
        margin: 0;

        @include helper-breakpoint-media-min($lg) {
            height: rem(100);
            margin: rem(4);
        }
    }

    &--expand {
        width: 100%;
    }
}
