{% extends molecule('service-point-shipment-types', '@SprykerFeature:SelfServicePortal') %}

{% block ajax %}
    {% set dynamicParams = {
        'service-type-key': {
            selector: ".#{config.name}__radio input:checked",
            attribute: 'data-service-type-key',
        },
        'shipment-type-uuid': {
            selector: ".#{config.name}__radio input:checked",
            attribute: 'value',
        },
        'service-type-uuid': {
            selector: ".#{config.name}__radio input:checked",
            attribute: 'data-service-type-uuid',
        },
        sku: {
            selector: ".#{config.name}",
            attribute: 'data-service-point-product-sku',
        },
        quantity: {
            selector: '.js-formatted-number-input__hidden-input',
            attribute: 'value',
        },
    } %}

    {{ parent() }}
{% endblock %}

{% block datepicker %}
    {% if data.isServiceDateTimeFieldVisible %}
        <div class="spacing-bottom--big">
            {% widget 'LanguageSwitcherWidget' args [app.request.pathInfo, app.request.queryString, app.request.requestUri] with {
                embed: {
                    input: {
                        label: 'self_service_portal.service.product.service_date_time',
                        attrs: {
                            id: 'service-point-shipment-type-datetime',
                            name: data.formFieldItemMetadataScheduledAt,
                            placeholder: 'yyyy-mm-dd HH:mm',
                        },
                    },
                },
            } only %}
                {% block body %}
                    {% include molecule('date-time-picker') with {
                        data: {
                            input: embed.input,
                        },
                        attributes: {
                            language: data.currentLanguage,
                            config: {
                                dateFormat: 'Y-m-d H:i',
                                minDate: 'today',
                            } | json_encode,
                        },
                    } only %}
                {% endblock %}
            {% endwidget %}
        </div>
    {% endif %}
{% endblock %}
