@mixin product-packaging-unit-packaging-unit-cart($name: '.packaging-unit-cart') {
    #{$name} {
        margin-top: rem(13);
        font-size: rem(13);
        color: $setting-color-gray-4;

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(14);
        }

        @content;
    }
}

@include product-packaging-unit-packaging-unit-cart;
