@mixin price-product-volume-widget-volume-price($name: '.volume-price') {
    #{$name} {
        margin-top: rem(12);
        margin-bottom: rem(23);

        @include helper-breakpoint-media-min($lg) {
            margin-top: 0;
        }

        &__amount {
            font-size: rem(24);
            font-weight: fw(bold);
            line-height: normal;
            margin-right: rem(7);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(26);
            }

            &--original {
                font-size: rem(24);
                font-weight: fw(regular);
                margin-right: rem(4);
                display: inline-block;
                color: $setting-color-gray-2;
                text-decoration: line-through;

                @include helper-breakpoint-media-min($lg) {
                    @include helper-font-size(big);
                }
            }
        }

        &__price {
            display: inline-block;
            backface-visibility: hidden;
            transform: translateZ(0);

            &--highlighted {
                animation: priceHighlight 0.4s linear 2;
            }
        }

        &__mode {
            color: $setting-color-gray-2;
            font-size: rem(13);
        }

        @content;
    }
}

@include price-product-volume-widget-volume-price();

@keyframes priceHighlight {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
