.checkout-title {
    font-size: rem(28);
    font-weight: fw(bold);
    color: $setting-color-gray-6;
    margin-bottom: rem(25);

    &--second {
        font-size: rem(24);
        font-weight: fw(medium);
        margin-bottom: rem(14);
    }

    &__index {
        color: $setting-color-main;
        margin-right: 0.5rem;
    }
}