@mixin shopping-list-page-share-list($name: '.share-list') {
    #{$name} {
        &__list {
            max-height: 100%;
            margin-bottom: rem(30);
        }

        &__title {
            font-weight: fw(medium);
        }
    }
}

@include shopping-list-page-share-list;
