{% extends template('widget') %}

{% define data = {
    productAbstractViewCollection: productAbstractViewCollection,
} %}

{% block body %}
    <div class="grid grid--stretch">
        {% for productAbstractView in data.productAbstractViewCollection %}
            <div class="col col--sm-12 col--md-6 col--lg-4 spacing-x spacing-x--big spacing-x--inner">
                {% include molecule('product-item') with {
                    data: {
                        product: productAbstractView,
                        category: 'category.office.furniture' | trans,
                    },
                } only %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
