.asset-selector {
    &.is-selected {
        .asset-selector__select {
            display: none;
        }

        .asset-selector__selected {
            display: block;
        }
    }

    &__selected {
        display: none;
    }
}
