@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        margin-bottom: rem(20);

        &__col {
            font-size: rem(14);

            &:not(:last-child) {
                padding-right: 0.5rem;
            }

            &--counter {
                font-weight: fw(medium);
                font-size: rem(15);
            }

            &--select {
                @include helper-breakpoint-media-min($md-min) {
                    margin-top: 0;
                }
                margin-top: 1rem;

                &:not(:last-child) {
                    @include helper-breakpoint-media-min($md-min) {
                        padding-right: rem(30);
                        width: auto;
                    }
                }
            }
        }

        @content;
    }
}
@include catalog-page-sort();
