{% extends view('shipment', '@SprykerShop:CheckoutPage') %}

{% define data = {
    stepNumder: 2,
    currentLanguage: _view.currentLanguage,
} %}

{% block content %}
    {% embed molecule('form') with {
        class: 'checkout-form',
        data: {
            form: data.forms.shipment,
            cart: data.forms.shipment.vars.data,
            attributes: [],
            options: {
                attr: {
                    id: 'payment-form',
                },
            },
            submit: {
                enable: true,
                text: 'checkout.step.payment' | trans,
                class: 'form__action--expand-sm-md button button--big',
            },
            cancel: {
                enable: true,
                url: data.backUrl,
                text: 'general.back.button' | trans,
                icon: '',
                class: 'form__action--expand-sm-md button button--big button--hollow-icon button--back',
            },
        },
        embed: {
            currentLanguage: data.currentLanguage,
        },
    } only %}
        {% block fieldset %}
            {% set shipmentGroupCollectionForm = data.form.shipmentGroups | default %}

            <div class="grid">
                {% for shipmentGroupForm in shipmentGroupCollectionForm %}
                    {% if shipmentGroupForm.hash is defined %}
                        {% do shipmentGroupForm.hash.setRendered %}
                    {% endif %}

                    <article class="col col--sm-12 grid grid--gap spacing-bottom spacing-bottom--big">
                        <h3 class="col col--sm-12 title title--second spacing-bottom spacing-bottom--small">
                            {{ 'page.checkout.shipment.shipment_group_heading' | trans({
                                '%current%': loop.index,
                                '%total%': loop.length
                            }) }}
                        </h3>

                        <div class="col col--sm-12 col--xl-8">
                            {% for item in shipmentGroupForm.   vars.data.items %}
                                {% set item = item.bundleProduct ?? item %}

                                {% embed molecule('product-item') with {
                                    modifiers: ['checkout'],
                                    data: {
                                        listItem: item,
                                        quantity: item.quantity,
                                        priceModifiers: ['medium', 'margin-bottom-from-tablet'],
                                    },
                                } only %}
                                    {% block image %}
                                        {% include molecule('product-item-image') with {
                                            modifiers: ['small'],
                                            data: {
                                                name: data.listItem.name | default,
                                                image: data.listItem.images is not empty ? (data.listItem.images | first) : null,
                                            },
                                        } only %}
                                    {% endblock %}

                                    {% block title %}
                                        <h6 class="{{ config.name }}__title">{{ data.listItem.name }}</h6>
                                    {% endblock %}

                                    {% block salesInfo %}{% endblock %}
                                    {% block bundle %}{% endblock %}
                                    {% block note %}{% endblock %}
                                    {% block quantity %}{% endblock %}
                                {% endembed %}
                            {% endfor %}
                        </div>

                        <div class="col col--sm-12 col--xl-4">
                            {% include molecule('shipment-sidebar', 'CheckoutPage') with {
                                data: {
                                    shipment: shipmentGroupForm.shipment,
                                    currentLanguage: embed.currentLanguage,
                                },
                            } only %}
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
