@mixin shop-ui-section($name: '.section') {
    #{$name} {
        padding: rem(22) 0;

        @include helper-breakpoint-media-min($lg) {
            padding: rem(48) 0;
        }

        &--center {
            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            justify-content: center;

            &__inner {
                flex: none;
            }
        }

        &--last {
            padding-bottom: rem(70);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: rem(96);
            }
        }

        &--secondary {
            padding: rem(32) 0 rem(16);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(50);
            }

            @include helper-breakpoint-media-min($xl) {
                padding-top: rem(70);
            }
        }

        &--bg-dark {
            padding: rem(22) 0 rem(19);
            background-color: $setting-color-gray-7;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(50) 0 rem(80);

                .product-card__container {
                    background-color: $setting-color-white;
                }
            }

            .product-card {
                padding-bottom: rem(15);

                @include helper-breakpoint-media-min($lg) {
                    padding-bottom: rem(30);
                }
            }

            .product-card__image-wrap {
                background-color: $setting-color-white;

                &::before {
                    background: transparent;
                }
            }

            .product-card__overlay::before {
                background-color: $setting-color-transparent;
            }
        }

        &--full-width {
            margin-left: -$setting-grid-space;
            margin-right: -$setting-grid-space;
        }

        &--no-mobile-bottom-indent {
            padding-bottom: 0;

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: rem(16);
            }
        }

        &__title {
            font-weight: fw(medium);
            font-size: rem(28);
            margin-bottom: rem(16);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(30);
            }

            @include helper-breakpoint-media-min($xl) {
                font-size: rem(32);
                margin-bottom: rem(24);
            }

            &--secondary {
                color: $setting-color-gray-4;
                text-align: center;
            }

            &--mobile-center {
                text-align: center;

                @include helper-breakpoint-media-min($lg) {
                    text-align: left;
                }
            }
        }

        &__sub-title,
        &__text {
            color: $setting-color-gray-2;
            text-align: center;
            line-height: normal;
            margin-bottom: rem(26);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: rem(40);
            }
        }

        &__sub-title {
            font-size: map_get($setting-font-size, default);

            @include helper-breakpoint-media-min($lg) {
                font-size: map_get($setting-font-size, big);
            }
        }

        &__text {
            font-size: rem(15);
            line-height: 1.61;
            max-width: rem(970);
            margin-left: auto;
            margin-right: auto;

            &--full-width {
                max-width: none;
            }

            @include helper-breakpoint-media-min($lg) {
                font-size: map_get($setting-font-size, big);
            }
        }
    }
}

@include shop-ui-section();
