@mixin configurable-bundle-page-template-list($name: '.template-list') {
    #{$name} {
        margin: rem(50) 0 rem(200);

        &__item-title {
            @include helper-effect-transition(background-color);
            display: block;
            background-color: $setting-color-alpha-2;

            &:hover {
                background-color: $setting-color-white;
            }
        }

        &__image-box {
            height: rem(200);

            @include helper-breakpoint-media-min($lg) {
                height: rem(240);
            }
        }

        &__item-name {

        }

        @content;
    }
}

@include configurable-bundle-page-template-list();
