@mixin configurable-bundle-page-template-list($name: '.template-list') {
    #{$name} {
        margin: rem(50) 0;

        @include helper-breakpoint-media-min($lg) {
            margin: rem(50) 0 rem(200);
        }

        &__item-title {
            @include helper-effect-transition(box-shadow);
            display: block;
            position: relative;
            height: 100%;

            &::before {
                @include helper-effect-transition(background-color);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: $setting-color-alpha-2;
                z-index: $setting-zi-substrate;
            }

            &:hover {
                box-shadow: 0 rem(3) rem(3) 0 $setting-color-shadow-1, 0 rem(18) rem(18) 0 $setting-color-shadow-1;

                &::before {
                    background-color: $setting-color-white;
                }
            }
        }

        &__item-name {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(25);
            min-height: rem(120);
            font-size: rem(18);
            font-weight: fw(medium);
            color: $setting-color-gray-5;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(24);
                min-height: rem(180);
            }

            &--secondary {
                height: 100%;
            }
        }

        @content;
    }
}

@include configurable-bundle-page-template-list();
