@mixin product-review-review($name: '.review') {
    #{$name} {
        margin-bottom: rem(20);
        background: $setting-color-gray-7;
        border-radius: $setting-border-radius;
        padding: rem(15) rem(20) rem(20);

        @include helper-breakpoint-media-min($md) {
            padding: rem(26) rem(30) rem(25);
        }

        &__summary {
            font-size: rem(16);
            font-weight: fw(medium);
            color: $setting-color-gray-5;

            @include helper-breakpoint-media-min($md) {
                font-size: rem(18);
            }
        }

        &__stars {
            position: relative;
            top: -2px;
            left: 10px;
        }

        &__author {
            font-size: rem(13);
            color: $setting-color-gray-3;
            padding-bottom: rem(13);

            @include helper-breakpoint-media-min($md) {
                font-size: rem(14);
            }
        }

        &__description {
            font-size: rem(14);
            line-height: rem(20);
            color: $setting-color-gray-3;

            @include helper-breakpoint-media-min($md) {
                line-height: 1.33;
                font-size: rem(15);
            }
        }
    }
}

@include product-review-review;
