@mixin product-review-review($name: '.review') {
    #{$name} {
        margin-bottom: 20px;
        background: $setting-color-gray-13;
        border-radius: $setting-border-radius;
        padding: rem(26) rem(30) rem(25);

        &__summary {
            font-size: rem(18);
            font-weight: fw(medium);
            color: $setting-color-gray-6;
        }

        &__stars {
            position: relative;
            top: -2px;
            left: 10px;
        }

        &__author {
            font-size: rem(14);
            color: $setting-color-gray-3;
            padding-bottom: rem(13);
        }

        &__description {
            font-size: rem(15);
            line-height: 1.33;
            color: $setting-color-gray-3;
        }
    }
}

@include product-review-review;
