{% extends template('page-layout-main') %}

{% define data = {
    sets: _view.productSets,

    title: 'product.sets' | trans
} %}

{% block content %}
    {% if data.sets is not empty %}
        <div class="grid grid--gap spacing-y spacing-y--inner spacing-y--biggest">
            {% for productSet in data.sets %}
                {% set imageUrl = productSet.imageSets.0.images.0.externalUrlSmall | default('') %}

                <div class="col col--sm-12 col--lg-4 text-center">
                    {% include molecule('product-set-card', 'ProductSetListPage') with {
                        class: 'spacing-bottom spacing-bottom--bigger',
                        data: {
                            name: productSet.name,
                            url: productSet.url,
                            imageUrl: imageUrl
                        }
                    } only %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="box">
            <p>
                {{ 'product.sets.no-results' | trans }}
            </p>
        </div>
    {% endif %}
{% endblock %}
