{% extends template('page-layout-main') %}

{% define data = {
    title: 'customer.forgotten-password.title' | trans,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.login' | trans,
                url: url('login'),
            }],
        },
    } only %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    {% embed organism('section') with {
        data: {
            title: 'customer.forgotten-password.title' | trans,
            innerClass: 'col col--sm-12 col--md-9 col--lg-8 col--xl-6'
        },
        modifiers: ['center', 'last', 'mobile-center'],
    } only %}
        {% block inner %}
            {% embed molecule('form') with {
                class: 'box',
                data: {
                    form: _view.form,
                    submit: {
                        enable: true,
                        class: 'button button--big form__action--sm-lg-first',
                    },
                    cancel: {
                        enable: true,
                        url: url('login'),
                        class: 'button button--hollow button--medium',
                        text: 'general.cancel.button' | trans,
                        icon: null,
                    }
                }
            } only %}
                {% block fieldset %}
                    {{ parent() }}
                    <div class="grid">
                        <div class="col col-ms--12">
                            <small class="text-secondary">{{ 'general.required_fields.text' | trans }}</small>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
