@mixin shop-ui-product-item-image($name: '.product-item-image') {
    #{$name} {
        display: flex;
        align-items: center;
        position: relative;
        padding: rem(4);

        @include helper-breakpoint-media-min($lg) {
            height: 100%;
            padding: rem(36) rem(4) rem(28);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $setting-color-alpha-2;
            border-radius: $setting-border-radius 0 0 $setting-border-radius;
            z-index: $setting-zi-element;
        }

        &__item {
            width: 100%;
            overflow: hidden;
        }

        &__checkbox {
            position: absolute;
            top: rem(10);
            left: rem(-35);
            z-index: $setting-zi-element;

            @include helper-breakpoint-media-min($md) {
                top: auto;
                left: auto;
            }
        }

        &--summary {
            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(28);
                padding-bottom: rem(20);
            }
        }

        &--shopping-list {
            padding: 0;

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(28);
                padding-bottom: rem(20);
            }
        }

        @content;
    }
}

@include shop-ui-product-item-image();
