{% extends model('component') %}

{% define config = {
    name: 'cart-configured-bundle-item-note-actions',
} %}

{% define data = {
    buttons: required,
} %}

{% block body %}
    <div class="grid {{ config.name }}">
        {% for button in data.buttons %}
            <button class="{{ config.name }}__item {{ button.class }}">
                {% if button.icon is defined %}
                    {% include atom('icon') with {
                        modifiers: ['link'],
                        data: {
                            name: button.icon,
                        },
                    } only %}
                {% endif %}

                {{ button.text }}
            </button>
        {% endfor %}
    </div>
{% endblock %}
