@mixin shop-ui-content-collapser($name: '.content-collapser') {
    #{$name} {
        &--full-visible {
            #{$name}__container {
                max-height: none;
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }

            #{$name}__trigger-holder {
                display: none;
            }
        }

        &__container {
            position: relative;
            max-height: rem(220);
            overflow: hidden;

            @include helper-breakpoint-media-min($lg) {
                max-height: none;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background: linear-gradient(to bottom, transparent 0%, $setting-color-white 100%);

                @include helper-breakpoint-media-min($lg) {
                    display: none;
                }
            }

            &--with-background::after {
                background: linear-gradient(to bottom, transparent 0%, $setting-color-gray-7 100%);
            }
        }

        &__trigger-holder {
            text-align: center;
            padding-bottom: rem(26);
            padding-top: rem(26);

            &--with-background {
                background: $setting-color-gray-7;
            }

            @include helper-breakpoint-media-min($lg) {
                display: none;
            }
        }

        @content;
    }
}

@include shop-ui-content-collapser();
