{% extends view('catalog-with-cms-block', '@SprykerShop:CmsBlockWidget') %}

{% block top %}
    {% set contentCmsBlock = spyCmsBlock({category: _widget.idCategory, position: 'top'})  %}
    {% if contentCmsBlock is not empty %}
        <div class="container">
            <div class="catalog-cms-block spacing-top spacing-top--small spacing-bottom spacing-bottom--big">
                {{ contentCmsBlock | raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block middle %}
    {% set contentCmsBlock = spyCmsBlock({category: _widget.idCategory, position: 'middle'})  %}
    {% if contentCmsBlock is not empty %}
        <div class="is-hidden-sm-md catalog-cms-block catalog-cms-block--sidebar">
            {{ contentCmsBlock | raw }}
        </div>
    {% endif %}
{% endblock %}

{% block bottom %}
    {% set contentCmsBlock = spyCmsBlock({category: _widget.idCategory, position: 'bottom'})  %}
    {% if contentCmsBlock is not empty %}
        <div class="catalog-cms-block-wrap">
            {% embed molecule('content-collapser') with {
                modifiers: ['with-background'],
                embed: {
                    contentCmsBlock: contentCmsBlock
                }
            } only %}
                {% block content %}
                    <div class="container catalog-cms-block catalog-cms-block--bottom">
                        {{ embed.contentCmsBlock  | raw }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}
