{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "link" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "imageUrl" -->

    {% embed organism('section') with {
        modifiers: ['secondary', 'full-width'],
        class: 'spacing-top spacing-top--inner spacing-top--big',
        data: {
            blockTitle: spyCmsBlockPlaceholder('title'),
            blockContent: spyCmsBlockPlaceholder('content'),
            imageUrl: spyCmsBlockPlaceholder('imageUrl'),
            link: spyCmsBlockPlaceholder('link'),
        },
    } only %}
        {% block inner %}
            {{ data.blockTitle | raw }}

            <div class="grid grid--left grid--middle">
                <div class="col col--sm-12">
                    {% include molecule('banner') with {
                        modifiers: ['spacing-bottom-reset'],
                        data: {
                            imageUrl: data.imageUrl,
                            clickUrl: data.link,
                            content: data.blockContent,
                        },
                    } only %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

