{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "link" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "imageUrl" -->

    <div class="col col--sm-12 col--lg-4">
        {% include molecule('banner') with {
            modifiers: ['small'],
            data: {
                imageUrl: spyCmsBlockPlaceholder('imageUrl'),
                clickUrl: spyCmsBlockPlaceholder('link'),
                content: spyCmsBlockPlaceholder('title') ~ spyCmsBlockPlaceholder('content'),
            },
        } only %}
    </div>
{% endblock %}
