{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="banner__title">
        {{ spyCmsBlockPlaceholder('title') | raw }}
    </div>

    <div class="banner__text">
        {{ spyCmsBlockPlaceholder('description') | raw }}
    </div>

{% endblock %}

