{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->

    <div class="product-cms">
        <div class="container">
            <h2 class="product-cms__title">
                {{ spyCmsBlockPlaceholder('title') | raw }}
            </h2>
            <div class="product-cms__text">
                {{ spyCmsBlockPlaceholder('content') | raw }}
            </div>
        </div>
    </div>
{% endblock %}

