{% extends view('product-review-display', '@SprykerShop:ProductReviewWidget') %}

{% define data = {
    parentJsName: '',
    reviewCount: 0,
} %}

{% block body %}
    <div itemscope itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating">
        <meta itemprop="ratingValue" content="{{ data.value }}">
        <meta itemprop="bestRating" content="{{ data.maxValue }}">

        {% include molecule('rating-selector', 'ProductReviewWidget') with {
            data: {
                value: data.value,
                maxValue: data.maxValue,
                useHalfSteps: true,
                parentJsName: data.parentJsName,
                reviewCount: data.reviewCount,
            },
            attributes: {
                readonly: true,
            },
        } only %}
    </div>
{% endblock %}
