@mixin cart-page-cart-sidebar($name: '.cart-code-form') {
    #{$name} {
        .form__container {
            position: relative;
        }

        .input {
            padding-left: rem(20);
            padding-right: rem(65);

            @include helper-breakpoint-media-min($lg) {
                padding-left: rem(12);
            }
        }

        .form__actions {
            position: absolute;
            top: rem(8);
            bottom: rem(8);
            right: 0;
            margin-top: 0;
        }

        .form__action {
            @include helper-effect-transition(color);
            margin: 0;
            display: flex;
            align-items: center;
            height: 100%;
            font-size: rem(12);
            font-weight: fw(bold);
            color: $setting-color-gray-5;

            &:hover,
            &:focus {
                color: $setting-color-gray-3;
            }
        }

        @content;
    }
}

@include cart-page-cart-sidebar();
