@mixin cart-page-cart-sidebar($name: '.cart-sidebar') {
    #{$name} {
        &__title {
            font-size: rem(14);
            line-height: rem(18);
            font-weight: fw(medium);

            &--space-bottom {
                margin-bottom: rem(8);
            }
        }

        &__text {
            font-size: rem(14);
            letter-spacing: rem(-0.1);
            font-weight: fw(regular);

            @include helper-breakpoint-media-min($lg) {
                letter-spacing: 0;
                font-size: rem(13);
            }
        }

        &__content {
            margin-top: rem(18);

            .form__field {
                padding-top: 0;
            }

            .form__actions {
                text-align: left;
                margin-top: 0;
            }

            .form__action {
                margin-top: rem(3);
                margin-left: 0;
                width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    margin-top: rem(12);
                    width: auto;
                }
            }
        }

        &__order {
            margin-bottom: rem(6);
        }

        &__quantity {
            background-color: $setting-color-alpha-3;
            border-radius: $setting-border-radius;
            font-size: rem(11);
            line-height: normal;
            color: $setting-color-gray-3;
            padding: rem(5) rem(8);
        }

        @content;
    }
}

@include cart-page-cart-sidebar();
