{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block content %}
    <!-- CMS_PLACEHOLDER : "Placeholder1" -->
    <!-- CMS_PLACEHOLDER : "Placeholder2" -->
    <div class="box">
        {{ spyCms('Placeholder1') | raw }}
        {{ spyCms('Placeholder2') | raw }}
    </div>
{% endblock %}
