@include shop-ui-textarea() {
    &--alternative {
        min-width: 100%;
        max-width: 100%;
        height: rem(100);
        padding: rem(10);
        margin-bottom: rem(10);
        font: fw(regular) rem(13)/1.38 $setting-font-family;
        color: $setting-color-gray-3;
        border: none;
        box-shadow: 0 rem(10) rem(10) 0 $setting-color-shadow-1, 0 rem(3) rem(3) 0 $setting-color-shadow-1;
    }
}
