{% extends molecule('note-list', '@SprykerShop:CartNoteWidget') %}
{% import _self as component %}

{% block body %}
    <ul>
        {% if data.label %}
            <li class="{{ component.renderClass(config.name ~ '__title', modifiers) }} spacing-bottom">{{ data.label | trans }}:</li>
        {% endif %}
        <li class="box">{{ data.note | escape | nl2br }}</li>
    </ul>
{% endblock %}
