{% extends model('component') %}

{% define config = {
    name: 'note-list',
} %}

{% define data = {
    label: null,
    note: required
} %}

{% block body %}
    <ul>
        {% if data.label %}
            <li class="{{ config.name }}__title spacing-bottom">{{ data.label | trans }}:</li>
        {% endif %}
        <li class="box">{{ data.note | escape | nl2br }}</li>
    </ul>
{% endblock %}
