@mixin shop-ui-product-set-details ($name: '.product-set-details') {
    #{$name} {
        &__banner {
            margin: 0 rem(-30);

            @include helper-breakpoint-media-min($lg) {
                margin: 0;
            }
        }

        &__actions {
            position: absolute;
            left: 0;
            right: 0;
            bottom: rem(26);

            @include helper-breakpoint-media-min($xl) {
                left: rem(14);
                right: rem(14);
            }
        }
    }

    @content;
}

@include shop-ui-product-set-details;
