@mixin product-alternative-slider($name: '.product-alternative-slider') {
    #{$name} {
        margin: rem(60) 0 rem(-80);

        &__title {
            font-size: rem(32);
            font-weight: fw(medium);
            line-height: normal;
            text-align: center;
            color: $setting-color-gray-6;
            margin-bottom: 33px;
        }

        @content;
    }
}

@include product-alternative-slider;
