{% extends view('pdp-similar-products-carousel', '@SprykerShop:ProductRelationWidget') %}

{% block body %}
    {% if data.products is not empty %}
        <h2 class="title title--product-slider">{{ 'product.relation.similar-products' | trans }}</h2>
        {{ parent() }}
    {% endif %}
{% endblock %}
