{% extends template('similar-products', 'ProductRelationWidget') %}

{% define data = {
    products: _widget.productCollection | default([])
} %}

{% block body %}

    {% if data.products is not empty %}
        <h2 class="product-title">{{ 'product.relation.similar-products' | trans }}</h2>
        {{ parent() }}
    {% endif %}

{% endblock %}
