{% extends model('component') %}

{% define config = {
    name: 'category-card'
} %}

{% define data = {
    id: required,
    name: required,
    url: required
} %}

{% block body %}
    {% embed molecule('card') with {
        class: 'spacing-x spacing-x--inner spacing-bottom spacing-bottom--inner',
        modifiers: [ config.name ],
        data: {
            url: data.url,
            name: data.name
        },
        embed: {
            id: data.id
        }
    } only %}
        {% block image %}
            <a href="{{ data.url }}">
                {% widget 'CategoryImageStorageWidget' args [embed.id, data.name] only %}{% endwidget %}
            </a>
        {% endblock %}

        {% block content %}
            {% block name %}
                <p class="text-center">
                    <strong>{{ data.name }}</strong>
                </p>
            {% endblock %}
        {% endblock %}
    {% endembed %}
{% endblock %}
