@mixin shop-ui-autocomplete-form($name: '.autocomplete-form') {
    #{$name} {
        position: relative;

        &__field {
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;
        }

        #{$name}__input {
            padding: rem(15) rem(36) rem(15) rem(18);
            border: none;
            font-size: rem(15);
            font-weight: fw(regular);
            border-radius: $setting-border-radius;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;

            &--active {
                border-radius: $setting-border-radius $setting-border-radius 0 0;
            }
        }

        &__suggestion {
            margin: 0;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $setting-color-white;
            padding: rem(10) rem(18);
            font-size: rem(14);
            line-height: 2;
            border-radius: 0 0 $setting-border-radius $setting-border-radius;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
            max-height: 30rem;
            overflow-x: hidden;
            z-index: $setting-zi-search-suggestions + 3;
        }

        #{$name}__clean-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding-right: rem(12);
        }

        &--overlap {
            z-index: $setting-zi-header-overlay - 1;
        }

        &--small {
            #{$name}__input {
                @include helper-font-size(small);
                padding: rem(11) rem(40) rem(11) rem(14);
                line-height: rem(14);
            }

            #{$name}__clean-button {
                padding-right: rem(14);
                color: $setting-color-gray-2;

                &:hover,
                &:focus {
                    color: $setting-color-gray-4;
                }
            }

            #{$name}__icon {
                width: rem(12);
                height: rem(12);
            }
        }

        @content;
    }
}

@include shop-ui-autocomplete-form();
