{% extends template('page-layout-catalog', '@SprykerShop:CatalogPage') %}

{% block contentClass %}page-layout-main page-layout-main--catalog-page{% endblock %}

{% block content %}
    {% set catalogJsName = 'js-catalog' %}

    {% include molecule('window-location-applicator', 'CatalogPage') with {
        attributes: {
            'form-class-name': catalogJsName ~ '__form',
            'trigger-class-name': catalogJsName ~ '__trigger',
            'sort-trigger-class-name': catalogJsName ~ '__sort-trigger',
        },
    } only %}

    <form method="GET" class="grid grid--gap page-layout-main__catalog-page-content js-form-input-default-value-disabler__catalog-form {{ catalogJsName }}__form">
        {% block form %}
            {% include molecule('form-input-default-value-disabler') with {
                attributes: {
                    'form-selector': '.js-form-input-default-value-disabler__catalog-form',
                    'input-selector': '.js-form-input-default-value-disabler__catalog-input',
                },
            } only %}

            <div class="col col--sm-12 col--lg-4 col--xl-3">
                {% block filterBar %}
                    {% include molecule('view-mode-switch', 'CatalogPage') with {
                        class: 'is-hidden-sm-md',
                        data: {
                            viewMode: data.viewMode,
                        },
                    } only %}

                    <button class="button button--justify button--additional js-catalog-filters-trigger is-hidden-lg-xxl spacing-bottom spacing-bottom--big">
                        {{ 'catalog.filter.and.sorting.button' | trans }}
                        {% include atom('icon') with {
                            modifiers: ['filter'],
                            data: {
                                name: 'filter',
                            },
                        } only %}
                    </button>

                    {% include molecule('toggler-click') with {
                        attributes: {
                            'trigger-class-name': 'js-catalog-filters-trigger',
                            'target-class-name': 'js-filter-section',
                            'class-to-toggle': 'is-hidden-sm-md',
                        },
                    } only %}

                    {% include molecule('sticky-body-toggler') with {
                        attributes: {
                            'trigger-class-name': 'js-catalog-filters-trigger',
                            'class-to-fix-body': 'is-locked-mobile',
                        },
                    } only %}

                    {% include organism('filter-section', 'CatalogPage') with {
                        class: 'is-hidden-sm-md',
                        data: {
                            facets: data.facets,
                            filteredFacets: data.filteredFacets,
                            filterPath: data.filterPath,
                            categories: data.categories,
                            isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible,
                            parentJsName: catalogJsName,
                            numberFormatConfig: numberFormatConfig,
                        },
                    } only %}
                {% endblock %}
            </div>

            <div class="col col--sm-12 col--lg-8 col--xl-9">
                <div class="grid grid--column-mob-reverse">
                    <div class="col col--sm-12">
                        <div class="grid grid--justify grid--nowrap">
                            <div class="col col--lg-12">
                                {% include molecule('sort', 'CatalogPage') with {
                                    data: {
                                        parentJsName: catalogJsName,
                                    },
                                } only %}
                            </div>
                            <div class="col">
                                {% include molecule('view-mode-switch', 'CatalogPage') with {
                                    class: 'is-hidden-lg-xxl',
                                    data: {
                                        viewMode: data.viewMode,
                                    },
                                } only %}
                            </div>
                        </div>
                    </div>
                    <div class="col col--sm-12">
                        {% include organism('active-filter-section', 'CatalogPage') with {
                            data: {
                                facets: data.facets,
                                filteredFacets: data.filteredFacets,
                            },
                        } only %}
                    </div>
                </div>

                <div class="grid grid--stretch grid--gap">
                    {% if data.products %}
                        {% for product in data.products %}
                            {% widget 'CatalogPageProductWidget' args [product, data.viewMode] with {
                                data: {
                                    eventRevealer: data.isAjaxHeader ? 'CART_UPDATE_EVENT' : null,
                                },
                            } only %}
                            {% endwidget %}
                        {% endfor %}
                    {% else %}
                        {% block noResults %}{{ parent() }}{% endblock %}
                    {% endif %}
                </div>

                {% include molecule('pagination') with {
                    data: data.pagination,
                } only %}
            </div>
        {% endblock %}
    </form>
{% endblock %}
