@include self-service-image-uploader($name: '.image-uploader') {
    &__container {
        max-height: rem(225);
        max-width: rem(360);
        border-width: rem(2);
        border-radius: rem(15);
    }
}
