@mixin util-visibility() {
    .is-hidden {
        display: none;

        @each $breakpoint-a, $edges-a in $setting-breakpoints {
            $edge-min: helper-breakpoint-edge-min($edges-a);
            $edge-max: helper-breakpoint-edge-max($edges-a);

            &-#{$breakpoint-a}-only {
                @if $edge-max == null {
                    @include helper-breakpoint-media-min($edge-min) {
                        display: none;
                    }
                } @else {
                    @include helper-breakpoint-media-between($edge-min, $edge-max) {
                        display: none;
                    }
                }
            }

            @each $breakpoint-b, $edges-b in $setting-breakpoints {
                @if helper-breakpoint-edge-min($edges-b) > helper-breakpoint-edge-min($edges-a) {
                    $edge-min: helper-breakpoint-edge-min($edges-a);
                    $edge-max: helper-breakpoint-edge-max($edges-b);

                    &-#{$breakpoint-a}-#{$breakpoint-b} {
                        @if $edge-max == null {
                            @include helper-breakpoint-media-min($edge-min) {
                                display: none;
                            }
                        } @else {
                            @include helper-breakpoint-media-between($edge-min, $edge-max) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .is-visible {
        @include helper-visibility-visible;
    }

    .is-invisible {
        @include helper-visibility-invisible;
    }

    .is-scrollable {
        overflow: auto;
    }

    .is-not-scrollable {
        overflow: hidden;
    }

    .is-scrollable-x {
        overflow-x: auto;
    }

    .is-not-scrollable-x {
        overflow-x: hidden;
    }

    .is-scrollable-y {
        overflow-y: auto;
    }

    .is-not-scrollable-y {
        overflow-y: hidden;
    }

    .is-position-relative {
        position: relative;
    }

    html > {
        .is-locked-tablet,
        .is-locked-mobile,
        .is-locked {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            overflow: hidden;
            height: 100%;
        }

        .is-locked-tablet {
            @include helper-breakpoint-media-min($xl) {
                overflow: visible;
                position: static;
            }
        }

        .is-locked-mobile {
            @include helper-breakpoint-media-min($lg) {
                overflow: visible;
                position: static;
            }
        }
    }
}
