@mixin shop-ui-menu($name: '.menu') {
    @include shop-ui-list($name) {
        $active-trigger-class: '.is-active';

        &__link,
        &__text {
            @include helper-effect-transition(color);
            position: relative;
            letter-spacing: rem(0.2);
            z-index: $setting-zi-element;

            @include helper-breakpoint-media-min($xl) {
                white-space: nowrap;
            }
        }

        &__text {
            cursor: default;
        }

        .sale-color {
            #{$name}__link,
            #{$name}__text {
                color: $setting-color-alt;

                &:hover {
                    color: helper-color-dark($setting-color-alt, 20);
                }
            }
        }

        .new-color {
            #{$name}__link,
            #{$name}__text {
                color: $setting-color-main;

                &:hover {
                    color: helper-color-dark($setting-color-main, 20);
                }
            }
        }

        &__item {
            font-weight: fw(regular);
            margin: rem(8) 0;

            &--has-children-dropdown {
                position: relative;
                z-index: $setting-zi-element + 1;

                & > #{$name} {
                    @include helper-ui-shadow;
                    @include helper-visibility-invisible;
                    @include helper-effect-transition;
                    position: absolute;
                    left: 0;
                    width: rem(240);
                    margin-left: rem(-8);
                    border: rem(1) solid $setting-color-light;
                    background-color: $setting-color-white;

                    &--wide {
                        width: rem(368);
                    }

                    &--wider {
                        width: rem(448);
                    }
                }

                &:hover > #{$name} {
                    @include helper-breakpoint-media-min($xl) {
                        @include helper-visibility-visible;
                    }
                }

                & > #{$name} > #{$name}__item {
                    margin-left: rem(8);
                    margin-right: rem(8);
                }

                &::after {
                    @include helper-breakpoint-media-min($xl) {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: rem(-25);
                        transform: rotate(45deg) translateX(-50%);
                        width: rem(10);
                        height: rem(10);
                        border-radius: $setting-border-radius;
                        background: $setting-color-white;
                        transition: helper-effect-transition(opacity, $setting-effect-fast-duration);
                        opacity: 0;
                    }
                }
            }

            &--filter-enumeration {
                line-height: rem(18);
                margin-bottom: rem(10);
            }

            &--footer {
                margin: rem(16) rem(8) 0;

                @include helper-breakpoint-media-min($lg) {
                    margin-top: 0;
                }
            }

            &--social {
                margin: 0 rem(8);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--footer {
            display: flex;
            flex-wrap: wrap;
            margin: 0 rem(-8) rem(26);
            padding: 0 rem(20);
            justify-content: center;

            @include helper-breakpoint-media-min($md) {
                margin-bottom: 0;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding: 0;
            }
        }

        &--social {
            display: flex;
            justify-content: center;
            margin-bottom: rem(26);

            @include helper-breakpoint-media-min($lg) {
                justify-content: left;
            }
        }

        &__trigger {
            display: block;
            position: relative;
            padding-right: rem(27);

            @include helper-breakpoint-media-min($xl) {
                position: static;
                padding-right: 0;
            }
        }

        &__trigger-button {
            position: absolute;
            height: 100%;
            width: rem(27);
            right: 0;
            top: 0;
            line-height: 0;
            background: none;
            z-index: $setting-zi-element - 1;

            @include helper-breakpoint-media-min($xl) {
                width: rem(20);
                right: rem(-20);
                display: none;
                background: none;
            }

            &-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-90deg);

                @include helper-breakpoint-media-min($xl) {
                    color: $setting-color-gray-3;
                    margin-top: rem(2);
                    transform: translate(-50%, -50%);
                }
            }

            &#{$active-trigger-class} {
                #{$name}__trigger-button-icon {
                    transform: translate(-50%, -50%) rotate(-180deg);
                }
            }
        }

        // Level 0

        &--lvl-0 {
            @include helper-breakpoint-media-min($xl) {
                display: flex;
                margin: 0 rem(-20);
            }

            @include helper-breakpoint-media-min($xxl) {
                margin: 0 rem(-30);
            }
        }

        &__item--lvl-0 {
            position: relative;
            padding-left: rem(11);
            border-bottom: solid rem(1) $setting-color-gray-1;
            z-index: $setting-zi-element + 1;

            @include helper-breakpoint-media-min($xl) {
                padding-left: 0;
                border: none;

                &::before {
                    content: '';
                    display: none;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: rem(30);
                    height: rem(2);
                    background: $setting-color-gray-4;
                }
            }

            /* stylelint-disable selector-no-qualifying-type, indentation */
            &.is-shown {
                /* stylelint-enable */

                #{$name}-wrapper--lvl-1 {
                    @include helper-breakpoint-media-min($xl) {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            &:last-of-type {
                border: none;
            }

            &:hover {
                @include helper-breakpoint-media-min($xl) {
                    &::before {
                        display: block;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &__link--lvl-0,
        &__text--lvl-0 {
            display: block;
            font-size: rem(17);
            font-weight: fw(medium);
            letter-spacing: rem(0.2);
            line-height: rem(52);
            color: $setting-color-gray-5;

            @include helper-breakpoint-media-min($xl) {
                @include helper-effect-transition(color);
                padding: 0 rem(20);
                font-weight: fw(regular);
                line-height: rem(68);
                color: $setting-color-gray-3;
                letter-spacing: 0;
            }

            @include helper-breakpoint-media-min($xxl) {
                padding: 0 rem(30);
            }

            &:hover {
                color: $setting-color-gray-4;
            }
        }

        &__trigger-button--lvl-0 {
            @include helper-breakpoint-media-min($xl) {
                .is-touch & {
                    display: block;
                }
            }
        }

        // Level 1
        &-wrapper--lvl-1 {
            @include helper-breakpoint-media-min($xl) {
                @include helper-effect-transition(transform);
                padding-top: rem(15);
                position: absolute;
                top: 100%;
                left: rem(10);
                transform-origin: top left;
                transform: scale(0);
            }
        }

        &-wrapper--reverse {
            @include helper-breakpoint-media-min($xl) {
                left: auto;
                right: rem(10);
            }
        }

        &--lvl-1 {
            padding-bottom: rem(12);

            @include helper-breakpoint-media-min($xl) {
                display: flex;
                padding: rem(19) rem(20) rem(21);
                background-color: $setting-color-white;
                border-radius: $setting-border-radius;
                box-shadow: 0 rem(18) rem(18) 0 $setting-color-shadow-1, 0 rem(3) rem(3) 0 $setting-color-shadow-1;
            }

            @include helper-breakpoint-media-min($xxxl) {
                padding: rem(30);
            }
        }

        &__item--lvl-1 {
            &:not(:last-child) {
                @include helper-breakpoint-media-min($xl) {
                    margin-right: rem(16);
                }

                @include helper-breakpoint-media-min($xxl) {
                    margin-right: rem(40);
                }
            }
        }

        &__link--lvl-1,
        &__text--lvl-1 {
            display: block;
            font-size: rem(16);
            line-height: rem(42);
            letter-spacing: rem(0.2);
            color: $setting-color-gray-5;

            @include helper-breakpoint-media-min($xl) {
                display: inline-block;
                font-size: rem(17);
                font-weight: fw(bold);
                line-height: normal;
                letter-spacing: 0;
                color: $setting-color-gray-4;
            }
        }

        &__link--lvl-1:hover {
            color: $setting-color-gray-3;
        }

        &__trigger-button--lvl-1 {
            color: $setting-color-gray-2;

            &#{$active-trigger-class}::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                width: rem(999);
                height: 100%;
                background: $setting-color-gray-7;
                z-index: $setting-zi-substrate;

                @include helper-breakpoint-media-min($xl) {
                    display: none;
                }
            }
        }

        // Level 2
        &--lvl-2 {
            padding-bottom: rem(10);

            @include helper-breakpoint-media-min($xl) {
                padding-bottom: 0;
                margin-top: rem(19);
            }
        }

        &__item--lvl-2 {
            @include helper-breakpoint-media-min($xl) {
                padding: rem(3) 0;
            }
        }

        &__link--lvl-2,
        &__text--lvl-2 {
            display: block;
            padding: 0 rem(20);
            font-size: rem(15);
            line-height: rem(42);
            font-weight: fw(regular);
            letter-spacing: rem(0.2);
            color: $setting-color-gray-3;

            @include helper-breakpoint-media-min($xl) {
                display: inline-block;
                line-height: normal;
                letter-spacing: 0;
                padding: 0;
            }
        }

        &__link--lvl-2:hover {
            color: $setting-color-gray-4;
        }

        @content;
    }
}

@include shop-ui-menu();
