@import '~ShopUi/styles/basic';

@import 'basics/reset';
@import 'basics/typography';
@import 'basics/grid';

@include basic-reset;
@include basic-typography;
@include basic-grid;
@include basic-animation;
