@use 'settings/breakpoint' as setting-breakpoint;
@use 'settings/color' as setting-color;
@use 'settings/font' as setting-font;
@use 'settings/grid' as setting-grid;
@use 'settings/spacing' as setting-spacing;
@use 'settings/z-index' as setting-zi;

@forward '~ShopUi/styles/shared' hide helper-reset with (
    $setting-breakpoints: setting-breakpoint.$setting-breakpoints,
    $setting-color-main: setting-color.$setting-color-main,
    $setting-color-alt: setting-color.$setting-color-alt,
    $setting-color-white: setting-color.$setting-color-white,
    $setting-color-black: setting-color.$setting-color-black,
    $setting-color-overlay: setting-color.$setting-color-overlay,
    $setting-color-bg: setting-color.$setting-color-bg,
    $setting-color-text: setting-color.$setting-color-text,
    $setting-color-input-border: setting-color.$setting-color-input-border,
    $setting-color-input-border-focus: setting-color.$setting-color-input-border-focus,
    $setting-color-shadow: setting-color.$setting-color-shadow,
    $setting-color-dark: setting-color.$setting-color-dark,
    $setting-color-actions: setting-color.$setting-color-actions,
    $setting-font-family: setting-font.$setting-font-family,
    $setting-font-size: setting-font.$setting-font-size,
    $setting-font-weight: setting-font.$setting-font-weight,
    $setting-grid-max-width: setting-grid.$setting-grid-max-width,
    $setting-spacing: setting-spacing.$setting-spacing,
    $setting-zi-element: setting-zi.$setting-zi-element,
    $setting-zi-overlay: setting-zi.$setting-zi-overlay,
    $setting-zi-header: setting-zi.$setting-zi-header,
    $setting-zi-side-drawer: setting-zi.$setting-zi-side-drawer,
    $setting-zi-notification-area: setting-zi.$setting-zi-notification-area,
    $setting-zi-skip-link: setting-zi.$setting-zi-skip-link
);

@forward 'settings/breakpoint' hide $setting-breakpoints;
@forward 'settings/color' hide $setting-color-main, $setting-color-alt, $setting-color-white, $setting-color-black,
    $setting-color-overlay, $setting-color-bg, $setting-color-text, $setting-color-input-border,
    $setting-color-input-border-focus, $setting-color-shadow, $setting-color-dark, $setting-color-actions;
@forward 'settings/effect';
@forward 'settings/font' hide $setting-font-family, $setting-font-size, $setting-font-weight;
@forward 'settings/grid' hide $setting-grid-max-width;
@forward 'settings/radius';
@forward 'settings/spacing' hide $setting-spacing;
@forward 'settings/z-index' hide $setting-zi-element, $setting-zi-overlay, $setting-zi-header, $setting-zi-side-drawer,
    $setting-zi-notification-area, $setting-zi-skip-link;

@forward 'helpers/reset';
@forward 'helpers/calc-rem';
@forward 'helpers/font';
@forward 'helpers/color-selector';
@forward 'helpers/outline';
