@import '../../atoms/radio/radio';

@mixin shop-ui-toggler-radio($name: '.toggler-radio') {
    @include shop-ui-radio($name) {
        &__label {
            color: $setting-color-gray-2;

            &--secondary {
                color: $setting-color-gray-5;
                font-weight: fw(medium);
            }
        }

        &__input:checked ~ {
            #{$name}__box {
                background-color: $setting-color-bg;
                box-shadow: inset 0 0 0 0.25rem $setting-color-main;
            }

            #{$name}__label {
                color: $setting-color-gray-5;
                font-weight: fw(medium);

                &--secondary {
                    color: $setting-color-main;
                }
            }
        }

        @content;
    }
}

@include shop-ui-toggler-radio;
