@include shop-ui-badge('.badge') {
    border-radius: $setting-border-radius;
    font-size: rem(11);
    line-height: normal;
    font-weight: fw(bold);
    letter-spacing: rem(0.4);
    color: $setting-color-white;
    background-color: $setting-color-gray-1;

    &--shopping-list,
    &--multi-cart {
        display: inline-block;
        color: $setting-color-gray-4;
        padding: rem(4) rem(5);
        margin-right: rem(9);
        vertical-align: middle;
        min-width: rem(52);

        @include helper-breakpoint-media-min($lg) {
            padding-left: rem(9);
            padding-right: rem(9);
            min-width: rem(64);
        }
    }

    &--title {
        background-color: $setting-color-gray-3;
        text-transform: uppercase;
    }

    &--access {
        color: $setting-color-white;
        background-color: $setting-color-main;
        text-transform: uppercase;
    }

    &--summary {
        text-transform: uppercase;
        letter-spacing: rem(0.2);
        padding: rem(5) rem(8);
    }

    &--counter {
        background-color: $setting-color-alpha-3;
        border-radius: $setting-border-radius;
        font-size: rem(11);
        line-height: normal;
        color: $setting-color-gray-3;
        padding: rem(5) rem(8);
    }

    &--order {
        background-color: $setting-color-gray-6;
        color: $setting-color-black;
        font-size: map_get($setting-font-size, tiny);
        letter-spacing: rem(0.15);
        padding: rem(2) rem(10);
    }
}
