@include shop-ui-badge('.badge') {
    border-radius: $setting-border-radius;
    font-size: rem(11);
    line-height: normal;
    font-weight: fw(bold);
    letter-spacing: rem(0.4);
    color: $setting-color-white;
    background-color: $setting-color-gray-2;

    &--shopping-list {
        display: inline-block;
        line-height: rem(22);
        color: $setting-color-gray-4;
        padding: 0 rem(9);
        margin-right: rem(9);
        vertical-align: middle;
    }

    &--access {
        color: $setting-color-white;
        background-color: $setting-color-main;
        text-transform: uppercase;
    }

    &--summary {
        text-transform: uppercase;
        letter-spacing: rem(0.2);
        padding: rem(5) rem(8);
    }

    &--multi-cart {
        background: $setting-color-yellow-1;
        text-transform: uppercase;
        padding: rem(4) rem(10);
    }
}
