{% extends template('widget') %}

{% define data = {
    product: _widget.product
} %}

{% block body %}
    {% embed molecule('product-item') with {
        class: 'col col--sm-12 col--md-6 col--lg-4',
        modifiers: ['stretch'],
        data: {
            product: data.product,
            category: 'category.office.furniture' | trans,
        },
    } only %}

        {% block rating %}
            <section itemscope itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="{{ data.product.rating.averageRating | default(0) }}">

                {% include molecule('rating-selector', 'ProductReviewWidget') ignore missing with {
                    data: {
                        value: data.product.rating.averageRating | default(0),
                        reviewCount:  data.product.rating.totalReview | default(0),
                        useHalfSteps: true,
                        parentJsName: config.jsName,
                    },
                    attributes: {
                        readonly: true,
                    },
                } only %}
            </section>
        {% endblock %}
    {% endembed %}
{% endblock %}
