{% extends view('catalog-product', '@SprykerShop:ProductWidget') %}

{% block body %}
    {% set productTemplate = molecule('product-item') %}
    {% set class = 'col col--sm-6 col--md-4 col--lg-6 col--xl-4' %}

    {% if data.viewMode == 'list' %}
        {% set productTemplate = molecule('product-item-list') %}
        {% set class = 'col col--sm-12' %}
    {% endif %}

    {% embed productTemplate with {
        productTemplate: productTemplate,
        class: class,
        modifiers: ['catalog', 'category'],
        data: {
            product: data.product,
            name: data.product.abstract_name,
            image: data.product.images ? data.product.images.0.external_url_small,
            idProductAbstract: data.product.id_product_abstract,
            eventRevealer: data.eventRevealer,
        },
    } only %}
        {% block labels %}
            {% widget 'ProductConcreteLabelWidget' args [data.product.id_product_labels] with {
                data: {
                    parentJsName: config.jsName,
                },
            } only %}{% endwidget %}
        {% endblock %}

        {% block rating %}
            <div class="{{ config.name }}__rating">
                {% widget 'ProductReviewDisplayWidget' args [data.product.rating | default(0)] with {
                    data: {
                        parentJsName: config.jsName,
                        reviewCount: data.product.review_count | default(0),
                    },
                } only %}{% endwidget %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
