@mixin shop-ui-custom-select($name: '.custom-select') {
    #{$name} {
        position: relative;
        max-width: 100%;
        display: inline-block;

        &__select {
            border-radius: $setting-border-radius;
            border: rem(1) solid $setting-color-gray-1;
            color: $setting-color-gray-5;
            background: $setting-color-gray-7;
            font: fw(regular) rem(15) / rem(46) $setting-font-family;
            font-size: rem(13);
            padding: 0 rem(35) 0 rem(16);
            appearance: none;

            @include helper-breakpoint-media-min($lg) {
                padding: 0 rem(45) 0 rem(20);
                font-size: rem(14);
            }
        }

        &__caret {
            position: absolute;
            z-index: $setting-zi-custom-select + 1;
            top: 50%;
            right: rem(16);
            width: rem(12);
            height: rem(7);
            transform: translateY(-50%);
            pointer-events: none;

            @include helper-breakpoint-media-min($lg) {
                right: rem(21);
            }
        }

        &--different-mob-caret {
            #{$name}__caret {
                width: rem(7);
                height: rem(11);

                @include helper-breakpoint-media-min($lg) {
                    width: rem(12);
                    height: rem(7);
                }
            }
        }

        &--alternative {
            text-transform: uppercase;
            width: 100%;

            @include helper-breakpoint-media-min($lg) {
                width: auto;
            }

            #{$name}__select {
                width: 100%;
                font-size: rem(12);
                line-height: rem(38);
                padding: 0 rem(20) 0 rem(10);
                border: rem(1) solid $setting-color-gray-1;
                color: $setting-color-gray-5;
                background: $setting-color-gray-6;

                @include helper-breakpoint-media-min($lg) {
                    width: auto;
                    text-transform: uppercase;
                    border-radius: 0;
                    background: $setting-color-transparent;
                    border: none;
                    color: $setting-color-gray-4;
                    font-size: rem(11);
                    line-height: rem(40);
                    font-weight: fw(bold);
                    letter-spacing: rem(0.6);
                    padding: 0 rem(30) 0 rem(18);
                }
            }

            #{$name}__caret {
                width: rem(7);
                height: rem(11);
                right: rem(10);

                @include helper-breakpoint-media-min($lg) {
                    right: rem(13);
                    width: rem(7);
                    height: rem(4);
                    transform: translateY(rem(-2));
                }
            }
        }

        &--small {
            #{$name}__select {
                font-size: rem(13);
                line-height: rem(38);
                font-weight: fw(medium);

                @include helper-breakpoint-media-min($lg) {
                    font-size: rem(14);
                    font-weight: fw(regular);
                }
            }

            #{$name}__caret {
                @include helper-breakpoint-media-min($lg) {
                    width: rem(9);
                    height: rem(5);
                }
            }
        }

        &--smaller {
            width: 100%;

            #{$name}__select {
                width: 100%;
                font-size: rem(12);
                line-height: rem(20);
                font-weight: fw(regular);
                border-radius: $setting-border-radius;
                border: none;
                color: $setting-color-gray-2;
                background: $setting-color-gray-7;
                padding: 0 rem(27) 0 rem(8);
            }

            #{$name}__caret {
                width: rem(8);
                height: rem(20);
                right: rem(6);
                color: $setting-color-gray-2;
            }
        }

        &--mobile-expand {
            width: 100%;

            @include helper-breakpoint-media-min($lg) {
                width: auto;
            }

            #{$name}__select {
                width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: auto;
                }
            }
        }

        &--full-width {
            width: 100%;

            #{$name}__select {
                width: 100%;
            }
        }

        &--margin-bottom {
            margin-bottom: rem(21);
        }

        &--shopping-list {
            margin-top: rem(12);

            @include helper-breakpoint-media-min($xl) {
                margin-left: rem(132);
                width: calc(100% - 132px);
            }
        }

        &--light {
            #{$name}__select,
            .select2-selection__rendered {
                background: $setting-color-gray-7;

                @include helper-breakpoint-media-min($lg) {
                    background: $setting-color-white;
                }
            }
        }

        @content;
    }
}

@mixin shop-ui-select2($name: '.select2') {
    #{$name} {
        &-selection__rendered {
            display: block;
            border-radius: $setting-border-radius;
            border: rem(1) solid $setting-color-gray-1;
            color: $setting-color-gray-5;
            background: $setting-color-gray-7;
            font: fw(regular) rem(15) / rem(46) $setting-font-family;
            padding: 0 rem(45) 0 rem(20);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-selection__arrow {
            display: none;
        }

        &-hidden-accessible {
            border: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: rem(1);
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: rem(1);
            white-space: nowrap;
        }

        &-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
            cursor: pointer;

            &--alternative {
                #{$name}-selection__rendered {
                    border-radius: 0;
                    border: none;
                    color: $setting-color-gray-4;
                    background: none;
                    font-size: rem(11);
                    line-height: rem(40);
                    font-weight: fw(bold);
                    letter-spacing: rem(0.6);
                    padding: 0 rem(30) 0 rem(18);
                }

                #{$name}-dropdown {
                    padding: rem(11) 0 rem(12) rem(19);
                    border-radius: 0 0 $setting-border-radius $setting-border-radius;
                    box-shadow: 0 rem(18) rem(18) 0 $setting-color-shadow-1, 0 rem(3) rem(3) 0 $setting-color-shadow-1;
                }

                #{$name}-results__option {
                    padding: 0;
                    font-size: rem(13);

                    &[aria-selected='true'] {
                        &::before {
                            display: none;
                        }
                    }
                }

                &#{$name}-container--open {
                    z-index: $setting-zi-header-switcher;
                }
            }

            &--open {
                z-index: $setting-zi-custom-select + 1;
            }

            &--small {
                #{$name}-selection__rendered {
                    font-size: rem(14);
                    line-height: rem(38);
                }

                #{$name}-results__option {
                    font-size: rem(14);
                }
            }

            &--smaller {
                left: auto !important;

                #{$name}-selection__rendered {
                    border-radius: $setting-border-radius;
                    border: none;
                    color: $setting-color-gray-2;
                    background: $setting-color-gray-7;
                    font-size: rem(12);
                    line-height: rem(20);
                    font-weight: fw(regular);
                    padding: 0 rem(27) 0 rem(8);
                }

                #{$name}-dropdown {
                    padding: rem(3) rem(12);
                    border-radius: 0 0 $setting-border-radius $setting-border-radius;
                    box-shadow: 0 rem(18) rem(18) 0 $setting-color-shadow-1, 0 rem(3) rem(3) 0 $setting-color-shadow-1;
                }

                #{$name}-results__option {
                    padding: 0;
                    font-size: rem(13);
                    line-height: 2.23;

                    &[aria-selected='true'] {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &--group {
                .select2-dropdown {
                    padding: rem(20) rem(20) rem(15);
                }

                .select2-results__option {
                    padding-left: rem(20);

                    &[aria-selected='true'] {
                        color: $setting-color-gray-5;

                        &::before {
                            border-color: $setting-color-gray-5;
                        }
                    }
                }

                .select2-results__options--nested {
                    .select2-results__option {
                        margin-left: rem(-20);
                    }
                }
            }

            &--disabled {
                cursor: not-allowed;
            }
        }

        &-dropdown {
            position: absolute;
            z-index: $setting-zi-custom-select;
            box-sizing: border-box;
            display: block;
            border: none;
            margin: 0;
            padding: rem(15) rem(20) rem(15) rem(15);
            border-radius: $setting-border-radius;
            background: $setting-color-white;
            box-shadow: 0 rem(18) rem(18) 0 $setting-color-shadow-1, 0 rem(3) rem(3) 0 $setting-color-shadow-1;
        }

        &-search--dropdown.select2-search--hide {
            display: none;
        }

        &-results {
            display: block;
        }

        &-results__option {
            color: $setting-color-gray-3;
            font-size: rem(15);
            font-weight: fw(regular);
            line-height: 1.87;
            letter-spacing: rem(0.2);
            padding: 0 0 0 rem(24);
            word-break: break-word;

            &[aria-selected] {
                cursor: pointer;
            }

            &[aria-selected='true'] {
                background: none;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    border-left: rem(2) solid $setting-color-gray-3;
                    border-bottom: rem(2) solid $setting-color-gray-3;
                    width: rem(10);
                    height: rem(6);
                    top: rem(9);
                    left: rem(3);
                    transform: rotate(-45deg);
                }
            }

            &--highlighted[aria-selected] {
                background: none;
                color: $setting-color-gray-3;

                &:hover {
                    background: none;
                    color: $setting-color-gray-5;

                    &::before {
                        border-color: $setting-color-gray-5;
                    }
                }
            }
        }

        &-results__group {
            font-size: rem(12);
            font-weight: fw(bold);
            color: $setting-color-gray-5;
            margin-left: rem(-20);
        }

        @content;
    }
}

@include shop-ui-custom-select();
@include shop-ui-select2();
