@mixin shop-ui-table-action-link($name: '.table-action-link') {
    #{$name} {
        width: 100%;
        padding: rem(4) rem(15);
        border: rem(1) solid $setting-color-gray-2;
        border-radius: $setting-border-radius;
        text-align: center;

        @include helper-breakpoint-media-min($lg) {
            padding: 0;
            line-height: normal;
            border: none;
        }

        &__title {
            display: block;
            padding-top: rem(3);
            font-size: rem(11);
            line-height: rem(13);
        }

        @content;
    }
}

@include shop-ui-table-action-link();
