{% extends model('component') %}

{% define config = {
    name: 'table-action-link',
    tag: 'a',
} %}

{% define data = {
    url: required,
    icon: required,
    title: required,
    iconModifier: null,
    isSingleClickable: false,
} %}

{% define attributes = {
    href: data.url,
    target: data.target | default,
    'data-init-single-click': data.isSingleClickable,
} %}

{% block body %}
    {% include molecule('icon-tooltip') with {
        modifiers: [ data.iconModifier ],
        data: {
            icon: data.icon,
            text: data.title | trans,
        },
    } only %}
    <span class="{{ config.name }}__title is-hidden-lg-xxl">{{ data.title | trans }}</span>
{% endblock %}

