@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: rem(1) rem(25) rem(30);
            border-radius: 0 0 $setting-border-radius $setting-border-radius;
            background: $setting-color-white;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
            max-height: rem(300);
            overflow-x: hidden;
            z-index: $setting-zi-search-suggestions + 3;

            @include helper-breakpoint-media-min($lg) {
                max-height: 30rem;
                padding-left: rem(20);
                padding-right: rem(20);
            }
        }

        &__input,
        &__hint {
            padding: rem(20) rem(45);
            border: none;
            font: fw(bold) rem(18) / rem(20) $setting-font-family;
            width: 100%;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(15) rem(10) rem(15) rem(55);
                font-size: rem(15);
                font-weight: fw(regular);
            }

            &--active {
                border-radius: $setting-border-radius $setting-border-radius 0 0;
            }
        }

        &__input {
            position: relative;
            border-radius: $setting-border-radius;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
            z-index: $setting-zi-search-suggestions + 2;

            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__hint {
            position: absolute;
            top: 0;
            color: $setting-color-gray-2;
            z-index: $setting-zi-search-suggestions + 1;

            @include helper-breakpoint-media-min($lg) {
                padding-right: rem(15);
            }

            &--active {
                background-color: $setting-color-gray-7;
            }
        }

        &__product {
            padding-bottom: rem(10);
        }

        &__product-action {
            padding-top: rem(23);
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &--with-overlay {
            position: relative;
            z-index: $setting-zi-header-overlay;

            #{$name}__loader {
                top: rem(-60);

                @include helper-breakpoint-media-min($lg) {
                    top: rem(-50);
                }
            }
        }

        @content;
    }
}

@include shop-ui-suggest-search;
