{% extends model('component') %}

{% define config = {
    name: 'suggest-search',
    tag: 'suggest-search'
} %}

{% define attributes = {
    'suggestion-url': required,
    'base-suggest-url': required,
    'input-selector': required,
    'debounce-delay': 500,
    'throttle-delay': 200,
    'letters-trashold': 2
} %}

{% block body %}
    <div class="box is-hidden {{ config.name }}__container {{ config.jsName }}__container"></div>

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__ajax-provider',
        attributes: {
            method: 'post',
            url: attributes['suggestion-url']
        }
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['big'],
        attributes: {
            'provider-selector': '.' ~ config.jsName ~ '__ajax-provider'
        }
    } only %}
{% endblock %}