{% extends molecule('suggest-search', '@SprykerShop:ShopUi') %}

{% define attributes = {
    'overlay-class-name': 'main-overlay',
    'body-overlay-class-name': 'body-has-overlay',
    'wrapper-class-name': required,
    'wrapper-toggle-class-name': 'is-active',
    'open-class-name': required,
    'close-class-name': required,
    'should-close-by-overlay-click': true,
    'overlay-breakpoint': 768,
} %}

{% block body %}
    <div class="is-hidden {{ config.name }}__container {{ config.jsName }}__container"></div>

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__ajax-provider',
        attributes: {
            method: 'post',
            url: attributes['suggestion-url'],
        },
    } only %}

    {% include molecule('ajax-loader') with {
        class: config.name ~ '__loader',
        modifiers: ['big'],
        attributes: {
            'provider-class-name': config.jsName ~ '__ajax-provider',
        },
    } only %}
{% endblock %}
