@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            position: absolute;
            top: 100%;
            left: 0;
            margin: rem(-3) 0 0 0;
            padding: rem(1) rem(25) rem(29);
            border-radius: 0 0 $setting-border-radius $setting-border-radius;
            background: $setting-color-white;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
            width: 100%;
            max-height: rem(300);
            overflow-x: hidden;
            z-index: $setting-zi-search-suggestions + 3;

            @include helper-breakpoint-media-min($lg) {
                max-height: 30rem;
                padding-left: rem(19);
                padding-right: rem(21);
            }
        }

        &__input {
            padding: rem(19) rem(46) rem(20) rem(43);
            border: none;
            font-size: rem(18);
            font-weight: fw(bold);
            line-height: rem(20);
            border-radius: $setting-border-radius;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(15) rem(10) rem(15) rem(56);
                font-size: rem(15);
                font-weight: fw(regular);
            }

            &--active {
                border-radius: $setting-border-radius $setting-border-radius 0 0;
            }

            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__product {
            padding-bottom: rem(10);
        }

        &__product-action {
            padding-top: rem(23);
        }

        &__hint {
            padding: rem(19) rem(46) rem(20) rem(43);
            border: none;
            font-size: rem(18);
            font-weight: fw(bold);
            line-height: rem(20);
            position: absolute;
            width: 100%;
            color: $setting-color-gray-2;
            top: 0;
            z-index: $setting-zi-search-suggestions + 1;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(15) rem(15) rem(15) rem(56);
                font-size: rem(15);
                font-weight: fw(regular);
            }

            &--active {
                background-color: $setting-color-gray-7;
                border-radius: $setting-border-radius $setting-border-radius 0 0;
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        @content;
    }
}

@include shop-ui-suggest-search;
