@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            position: absolute;
            top: 100%;
            left: 0;
            margin: 0;
            padding: rem(27) rem(19) rem(29) rem(21);
            background: $setting-color-white;
            width: 100%;
            max-height: 30rem;
            overflow-x: hidden;
            z-index: $setting-zi-search-suggestions + 3;
        }

        &__input {
            padding: rem(15) rem(15) rem(15) rem(56);
            border: none;
            font-size: rem(15);
            font-weight: fw(regular);
            border-radius: $setting-border-radius;
            box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;

            &--active {
                background-color: $setting-color-gray-11;
                border-radius: $setting-border-radius $setting-border-radius 0 0;
            }

            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &__hint {
            padding: rem(15) rem(15) rem(15) rem(56);
            border: none;
            font-size: rem(15);
            font-weight: fw(regular);
            position: absolute;
            color: $setting-color-gray-12;
            top: 0;
            z-index: $setting-zi-search-suggestions + 1;
        }

        @content;
    }
}

@include shop-ui-suggest-search;