$product-image-width: rem(78);
$product-image-left-indent: rem(35);
$dropdown-width: calc(100% + #{rem(4)});
$dropdown-top-indent: calc(100% + #{rem(15)});

@mixin shop-ui-product-card-item($name: '.product-card-item') {
    #{$name} {
        border: rem(2) solid $setting-color-gray-7;
        border-radius: $setting-border-radius;
        padding: rem(12);
        margin-bottom: rem(10);
        position: relative;
        width: 100%;

        @include helper-breakpoint-media-min($md) {
            padding-right: rem(22);
        }

        @include helper-breakpoint-media-min($lg) {
            padding: 0;
            margin-bottom: rem(20);
        }

        &__col {
            &--image {
                border-radius: $setting-border-radius 0 0 $setting-border-radius;
                padding-top: 0;
                padding-bottom: 0;
                width: $product-image-width;
                min-width: $product-image-width;

                @include helper-breakpoint-media-min($md) {
                    width: 22%;
                    min-width: 22%;
                }
            }

            &--total {
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                min-width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 40%;
                    min-width: 40%;
                    text-align: right;
                }

                #{$name} & {
                    @include helper-breakpoint-media-min($lg) {
                        padding-left: 0;
                        padding-right: calc(#{$setting-grid-space * 2} + #{$setting-grid-space});
                    }
                }
            }

            &--content {
                width: 100%;
                min-width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 60%;
                    min-width: 60%;
                }
            }

            &--description {
                padding-top: rem(8);
                padding-bottom: rem(12);
                width: calc(100% - #{$product-image-width});
                min-width: calc(100% - #{$product-image-width});

                @include helper-breakpoint-media-min($md) {
                    width: 78%;
                    min-width: 78%;
                }

                @include helper-breakpoint-media-min($lg) {
                    padding-top: rem(36);
                    padding-bottom: rem(28);
                }
            }

            &--shopping-list:not(&--image) {
                padding-bottom: rem(20);
                padding-top: 0;

                @include helper-breakpoint-media-min($lg) {
                    padding-bottom: rem(28);
                    padding-top: rem(28);
                }

                &:last-child {
                    padding-bottom: 0;

                    @include helper-breakpoint-media-min($lg) {
                        padding-bottom: rem(20);
                    }
                }
            }

            &--hidden {
                &:not(#{$name}__col--content) {
                    opacity: 0.5;
                }
            }
        }

        &__additional-title {
            padding-top: rem(16);
            font-size: rem(14);
            font-weight: fw(bold);
            line-height: normal;

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(28);
            }
        }

        &__inner {
            &--full-height {
                height: 100%;
            }

            &--total {
                flex-direction: column-reverse;

                @include helper-breakpoint-media-min($lg) {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            &--actions {
                padding-bottom: rem(6);

                @include helper-breakpoint-media-min($lg) {
                    padding-bottom: 0;
                    align-items: flex-end;
                }
            }
        }

        &__title {
            font-size: rem(14);
            font-weight: fw(medium);
            line-height: normal;
            color: $setting-color-gray-5;
            margin-bottom: 0;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(20);
            }

            &--shopping-list-alternative {
                font-size: rem(12);

                @include helper-breakpoint-media-min($lg) {
                    font-size: rem(16);
                }
            }

            &--hidden {
                opacity: 0.5;
            }
        }

        &__color {
            display: inline-block;
            width: rem(14);
            height: rem(14);
            border-radius: 50%;
            margin-left: rem(4);
            text-indent: rem(-9999);
            vertical-align: middle;
        }

        &__color-preview {
            display: inline-block;
            position: relative;
            font-size: rem(13);
            font-weight: fw(medium);
            color: $setting-color-gray-5;
            padding-right: rem(21);
            line-height: rem(21);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }
        }

        &__color-preview-decoration {
            position: absolute;
            right: 0;
            top: rem(3);
            width: rem(15);
            height: rem(15);
            border-radius: 50%;
            border: rem(1) solid $setting-color-gray-1;
        }

        &__available {
            display: inline-block;
            color: $setting-color-main;
            font-weight: fw(medium);
            line-height: normal;
            margin-bottom: rem(8);
        }

        &__checkbox {
            height: 100%;

            &-col {
                background-color: $setting-color-alpha-2;
                padding-left: rem(12);

                &--shopping-list {
                    position: absolute;
                    right: 0;
                    top: 0;
                    background: $setting-color-transparent;

                    @include helper-breakpoint-media-min($lg) {
                        display: flex;
                        align-items: center;
                        position: static;
                        background-color: $setting-color-alpha-2;
                        padding-bottom: rem(20);
                    }
                }
            }
        }

        &__quantity-holder {
            padding-bottom: rem(16);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: 0;
            }
        }

        &__quantity {
            font-size: rem(13);
            color: $setting-color-gray-4;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }

            &-title {
                color: $setting-color-gray-5;
                font-weight: fw(medium);
            }
        }

        &__delete-cart {
            position: absolute;
            bottom: rem(48);
            right: rem(32);

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(32);
                position: static;
            }
        }

        &__remove-button {
            margin-top: rem(-48);

            @include helper-breakpoint-media-min($lg) {
                margin: 0;
            }
        }

        &__remove-button-text {
            display: none;

            @include helper-breakpoint-media-min($lg) {
                display: inline-block;
            }
        }

        &__dropdown {
            position: absolute;
            left: rem(-2);
            width: $dropdown-width;
            top: $dropdown-top-indent;

            @include helper-breakpoint-media-min($lg) {
                position: static;
                width: 100%;
                left: auto;
                top: auto;
            }

            .select2-selection__rendered,
            .custom-select__select {
                background-color: $setting-color-white;

                @include helper-breakpoint-media-min($lg) {
                    background-color: $setting-color-gray-7;
                }
            }
        }

        &--shopping-list-available {
            padding-bottom: rem(75);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: 0;
            }
        }

        &--checkout {
            margin-bottom: rem(15);

            #{$name}__col {
                &--image {
                    @include helper-breakpoint-media-min($lg) {
                        width: 17%;
                        min-width: 17%;
                    }
                }

                &--total {
                    @include helper-breakpoint-media-min($lg) {
                        width: 20%;
                        min-width: 20%;
                    }

                    #{$name} & {
                        @include helper-breakpoint-media-min($lg) {
                            padding-left: 0;
                            padding-right: #{$setting-grid-space * 2};
                        }
                    }
                }

                &--content {
                    @include helper-breakpoint-media-min($lg) {
                        width: 80%;
                        min-width: 80%;
                    }
                }

                &--description {
                    padding-top: 0;
                    padding-bottom: 0;

                    @include helper-breakpoint-media-min($lg) {
                        width: 83%;
                        min-width: 83%;
                        padding-top: rem(20);
                        padding-bottom: rem(15);
                        margin-left: rem(-10);
                    }
                }
            }
        }

        &--checkout-address {
            margin-bottom: rem(100);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: rem(20);
            }

            #{$name}__col {
                &--total {
                    @include helper-breakpoint-media-min($lg) {
                        width: 60%;
                        min-width: 60%;
                        text-align: left;
                    }

                    #{$name}__inner {
                        align-items: flex-start;
                        height: auto;
                    }
                }

                &--content {
                    @include helper-breakpoint-media-min($lg) {
                        width: 40%;
                        min-width: 40%;
                    }
                }
            }
        }

        &--order-detail {
            #{$name}__col {
                &--image {
                    margin-left: $product-image-left-indent;
                    padding-right: rem(5);

                    @include helper-breakpoint-media-min($md) {
                        margin-left: 0;
                        padding-right: $setting-grid-space;
                    }
                }

                &--total {
                    @include helper-breakpoint-media-min($lg) {
                        width: 30%;
                        min-width: 30%;
                    }

                    #{$name} & {
                        @include helper-breakpoint-media-min($lg) {
                            padding-left: 0;
                            padding-right: #{$setting-grid-space * 2};
                        }
                    }
                }

                &--content {
                    @include helper-breakpoint-media-min($lg) {
                        width: 70%;
                        min-width: 70%;
                    }
                }

                &--description {
                    width: calc(100% - #{$product-image-width} - #{$product-image-left-indent});
                    min-width: calc(100% - #{$product-image-width} - #{$product-image-left-indent});
                    padding-top: 0;
                    padding-bottom: 0;

                    @include helper-breakpoint-media-min($md) {
                        width: 78%;
                        min-width: 78%;
                    }

                    @include helper-breakpoint-media-min($lg) {
                        padding-top: rem(20);
                        padding-bottom: rem(15);
                        margin-left: rem(-10);
                    }
                }
            }
        }

        &--fixed-input {
            max-width: rem(138);
            margin-bottom: rem(30);
            text-align: right;
        }

        &--shopping-list-alternative {
            margin-bottom: rem(10);

            #{$name}__col {
                width: 69%;
                min-width: 69%;

                @include helper-breakpoint-media-min($lg) {
                    width: 78%;
                    min-width: 78%;
                }

                &--image {
                    width: 31%;
                    min-width: 31%;

                    @include helper-breakpoint-media-min($lg) {
                        width: 22%;
                        min-width: 22%;
                    }
                }

                &--content {
                    width: 100%;
                    min-width: 100%;

                    @include helper-breakpoint-media-min($lg) {
                        width: 58%;
                        min-width: 58%;
                    }
                }

                &--total {
                    width: 100%;
                    min-width: 100%;

                    @include helper-breakpoint-media-min($lg) {
                        width: 42%;
                        min-width: 42%;
                    }
                }
            }
        }

        @content;
    }
}

@include shop-ui-product-card-item();
