$shop-ui-cart-items-counter-quantity-size: rem(16);

@mixin shop-ui-cart-items-counter($name: '.cart-items-counter') {
    #{$name} {
        &__quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $shop-ui-cart-items-counter-quantity-size;
            height: $shop-ui-cart-items-counter-quantity-size;
            background-color: $setting-color-main;
            border-radius: $setting-border-radius;
            color: $setting-color-white;
            text-align: center;
            font-size: rem(11);
            font-weight: fw(bold);
            margin: rem(6) 0 0 rem(1);

            @include helper-breakpoint-media-min($lg) {
                margin: rem(10) 0 0 rem(6);
            }
        }

        @content;
    }
}

@include shop-ui-cart-items-counter();
