.page-info {
    background-color: $setting-color-gray-7;
    padding: rem(10) 0 rem(12);

    @include helper-breakpoint-media-min($lg) {
        padding-top: rem(14);
    }

    &__title {
        padding-top: rem(4);
        font: fw(bold) rem(22)/rem(26) $setting-font-family;

        @include helper-breakpoint-media-min($lg) {
            padding-top: 0;
            font-size: rem(28);
            line-height: rem(36);
        }
    }
}
