{% extends view('search', '@SprykerShop:CmsSearchPage') %}

{% block form %}
    <div class="col col--sm-12 spacing-y spacing-y--inner">
        {% block tabsWidget %}
            {% widget 'FullTextSearchTabsWidget' args [data.searchString, 'FullTextSearchCmsPage'] only %}{% endwidget %}
        {% endblock %}
    </div>

    <div class="col col--sm-12 grid grid--gap">
        {% block formFilters %}
            {% block filterBar %}
                {% if data.facets | length %}
                    <div class="{{ formFiltersClassName }}">
                        <button
                            class="button button--justify button--additional js-catalog-filters-trigger is-hidden-lg-xxl spacing-bottom spacing-bottom--big">
                            {{ 'catalog.filter.and.sorting.button' | trans }}
                            {% include atom('icon') with {
                                modifiers: ['filter'],
                                data: {
                                    name: 'filter',
                                },
                            } only %}
                        </button>

                        {% include molecule('toggler-click') with {
                            attributes: {
                                'trigger-class-name': 'js-catalog-filters-trigger',
                                'target-class-name': 'js-filter-section',
                                'class-to-toggle': 'is-hidden-sm-md',
                            },
                        } only %}

                        {% include molecule('sticky-body-toggler') with {
                            attributes: {
                                'trigger-class-name': 'js-catalog-filters-trigger',
                                'class-to-fix-body': 'is-locked-mobile',
                            },
                        } only %}

                        {% include organism('filter-section', 'CatalogPage') with {
                            class: 'is-hidden-sm-md',
                            data: {
                                facets: data.facets,
                                filteredFacets: data.filteredFacets,
                                filterPath: data.filterPath,
                                parentJsName: pageJsName,
                                numberFormatConfig: numberFormatConfig,
                            },
                        } only %}
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block formContentWrapper %}
            {{ parent() }}
        {% endblock %}
    </div>

    {% if data.searchString is not empty %}
        <input type="hidden" name="q" value="{{ data.searchString }}">
    {% endif %}
{% endblock %}
