{% extends template('search-cms-template', '@SprykerShop:CmsSearchPage') %}

{%- block contentClass -%}page-layout-main page-layout-main--cms-search-page{%- endblock -%}

{% block formContentSort %}
    {% include molecule('sort', 'CatalogPage') with {
        data: {
            pagination: data.pagination,
            sort: data.sort,
            parentJsName: pageJsName,
        },
    } only %}
{% endblock %}

{% block formContentPaginationBottom %}
    {% include molecule('pagination') with {
        data: data.pagination,
    } only %}
{% endblock %}

{% block form %}
    <div class="col col--sm-12 spacing-y spacing-y--inner">
        {% block tabsWidget %}
            {% widget 'FullTextSearchTabsWidget' args [data.searchString, 'FullTextSearchCmsPage'] only %}{% endwidget %}
        {% endblock %}
    </div>

    {{ parent() }}

    {% if data.searchString is not empty %}
        <input type="hidden" name="q" value="{{ data.searchString }}">
    {% endif %}
{% endblock %}
