@mixin product-detail-page-product-carousel($name: '.product-carousel') {
    #{$name} {
        position: relative;

        .simple-carousel__container {
            padding: 0;
        }

        .product-image {
            position: relative;
            padding: 8px 0;
        }

        .pdp-carousel__container {
            height: 570px;
            position: relative;
            background: $setting-color-alpha-2;

            & > .pdp-img:not(:first-child) {
                opacity: 0;
            }

            .pdp-img {
                position: absolute;
                left: 0;
                top: 0;
                padding: 37px;
                width: 100%;
                height: 570px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $setting-color-white;
                z-index: $setting-zi-carousel - 1;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $setting-color-alpha-2;
                    z-index: $setting-zi-carousel + 1;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                &--color-active {
                    z-index: $setting-zi-carousel;
                    opacity: 1 !important;
                }
            }
        }

        .pdp-carousel__thumbnail {
            position: absolute;
            top: 20px;
            left: 30px;
            z-index: $setting-zi-carousel + 2;
            width: 70px;
            max-height: 424px;
            overflow: hidden;

            .thumb-prev,
            .thumb-next {
                padding: 5px 0 0;
                text-align: center;
                cursor: pointer;
                display: block !important;
                z-index: $setting-zi-carousel + 3;

                svg {
                    display: block;
                    width: 100%;
                    height: 7px;
                    color: $setting-color-gray-2;
                }

                &[aria-disabled="true"] {
                    cursor: default;
                    pointer-events: none;

                    svg {
                        color: transparent;
                    }
                }
            }

            .thumb-prev {
                padding: 0 0 5px;

                svg {
                    transform: rotate(180deg);
                }
            }

            .slick-slide {
                border: none;
            }

            .pdp-img {
                display: flex !important;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                padding: 5px;
                background: $setting-color-white;
                position: relative;
                margin: 15px 0;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $setting-color-alpha-3;
                    z-index: $setting-zi-carousel + 3;
                }
            }

            .slick-current .pdp-img::before {
                background: transparent;
            }

            ~ .pdp-carousel__container .pdp-img {
                padding-left: 110px;
            }
        }

        @content;
    }
}

@include product-detail-page-product-carousel;
