$sm-min: 0;
$sm-max: 549px;
$md-min: 550px;
$md-max: 769px;
$lg-min: 770px;
$lg-max: 969px;
$xl-min: 970px;
$xl-max: 1203px;
$xxl-min: 1204px;

$setting-breakpoints: (
    sm: ($sm-min, $sm-max),
    md: ($md-min, $md-max),
    lg: ($lg-min, $lg-max),
    xl: ($xl-min)
);
