$setting-color-main: #1cb696;
$setting-color-alt: #eb553c;

$setting-color-white: #fff;
$setting-color-black: #fff;

$setting-color-gray-1: #8f8f8f;
$setting-color-gray-2: #b2b2b2;
$setting-color-gray-3: #dce0e5;
$setting-color-gray-4: #4c4c4c;
$setting-color-gray-5: #393c44;
$setting-color-gray-6: #2f2f2f;


$setting-color-actions: (
    success: #11b683,
    warning: #f29133,
    alert: #b2171a
);
