$setting-color-main: #1cb696;
$setting-color-alt: #eb553c;

$setting-color-white: #fff;
$setting-color-black: #000;

$setting-color-gray-1: #dce0e5;
$setting-color-gray-2: #b2b2b2;
$setting-color-gray-3: #8f8f8f;
$setting-color-gray-4: #4c4c4c;
$setting-color-gray-5: #393c44;
$setting-color-gray-6: #2f2f2f;
$setting-color-gray-7: #e7eaee;
$setting-color-gray-8: #d0d5dc;
$setting-color-gray-9: #000105;
$setting-color-gray-10: #404341;
$setting-color-gray-11: #f0f0f0;
$setting-color-gray-12: #d1d1d1;
$setting-color-gray-13: #f5f5f5;
$setting-color-gray-14: #d8d8d8;
$setting-color-gray-15: #9ea1a7;
$setting-color-gray-16: #353535;

$setting-color-blue-1: #0059ab;

$setting-color-yellow-1: #fdbe36;

$setting-color-transparent: rgba($setting-color-white, 0);

$setting-color-bg: $setting-color-white;
$setting-color-text: $setting-color-gray-4;
$setting-color-input-border: $setting-color-gray-1;
$setting-color-input-border-focus: $setting-color-gray-3;

$setting-color-shadow: rgba($setting-color-black, 0.1);
$setting-color-shadow-1: rgba($setting-color-black, 0.05);

$setting-color-overlay: rgba($setting-color-gray-6, 0.4);


$setting-color-actions: (
    success: #11b683,
    warning: #f29133,
    alert: #b2171a
);
