$setting-color-main: #1ebea0;
$setting-color-alt: #eb553c;

$setting-color-white: #fff;
$setting-color-black: #000;

$setting-color-gray-1: #dce0e5;
$setting-color-gray-2: #b2b2b2;
$setting-color-gray-3: #8f8f8f;
$setting-color-gray-4: #4c4c4c;
$setting-color-gray-5: #333;
$setting-color-gray-6: #e7eaee;
$setting-color-gray-7: #f0f0f0;

$setting-color-blue-1: #0064b4;

$setting-color-yellow-1: #fdbe36;
$setting-color-yellow-2: #fdcb5e;

$setting-color-alpha-1: rgba($setting-color-black, 0.1);
$setting-color-alpha-2: rgba($setting-color-black, 0.05);
$setting-color-alpha-3: rgba($setting-color-gray-2, 0.3);
$setting-color-alpha-4: rgba($setting-color-white, 0.6);
$setting-color-alpha-5: rgba($setting-color-alt, 0.1);
$setting-color-alpha-6: rgba($setting-color-black, 0.2);
$setting-color-alpha-7: rgba($setting-color-gray-5, 0.8);
$setting-color-alpha-8: rgba($setting-color-yellow-1, 0.2);
$setting-color-alpha-9: rgba($setting-color-main, 0.15);

$setting-color-overlay: rgba($setting-color-gray-5, 0.4);

$setting-color-bg: $setting-color-white;
$setting-color-text: $setting-color-gray-4;
$setting-color-input-border: $setting-color-gray-1;
$setting-color-input-border-focus: $setting-color-gray-3;

$setting-color-shadow: $setting-color-alpha-1;
$setting-color-shadow-1: $setting-color-alpha-2;
$setting-color-shadow-2: $setting-color-alpha-6;

$setting-color-dark: $setting-color-gray-3;

$setting-color-actions: (
    success: #1ebea0,
    warning: #fdbe36,
    alert: #eb553c,
);
