$setting-font-family: 'Circular', sans-serif;

$setting-font-size: (
    1: 3.125rem,
    2: 2rem,
    3: 1.5rem,
    4: 1.125rem,
    5: 1rem,
    6: 0.875rem,
    big: 1.125rem,
    default: 1rem,
    small: 0.875rem,
    tiny: 0.75rem,
);

$setting-font-weight: (
    regular: 400,
    medium: 500,
    bold: 700,
);
