$setting-font-family: 'Source Sans 3', sans-serif;

$setting-font-size: (
    1: rem(40),
    2: rem(32),
    3: rem(24),
    4: rem(21),
    5: rem(21),
    6: rem(16),
    big: rem(18),
    default: rem(16),
    small: rem(14),
    tiny: rem(12),
    xsmall: rem(10),
);

$setting-font-weight: (
    regular: 400,
    bold: 600,
    extrabold: 800,
);
