$setting-font-family: 'Circular', sans-serif;

$setting-font-size: (
    1: rem(50),
    2: rem(32),
    3: rem(24),
    4: rem(18),
    5: rem(16),
    6: rem(14),
    big: rem(18),
    default: rem(16),
    small: rem(14),
    tiny: rem(12),
);

$setting-font-weight: (
    regular: 400,
    medium: 500,
    bold: 700,
);
