$setting-zi-substrate: -1;
$setting-zi-element: 1;
$setting-zi-icon: 3;
$setting-zi-company-menu: 10;
$setting-zi-overlay: 650;
$setting-zi-dropdown: 1000;
$setting-zi-custom-select: 1150;
$setting-zi-header: 1160;
$setting-zi-header-switcher: 1170;
$setting-zi-header-overlay: 1170;
$setting-zi-side-drawer: 1200;
$setting-zi-notification-area: 1250;
