.privacy-navigation {
    width: 25%;
    position: absolute;
    right: 0;
    text-align: left;
    padding-left: $setting-grid-space;
    padding-right: $setting-grid-space;

    &__item:not(:first-child) {
        padding-top: 5px;
    }
}
