@mixin agent-widget-customer-list($name: '.customer-list') {
    #{$name} {
        &__container-item {
            cursor: pointer;
            padding: 0;
            font-size: rem(14);

            &:hover {
                color: $setting-color-alt;
                text-decoration: underline;
            }
        }

        @content;
    }
}

@include agent-widget-customer-list();
