{% extends template('page-layout-home', 'HomePage') %}

{% block pageInfo %}{% endblock %}

{% block content %}

    <section class="common-section spacing-top--inner spacing-top--big">
        <div class="container">
            {{ spyCmsBlock({
                name: 'Featured Products'
            }) }}
        </div>
    </section>

    <section class="common-section spacing-top--inner spacing-top--big">
        <div class="container">
            {{ spyCmsBlock({
                name: 'Featured Categories'
            }) }}
        </div>
    </section>

    <section class="common-section common-section--bg-dark">
        <div class="container">
            {{ spyCmsBlock({
                name: 'Top Seller'
            }) }}
        </div>
    </section>

    <section class="common-section">
        <div class="container">
            {{ spyCmsBlock({
                name: 'Teaser for home page'
            }) }}
        </div>
    </section>

{% endblock %}
