{% extends model('component') %}

{% define config = {
    name: 'date-time-picker',
    tag: 'date-time-picker',
} %}

{% define data = {
    field: required,
    fieldClass: '',
    hasIcon: false,
} %}

{% define attributes = {
    'language': required,
    'parent-id': '.' ~ config.name,
    'config': '{}',
    'formatted-date-time': '',
    'date-from-id': false,
    'date-to-id': false,
} %}

{% block body %}
    <div class="{{ config.name }}__content">
        {{ form_row(data.field, {
            attr: {
                class: config.name ~ '__field' ~ (data.fieldClass ? ' ' ~ data.fieldClass),
            },
        }) }}

        {% if data.hasIcon %}
            {% include atom('icon') with {
                class: config.name ~ '__icon',
                data: {
                    name: 'calendar',
                },
            } only %}
        {% endif %}
    </div>
{% endblock %}
