@mixin shop-ui-title($name: '.title') {
    #{$name} {
        &--footer {
            font: fw(bold) rem(16)/rem(34) $setting-font-family;
            margin-bottom: rem(10);
        }

        &--subscription-info {
            font: fw(medium) rem(34)/rem(43) $setting-font-family;
            letter-spacing: rem(0.3);
            margin-bottom: rem(17);
        }

        &--checkout {
            font-size: rem(28);
            font-weight: fw(bold);
            color: $setting-color-gray-5;
            margin-bottom: rem(25);
        }

        &--checkout-second {
            font-size: rem(24);
            font-weight: fw(medium);
            color: $setting-color-gray-5;
            margin-bottom: rem(14);
        }

        &__index {
            color: $setting-color-main;
            margin-right: map-get($setting-spacing, 'default');
        }

        &--shopping-list-alternative {
            font: fw(medium) rem(24)/normal $setting-font-family;
            margin-bottom: 0;
            color: $setting-color-gray-5;
        }

        &--sub {
            color: $setting-color-gray-3;
            font-size: rem(18);
            line-height: 1.61;
            margin-bottom: rem(12);
        }

        &--error-page {
            font: fw(bold) rem(32)/rem(41) $setting-font-family;
            color: $setting-color-gray-6;
            margin-bottom: rem(7);
        }

        @content;
    }
}

@include shop-ui-title;
