{% extends model('component') %}

{% define config = {
    name: 'checkout-list',
    tag: 'ul'
} %}

{% define data = {
    choices: required,
    form: required
} %}

{% block body %}

    {% for key, choice in data.choices %}
        <li class="{{ config.name }}__item">
            {% block contentItem %}
                {% if key == 0 %}
                    {{ form_row(data.form[key], {
                        label: '<span class="col">' ~ data.form[key].vars.label ~ '</span> <span class="col">price</span>',
                        required: false,
                        attributes: {
                            'checked': 'checked'
                        }
                    }) }}
                {% else %}
                    {{ form_row(data.form[key], {
                        label: '<span class="col">' ~ data.form[key].vars.label ~ '</span> <span class="col">price</span>',
                        required: false
                    }) }}
                {% endif %}
            {% endblock %}
        </li>
    {% endfor %}

{% endblock %}