.checkout-list {

    &--bottom-margin {
        margin-bottom: rem(30);
    }

    &__item {
        display: block;
        position: relative;

        &:not(:first-child) {
            .radio__box,
            .toggler-radio__box {
                &::before {
                    border-top: none;
                }
            }
        }

        &:last-child {
            .radio__box,
            .toggler-radio__box {
                &::before {
                    border-bottom-left-radius: $setting-border-radius;
                    border-bottom-right-radius: $setting-border-radius;
                }
            }
        }
    }

    &__content {
        margin-top: rem(-8);
        padding: 0 rem(30) rem(22) rem(64);
        position: relative;
    }

    .form {
        padding: 0;
    }

    .radio,
    .toggler-radio {
        &__container {
            padding: rem(30);
            display: flex;
            align-items: center;
        }

        &__box::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $setting-color-gray-7;
        }

        &__label {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            margin-bottom: 0;
        }

        &__input:checked ~ {
            .radio__box,
            .toggler-radio__box {
                &::before {
                    border-color: $setting-color-gray-18;
                    box-shadow: 0 10px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
                }
            }
        }
    }

    .toggler-radio {
        position: static;
    }
}