{% extends model('component') %}

{% define config = {
    name: 'checkout-list',
    tag: 'ul',
} %}

{% define data = {
    choices: required,
    form: required,
    checkedValue: '',
} %}

{% block body %}
    {% for key, choice in data.choices %}
        <li class="{{ config.name }}__item">
            {% block contentItem %}
                {% set parts = data.form[key].vars.label | split(':') %}

                {{ form_row(data.form[key], {
                    label: '<span class="col">' ~ parts[0] ~ '</span> <span class="col">' ~ parts[1] ~ '</span>',
                    required: false,
                    attributes: {
                        checked: choice.value == data.checkedValue,
                    },
                    rowAttr: {
                        class: 'radio radio--checkout' ~ (key != 0 ? ' radio--border-top-less'),
                    },
                }) }}
            {% endblock %}
        </li>
    {% endfor %}
{% endblock %}
