/* stylelint-disable */

.checkout-list {

    &--bottom-margin {
        margin-bottom: rem(30);
    }

    &__item {
        display: block;
        position: relative;

        &:not(:first-child) {
            .radio__box,
            .toggler-radio__box {
                &::before {
                    border-top: none;
                }
            }
        }

        &:last-child {
            .radio__box,
            .toggler-radio__box {
                &::before {
                    border-bottom-left-radius: $setting-border-radius;
                    border-bottom-right-radius: $setting-border-radius;
                }
            }
        }
    }

    &__content {
        margin-top: rem(-8);
        padding: 0 rem(30) rem(22) rem(64);
        position: relative;
    }

    .form {
        padding: 0;
    }

    .radio,
    .toggler-radio {
        &__container {
            padding: rem(26) rem(20) rem(26) rem(25);
            display: flex;
            align-items: center;

            @include helper-breakpoint-media-min($md) {
                padding: rem(30);
            }
        }

        &__box {
            width: rem(24);
            height: rem(24);
            line-height: rem(24);

            @include helper-breakpoint-media-min($lg) {
                width: rem(26);
                height: rem(26);
                line-height: rem(26);
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border: 1px solid $setting-color-gray-6;
            }
        }

        &__label {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            margin-bottom: 0;
        }

        &__input:checked ~ {
            .radio__box,
            .toggler-radio__box {
                box-shadow: inset 0 0 0 rem(8) $setting-color-main;
                border-width: 0;

                @include helper-breakpoint-media-min($lg) {
                    box-shadow: inset 0 0 0 rem(6) $setting-color-main;
                }

                &::before {
                    border-color: $setting-color-gray-7;
                    box-shadow: 0 rem(10) rem(18) 0 $setting-color-shadow-1, 0 rem(3) rem(3) 0 $setting-color-shadow-1;
                }
            }
        }
    }

    .toggler-radio {
        position: static;
    }
}
