{% extends model('component') %}

{% define config = {
    name: 'table-action-span',
    tag: 'span',
} %}

{% define data = {
    icon: required,
    title: required,
    iconModifiers: [],
} %}

{% set title = data.title %}

{% block body %}
    {% include molecule('icon-tooltip') with {
        modifiers: data.iconModifiers,
        data: {
            icon: data.icon,
            text: title | trans,
        },
    } only %}
    <span class="{{ config.name }}__title is-hidden-lg-xxl">{{ title | trans }}</span>
{% endblock %}
