.product-replacement {
    margin-top: rem(60);

    &__title {
        font-size: rem(32);
        font-weight: fw(medium);
        line-height: normal;
        text-align: center;
        color: $setting-color-gray-5;
        margin-bottom: rem(33);
    }
}
