{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.form,
    addresses: _view.addresses,
    title: null,
    activePage: 'business-unit'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview')
                }, {
                    label: 'company.account.business_unit' | trans,
                    url: url('company/business-unit')
                }, {
                    label: 'company.account.business_unit.edit' | trans
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    {% include molecule('action-bar', 'ShopUi') with {
        data: {
            title: 'company.account.business_unit.edit_information' | trans,
            actions: [
                {
                    title: 'general.back.button' | trans,
                    url: url('company/business-unit')
                },
                {
                    title: 'company.account.business_unit.delete' | trans,
                    url: url('company/business-unit/delete', {'id': data.form.vars.value.id_company_business_unit }),
                    modifiers: ['red'],
                    icon: 'delete'
                }
            ]
        }
    } only %}

    {% embed molecule('form') with {
        data: {
            form: data.form,
            layout: {
                email: 'col col--sm-12 col--lg-6',
                phone: 'col col--sm-12 col--lg-6'
            },
            submit: {
                enable: true,
                class: 'button form__action--primary'
            },
            cancel: {
                enable: true,
                url: url('company/business-unit'),
                text: 'general.back.button' | trans,
                icon: null,
                class: 'button button--hollow'
            },
            embed: {
                addresses: data.addresses
            }
        }
    } only %}
        {% block field %}
            {% if field.vars.name == 'address_collection' %}
                <div class="form__field form__field--section">
                    {% do field.setRendered %}
                    {% include molecule('business-unit-address-list', 'CompanyPage') with {
                        data: {
                            field: field,
                            addresses: data.embed.addresses,
                            idCompanyBusinessUnit: data.form.vars.value.id_company_business_unit
                        }
                    } only %}
                </div>
            {% else %}
                {{parent()}}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
