{% extends view('business-unit-update', '@SprykerShop:CompanyPage') %}

{% block companyContent %}
    {% include molecule('action-bar') with {
        modifiers: ['narrow'],
        data: {
            title: 'company.account.business_unit.edit_information' | trans,
            actions: [
                {
                    title: 'company.account.business_unit.delete' | trans,
                    url: url('company/business-unit/delete-confirmation', {'id': data.form.vars.value.id_company_business_unit }),
                    modifiers: ['alternative', 'hollow'],
                    icon: 'delete',
                },
            ],
        },
    } only %}
    {% embed molecule('form') with {
        modifiers: ['narrow'],
        data: {
            form: data.form,
            shouldRequireMessage: true,
            layout: {
                email: 'col col--sm-12 col--lg-6',
                phone: 'col col--sm-12 col--lg-6',
            },
            cancel: {
                enable: true,
                url: url('company/business-unit'),
                text: 'general.back.button' | trans,
                icon: null,
                class: 'form__action--expand-sm-md button button--hollow',
            },
            submit: {
                enable: true,
                class: 'form__action--expand-sm-md form__action--sm-md-first button',
            },
            embed: {
                addresses: data.addresses,
            },
        },
    } only %}
        {% block field %}
            {% if field.vars.name == 'address_collection' %}
                <div class="form__field form__field--section">
                    {% do field.setRendered %}
                    {% include molecule('business-unit-address-list', 'CompanyPage') with {
                        data: {
                            field: field,
                            addresses: data.embed.addresses,
                            idCompanyBusinessUnit: data.form.vars.value.id_company_business_unit,
                        },
                    } only %}
                </div>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
