{% extends view('currency-switcher', '@SprykerShop:CurrencyWidget') %}

{% block body %}
    <form method="GET" action="{{ path('currency-switch') }}">
        {% set options = [] %}

        {% for currency in data.currencies %}
            {% set options = options | merge([{
                label: currency.code | trans,
                value: currency.code,
                selected: currency.code == data.currentCurrency,
            }]) %}
        {% endfor %}

        {% include molecule('custom-select') with {
            modifiers: ['alternative'],
            data: {
                options: options,
            },
            attributes: {
                name: 'currency-iso-code',
                'data-form-submitter': true,
                'config-theme': 'alternative',
            },
        } only %}

        <input type="hidden" name="referrer-url" value="{{ data.requestUri }}">
    </form>
{% endblock %}
