$catalog-space-x: rem(14);
$name: '.product-card';

@include shop-ui-product-card ($name) {
    height: auto;
    padding: 0 0 rem(15);

    @include helper-breakpoint-media-min($lg) {
        padding-bottom: rem(30);
    }

    &--equal-height {
        height: auto;
    }

    &--full-height {
        height: 100%;
    }

    &__container {
        padding: 0;
        height: 100%;

        @include helper-breakpoint-media-min($lg) {
            padding: rem(8) rem(10) rem(15);
        }

        @include helper-breakpoint-media-min($xl) {
            padding: rem(8) rem(28) rem(40);
        }

        &:hover {
            @include helper-breakpoint-media-min($xl) {
                #{$name}__image-wrap--catalog::before {
                    background-color: $setting-color-transparent;
                }

                #{$name}__overlay {
                    color: $setting-color-gray-4;

                    &::before {
                        box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
                        background-color: $setting-color-transparent;
                    }
                }

                .color-selector {
                    opacity: 1;
                }
            }
        }

        &--catalog {
            padding: 0 $catalog-space-x rem(26);
        }

        &--product-set {
            padding: 0 $catalog-space-x rem(26);
        }

        &--stretch {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
        }
    }

    &__image-wrap {
        position: relative;
        padding: rem(12) 0;
        margin-bottom: rem(17);
        flex-basis: 100%;

        @include helper-breakpoint-media-min($lg) {
            padding-left: rem(10);
            padding-right: rem(10);
        }

        @include helper-breakpoint-media-min($xl) {
            margin: 0 (-$catalog-space-x) rem(15);
            padding: rem(8) $catalog-space-x;
        }

        &--product-set {
            max-height: rem(243);
        }

        &--catalog {
            &::before {
                @include helper-effect-transition(background-color box-shadow);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $setting-color-alpha-2;
                z-index: $setting-zi-element;
            }
        }
        &--stretch {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__overlay {
        display: -webkit-box;
        color: $setting-color-gray-9;
        font-weight: fw(medium);
        letter-spacing: rem(0.1);
        font-size: rem(14);
        line-height: rem(16);
        height: rem(49);
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include helper-breakpoint-media-min($lg) {
            height: rem(64);
            font-size: rem(18);
            line-height: rem(21);
        }

        @include helper-breakpoint-media-min($xl) {
            height: rem(76);
            font-size: rem(20);
            line-height: rem(25);
            letter-spacing: rem(0.2);
        }

        &::before {
            content: '';
            @include helper-effect-transition(background-color box-shadow);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: rem(220);
            background-color: $setting-color-alpha-2;
            z-index: $setting-zi-element;

            @include helper-breakpoint-media-min($lg) {
                height: auto;
                bottom: 0;
            }
        }

        &--catalog {
            font-size: rem(16);
            line-height: normal;
            letter-spacing: rem(0.1);
            color: $setting-color-gray-5;

            &::before {
                background-color: $setting-color-transparent;
            }
        }

        &--product-set {
            font-size: rem(16);
            line-height: normal;
            letter-spacing: rem(0.1);
        }

        &:hover {
            @include helper-breakpoint-media-min($xl) {
                color: $setting-color-gray-4;

                &::before {
                    box-shadow: 0 18px 18px 0 $setting-color-shadow-1, 0 3px 3px 0 $setting-color-shadow-1;
                    background-color: $setting-color-transparent;
                }
            }
        }
    }

    &__info {
        max-width: 100%;
    }

    &__variant {
        position: relative;
        z-index: $setting-zi-element + 2;
    }

    &__category {
        display: block;
        font-size: rem(13);
        line-height: rem(16);
        letter-spacing: rem(0.2);
        font-weight: fw(regular);
        color: $setting-color-gray-3;
        margin-top: rem(3);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(16);
            line-height: rem(20);
        }
    }

    &__rating {
        margin-top: rem(4);

        @include helper-breakpoint-media-min($lg) {
            margin-top: rem(11);
        }
    }

    &__price {
        margin-top: rem(15);

        @include helper-breakpoint-media-min($lg) {
            margin-top: rem(25);
        }
    }

    &__actions {
        position: relative;
        z-index: $setting-zi-element + 1;
    }
}
