@mixin shop-ui-footer($name: '.footer') {
    #{$name} {
        background-color: $setting-color-gray-6;

        &__subscribe {
            @include helper-breakpoint-media-min($md) {
                padding-top: rem(20);
                padding-bottom: rem(32);
            }

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(50);
                padding-bottom: rem(50);
            }

            @include helper-breakpoint-media-min($xl) {
                padding-top: rem(77);
                padding-bottom: rem(77);
            }
        }

        &__logos {
            @include helper-breakpoint-media-min($md) {
                background-color: $setting-color-bg;
                padding: 0.5rem 0 0;
                box-shadow: 0 3px 3px 0 $setting-color-shadow-1, 0 18px 18px 0 $setting-color-shadow-1;
            }

            @include helper-breakpoint-media-min($lg) {
                padding: rem(26) 0;
            }
        }

        &__navigation {
            @include helper-breakpoint-media-min($md) {
                padding-top: rem(35);
            }

            @include helper-breakpoint-media-min($lg) {
                padding-top: rem(54);
            }
        }

        &__contact-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-top: solid 1px $setting-color-white;

            @include helper-breakpoint-media-min($md) {
                border-top: 0;
            }

            @include helper-breakpoint-media-min($lg) {
                display: block;
            }

            &::after {
                display: none;
            }
        }

        &__contact-info-item {
            @include helper-effect-transition(color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $setting-color-gray-5;
            font-size: rem(14);
            font-weight: fw(medium);
            text-align: center;
            width: calc(50% - #{rem(10)});
            min-height: rem(70);
            border: solid 1px $setting-color-gray-2;
            border-radius: $setting-border-radius;

            @include helper-breakpoint-media-min($lg) {
                display: block;
                width: 100%;
                min-height: 0;
                border: none;
                font-size: rem(15);
                text-align: left;
            }

            @include helper-breakpoint-media-min($xl) {
                font-size: rem(18);
                line-height: rem(23);
            }
        }

        &__phone {
            @include helper-breakpoint-media-min($lg) {
                display: block;
                margin-bottom: 1rem;
                color: $setting-color-gray-4;
            }

            &:hover,
            &:focus {
                color: $setting-color-gray-3;
            }
        }

        &__social-buttons {
            margin-top: rem(31);
            margin-bottom: rem(23);
            flex-direction: column-reverse;

            @include helper-breakpoint-media-min($md) {
                margin-top: rem(42);
                margin-bottom: rem(47);
                flex-direction: row;
            }
        }

        &__hint {
            font-size: rem(13);
            line-height: 1rem;
            text-align: center;
            color: $setting-color-gray-2;
            letter-spacing: rem(0.54);
            padding-bottom: rem(12);

            @include helper-breakpoint-media-min($md) {
                text-align: left;
            }
        }

        &__thanks-certeo {
            font-size: rem(13);
            line-height: 1rem;
            text-align: center;
            color: $setting-color-gray-3;
            letter-spacing: rem(0.54);

            @include helper-breakpoint-media-min($md) {
                text-align: left;
            }
        }

        &__copyright {
            background-color: $setting-color-blue-1;
            text-align: center;
            color: $setting-color-white;
        }

        @content;
    }
}

@include shop-ui-footer();
