.filter-range {

    &__inputs {
        margin-top: rem(20);
        font-weight: fw(medium);
        color: $setting-color-gray-4;
    }

    &__input-wrap {
        position: relative;
    }

    &__currency {
        position: absolute;
        right: rem(1);
        top: rem(1);
        bottom: rem(1);
        border-radius: 0 $setting-border-radius $setting-border-radius 0;
        width: rem(40);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $setting-color-bg;
        font-size: rem(12);
    }
}
