@mixin configurable-bundle-page-configurator-sidebar($name: '.configurator-sidebar') {
    $configurable-bundle-page-configurator-sidebar-items-row-amount: 5;

    #{$name} {
        margin: 0 0 rem(40);

        &__item {
            width: calc(100% / #{$configurable-bundle-page-configurator-sidebar-items-row-amount});
            border-left: 1px solid $setting-color-gray-6;
            border-bottom: 1px solid $setting-color-gray-6;

            &:nth-child(#{$configurable-bundle-page-configurator-sidebar-items-row-amount}n + 1) {
                border-left: 0;
            }
        }

        @content;
    }
}

@include configurable-bundle-page-configurator-sidebar();
