.cart-item-variant-selector {

    &__label {
        font-size: rem(14);
        font-weight: fw(medium);
        line-height: normal;
        color: $setting-color-gray-6;
        margin-right: rem(20);
    }
}