@include shop-ui-price {
    $name: &;

    &--pdp {
        margin-bottom: 23px;
    }

    &--cart {
        margin-bottom: $setting-grid-space;
    }

    &__amount {
        font-weight: fw(medium);
        line-height: map_get($setting-font-line-height, 2);
        color: $setting-color-gray-4;

        &--pdp {
            font-size: rem(26);
            font-weight: rem(bold);
            line-height: normal;
        }

        &--cart {
            font-weight: fw(bold);
            line-height: normal;
            color: $setting-color-gray-6;
        }

        &--catalog {
            color: $setting-color-gray-6;
        }

        &--original {
            @include helper-font-size(big);
            display: inline-block;
            color: $setting-color-gray-2;
            font-weight: fw(regular);
            margin-left: rem(4);
        }

        &--alt {
            color: $setting-color-alt;
        }
    }

    &__mode {
        color: $setting-color-gray-2;
        font-size: rem(12);
        font-weight: fw(regular);
        line-height: rem(15);
        margin-left: 5px;

        &--pdp {
            font-size: rem(13);
            line-height: normal;
        }

        &--cart,
        &--catalog-list {
            display: block;
        }
    }
}
