@include shop-ui-price {

    &__amount {
        font-weight: fw(medium);
        line-height: map_get($setting-font-line-height, 2);
        color: $setting-color-gray-4;


        &--original {
            @include helper-font-size(big);
            display: inline-block;
            color: $setting-color-gray-2;
            font-weight: fw(regular);
            margin-left: rem(4);
        }

        &--alt {
            color: $setting-color-alt;
        }

        &--catalog {
            color: $setting-color-gray-6;
        }
    }
}
