@import '../checkbox/checkbox';
@mixin shop-ui-radio($name: '.radio') {
    @include shop-ui-checkbox($name) {

        &__box {
            @include helper-effect-transition(border-color);
            border-radius: 100%;
        }

        &__check {
            display: none;
        }

        &__input:checked ~ {

            #{$name}__box {
                border-width: rem(2);
                background-color: $setting-color-main;
                border-color: $setting-color-main;
                box-shadow: inset 0 0 0 rem(3) $setting-color-bg;
            }
        }

        @content;
    }
}
@include shop-ui-radio;
