@mixin checkout-page-shipment-wrapper($name: '.shipment-wrapper') {
    #{$name} {
        margin-bottom: rem(35);

        &__group-heading {
            font-weight: fw(bold);
            margin-bottom: rem(5);
        }

        &__sidebar-item {
            background-color: $setting-color-gray-8;
            padding: rem(20) rem(15);
            margin-bottom: rem(20);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: rem(20);
            }
        }

        &__sidebar-title {
            margin-bottom: rem(10);
            font-weight: fw(bold);
        }

        &__sidebar-content {
            font-size: rem(15);
            line-height: 1.47;
            color: $setting-color-gray-3;
        }

        @content;
    }
}

@include checkout-page-shipment-wrapper();
