@mixin shop-ui-product-item-options($name: '.product-item-options') {
    #{$name} {
        margin: rem(8) 0;

        &--summary {
            margin-top: rem(4);

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(16);
            }
        }

        &__item {
            font-size: rem(13);
            color: $setting-color-gray-3;
            display: block;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }
        }

        &__total-price {
            @include helper-breakpoint-media-min($lg) {
                float: right;
            }
        }

        @content;
    }
}

@include shop-ui-product-item-options();
