{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'product-item-options',
    tag: 'ul',
} %}

{% define data = {
    productItem: {},
    options: [],
} %}

{% block body %}
    <li class="{{ component.renderClass(config.name ~ '__item', modifiers) }}">
        {% if data.productItem %}
            {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                modifiers: ['no-border'],
                data: {
                    options: data.productItem.productOptions | default([]),
                },
            } only %}
        {% else %}
            <ul class="list list--expand list--plus">
                {% for option in data.options %}
                    <li class="list__item">
                        {{ option.value | trans }} - {{ (option.sumPrice | default(0)) | money }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}
