{% extends molecule('assets-preview','@SprykerFeature:SelfServicePortal') %}

{% block more %}
    <div class="spacing-top text-right">
        <a class="link link--alt link--smaller" href="{{ path('customer/ssp-asset') }}">{{ 'ssp_dashboard.general.view_all' | trans }}</a>
    </div>
{% endblock %}
