@mixin shop-ui-banner($name: '.banner') {
    #{$name} {
        overflow: hidden;
        height: rem(200);
        margin-bottom: rem(10);

        @include helper-breakpoint-media-min($lg) {
            height: rem(450);
            margin-bottom: rem(30);
        }

        &--medium {
            height: rem(400);
        }

        &--small {
            height: rem(200);

            @include helper-breakpoint-media-min($lg) {
                height: rem(340);
            }
        }

        &--color-second {
            color: $setting-color-white;
        }

        &__container {
            min-height: 100%;
            background-color: $setting-color-main;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            position: relative;
            padding: 0 rem(10);
            margin: 0 rem(15);

            @include helper-breakpoint-media-min($lg) {
                text-align: left;
            }

            @include helper-breakpoint-media-min($xl) {
                padding: 0 rem(30);
            }

            &--product-set {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                color: $setting-color-white;
                text-align: center;
                font-size: rem(38);
                line-height: rem(52);
            }
        }

        &__title,
        &__text {
            color: $setting-color-white;
        }

        &__title {
            font-size: rem(26);
            line-height: rem(30);
            font-weight: fw(medium);
            margin-bottom: rem(10);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(30);
                line-height: rem(30);
                margin-bottom: rem(13);
            }
        }

        &__text {
            font-size: rem(16);
            line-height: normal;
            font-weight: fw(regular);
            margin-bottom: rem(26);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(18);
                margin-bottom: rem(35);
            }
        }

        &__success-text {
            font-size: rem(22);
            letter-spacing: rem(0.4);
        }

        @content;
    }
}

@include shop-ui-banner;
