.checkout-wrap {
    padding: 0 rem(4);

    @include helper-breakpoint-media-min($lg) {
        border-radius: $setting-border-radius;
        border: 1px solid $setting-color-gray-6;
        padding: rem(30) rem(40) rem(40);
    }

    &__container {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $setting-color-gray-6;
        width: calc(100% + #{rem(76)});

        @include helper-breakpoint-media-min($lg) {
            padding: 0 rem(38) rem(22);
            margin: rem(10) rem(-30) rem(30);
        }

        &--top {
            margin-top: 0;
            margin-bottom: rem(16);
            padding-top: 0;
            padding-bottom: rem(16);
            border-top: none;

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(-8);
            }
        }
    }
}
