.checkout-wrap {
    border-radius: $setting-border-radius;
    border: 1px solid $setting-color-gray-7;
    padding: rem(30) rem(40) rem(40);

    &__container {
        margin: rem(10) rem(-30) rem(30);
        padding: 0 rem(38) rem(22);
        border-bottom: 1px solid $setting-color-gray-7;
        width: calc(100% + #{rem(76)});

        &--top {
            margin-top: -0.5rem;
            padding-top: 0;
            border-top: none;
        }
    }
}