.user-share-list {
    &__item {
        background-color: $setting-color-gray-7;
        margin-bottom: rem(5);
        padding-left: rem(30);
        border-radius: $setting-border-radius;
    }

    .custom-select__select,
    .select2-container .select2-selection__rendered {
        border: none;
        background-color: $setting-color-transparent;
    }
}
