.cart-bottom {
    padding: rem(10) 0 rem(20);

    @include helper-breakpoint-media-min($lg) {
        padding-top: 0;
    }

    @include helper-breakpoint-media-min($xxl) {
        padding: 0 $setting-grid-space * 2 0 0;
    }
}
