@mixin agent-control-bar($name: '.agent-control-bar') {
    #{$name} {
        position: relative;
        background-color: $setting-color-gray-6;
        z-index: $setting-zi-header + 1;

        .body-has-overlay & {
            z-index: auto;
        }

        &__container {
            @include helper-breakpoint-media-max($md) {
                flex-direction: column-reverse;
                text-align: right;
            }
        }

        &__header {
            padding: rem(22) 0;
        }

        &__footer {
            background-color: $setting-color-lightest;
        }

        @content;
    }
}

@include agent-control-bar();
